{% extends "base.html" %}
{% load i18n plmapp_tags %}

<!-- Manage html display in the Content div which correspond to the "files" menu -->

{% block css %}
    <link type="text/css" href="{{STATIC_URL}}css/files.css" rel="Stylesheet" />
{% endblock %}
{% block content %}
    {% if is_contributor %}
        <h3 class="hplm">{% trans "Upload files and document creation" %} </h3>
    <div>
        <p>
        {% trans "Select files to upload, then click on upload button to create your document" %}
        </p>
        <div id="add_file_container" class="hidden">
            {% include "documents/files_add.html" %}
            <div id="add-file-nojs">
                <a href="add/">{% trans "Add file (no javascript)" %}</a>
            </div>
        </div>

        <noscript>
            <a class="tb-btn" href="./add/">
                <span class="ui-button-text">{% trans "ADD" %}</span>
            </a>
        </noscript>
    </div>
    {% endif %}

{% endblock %}


