{% extends "base.html" %}
{% load i18n plmapp_tags %}

<!-- Manage html display in the Content div which correspond to the "files" menu -->

{% block css %}
<link type="text/css" href="{{STATIC_URL}}css/files.css" rel="Stylesheet" />
<style type="text/css">
.hidden{
    display:none;
}
</style> 
{% endblock %}
{% block scripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#dialog_check-out").dialog({
            modal: true,
            autoOpen: false
            });
            $("a.check-out").click(function(e) {
                e.preventDefault();
                var url = $(this).attr("href");
                $("#dialog_check-out").dialog('option', 'buttons', {
                    "CANCEL": function() {
                        $(this).dialog("close");
                        },
                        "CHECK-OUT": function() {
                        $(location).attr('href',url); 
                        $(this).dialog("close");
                        }
                    });
                    $("#dialog_check-out").dialog();
                    $("#dialog_check-out").dialog("open");
                    return false;
            });

            $("#s_all").click(function(){
                $("td.Content > input:checkbox").attr("checked",true);
                $("#s_all").addClass("hidden");
                $("#des_all").removeClass("hidden");
            });
            $("#des_all").click(function(){
                $("td.Content > input:checkbox").attr("checked",false);
                $("#s_all").removeClass("hidden");
                $("#des_all").addClass("hidden");
            });
            $("a.check-out-link").click(function(){
                var a=$(this);
                setTimeout(function(){
                    a.parents(".file").find(".status").toggle();
                    a.parents(".file").find(".checkin").toggle();
                    a.hide();
                }, 500);
            });

        });
    </script>

{% endblock scripts %}

{% block content %}
    {% if is_owner and obj.is_editable %}
    <div id="add_file_container" style="border-bottom: 2px dotted black; padding-bottom:1%; margin-bottom:1%" class="hidden">
        <a id="add-file-nojs" href="add/">{% trans "Add file (no javascript)" %}</a>
        {% include "documents/files_add.html" %}
    </div>
    {% elif is_owner %}
        {% trans "The status of this document does not allow adding/deleting files." %}
    {% else %}
        {% trans "You don't have the necessary rights to add/delete files."%}
    {% endif %}
    <form method="POST" action="">{% csrf_token %}
        {% if is_owner and obj.is_editable %}
            {{ file_formset.management_form }}
            <noscript>
                <a class="tb-btn" href="./add/">
                    <span class="ui-button-text">{% trans "ADD" %}</span>
                </a>
            </noscript>
            {% if file_formset.total_form_count %}
                <div class="tb-btn-toolbar">
                    <input type="submit" class="tb-btn" value="{% trans "DELETE" %}"/>
                    <input type="button" class="tb-btn" value="{% trans "CHECK ALL" %}" id="s_all"/>
                    <input type="button" class="tb-btn hidden" value="{% trans "UNCHECK ALL" %}" id="des_all"/>

                    <div class="tb-btn-group">
                        <button class="tb-btn tb-dropdown-toggle" data-toggle="dropdown">
                            {% trans "Download..." %}
                            <span class="tb-caret"></span>
                        </button>
                        <ul class="tb tb-dropdown-menu">
                            {% for format in archive_formats %}
                                <li>
                                <a href="./archive/?format={{format}}&files=1">{% blocktrans %}Download all files ({{format}}){% endblocktrans %}</a>
                                </li>
                            {% endfor %}
                            {% if can_generate_pdf %}
                                <li class="tb-divider"></li>
                                <li>
                                <a href="../pdf/">{% trans "Download merged PDF files"%}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% else %}
            {# placeholder since archive_form: float is right #}
            <span>&nbsp;</span>
        {% endif %}
        <table class="Content">
            {% for form in file_formset.forms %}
                <tr class="Content file">
                    {{ form.id }}
                    {{ form.document }}
                    {% with form.instance as instance %}
                        <td class="Content" style="width:50px; text-align:center">{{ form.delete }}</td>
                        <td class="Content ui-state-default ui-state-corner-all">
                            <span class="status ui-icon ui-icon-locked" {% if not instance.locked %}style="display:none"{% endif %}>{% trans "Locked" %}</span>
                            <span class="status ui-icon ui-icon-unlocked" {% if instance.locked %}style="display:none"{% endif %}>{% trans "Unlocked" %}</span>
                        </td>
                        <td class="Content">
                            <a href="/file/{{instance.id}}/{{instance.filename|urlencode}}">{{instance.filename}}</a></td>
                        <td class="Content">{{instance.size|filesizeformat}}</td>
                        <td class="Content">
                            <a class="tb-btn" href="/file/{{instance.id}}/{{instance.filename|urlencode}}">
                                <span class="ui-button-text">{% trans "DOWNLOAD" %}</span>
                            </a>
                        </td>
                        <td class="Content">

                            {% if is_owner and obj.is_editable %}

                                <a class="tb-btn checkin" href="./checkin/{{instance.id|urlencode }}/" {% if not instance.locked %}style="display:none"{% endif %}>
                                    <span class="ui-button-text check-in">{% trans "CHECK-IN" %}</span>
                                </a>
                                {% if not instance.locked %}
                                    {% if instance.checkout_valid %}
                                        <a class="tb-btn 
                                        {% if instance.native_related %}check-out {%else %}check-out-link {% endif %} "
                                        href="./checkout/{{instance.id|urlencode }}/">
                                        <span id="{{instance.id}}" class="ui-button-text">{% trans "CHECK-OUT" %}</span>
                                    </a>                                    
                                {% else %}
                                    {% trans "Native related file is locked" %}
                                {% endif %} 
                            {% endif %} 

                            {% else %}
                                {{ is_owner|yesno:"Object is not editable, you are not the owner" }}
                            {% endif %}

                        </td>
                        <td class="Content">
                            <a href="/file/revisions/{{instance.id}}/">{{ instance.revision }}</a>
                        </td>
                        <td class="Content">
                            {% if instance.thumbnail %}
                                <img class="thumbnail" src="{{instance.thumbnail.url}}"
                                alt="Thumbnail"/>
                            {% else %}
                                {% trans "No thumbnail available" %}
                            {% endif %}
                        </td>
                    {% endwith %}
                </tr>
            {% endfor %}	    
        </table>

    </form>

    <div id="dialog_check-out" title="{% trans "Confirm CHECK-OUT" %}">
        {% trans "You'are checking out a standardfile while a native file is available. Your native file will be deprecated and will not be usable anymore." %}
    </div>

    {% if deprecated_files %}

        <div id="deprecated_files">
            <h6>{% trans "Deprecated files:" %}</h6>
            {% for doc_file in deprecated_files %}        
                <p><a href="/file/revisions/{{doc_file.id}}/">{{doc_file.filename}}</a></p>            
            {% endfor %}    
        </div>
    {% endif %}
{% endblock %}


