{% extends "base.html" %}
{% load i18n plmapp_tags %}

<!-- Manage html display in the Content div which correspond to the "doc-cad" menu -->

{% block scripts %}
<script type="text/javascript">
    function update_add_param(suggested_type){
        var add_link = $("#main_content").find("a[href^='./add']");
        var Part_group = $("#search_id_type").children("[label='Part']");
        var part_types=[];
        $.each($(Part_group).children(), function(i,v){
            part_types.push($(v).val());
        });
        if($.inArray(suggested_type,part_types)!=-1){
            $(add_link).attr("href","./add/?q=&type="+suggested_type);               
        }else{
            $(add_link).attr("href","./add/?q=&type=Part");
        }
    }
</script>
{% endblock %}

{% block content %}
    <form method="post" action="">	

        {% if user.get_profile.is_contributor %}
            {{ parts_formset.management_form }}
            {% if not obj.is_cancelled %}
            <a class="{{"Button"|button}}" 
            {% if obj.type|can_link:request.session.type %}
            href="./add/{% add_get type=request.session.type q='' %}"
            {% else %}
            href="./add/{% add_get type='Part' q='' %}"
            {% endif %}>
                <span class="ui-button-text">{% trans "ADD" %}</span>
            </a>
            {% if not obj.is_deprecated %}
                {# action valid if the doc is not deprecated, since the user will own the part #}
                 <a class="{{"Button"|button}}"
                    href="/object/create/?type=Part&amp;related_doc={{obj.id}}&amp;__next__={{obj.plmobject_url|add:"parts/"|urlencode}}">
                    <span class="ui-button-text">{% trans "Create a part and attach it to the document." %}</span>
                </a>
            {% endif %}
            
            {% endif %}

            {% if parts_formset.forms %}
                <input type="submit" class="{{"Button"|button}}" value="{% trans "DISCONNECT" %}"/>
            {% endif %}
        {% endif %}

        <table class="Content">
            {% for link in parts %}

                <tr class="Content">
                    {% with link.part as part %}
                        {% if user.get_profile.is_contributor and link.id in forms %}
                            {% with forms|key:link.id as form %} 
                                {{ form.id }}
                                {{ form.document }}
                                {{ form.part }}
                                <td class="Content" style="width:50px; text-align:center">{{ form.delete }}</td>
                            {% endwith %}
                        {% else %}
                            <td class="Content"> - </td>
                        {% endif %}
                        <td class="Content">{{ part.type }}</td>
                        <td class="Content">
                            <a href="{{ part.plmobject_url }}"/>
                                {{ part.reference }}
                            </a>
                        </td>
                        <td class="Content">{{ part.revision }}</td>
                    {% endwith %}
                </tr>
            {% empty %}
                <tr>
                    <td>
                        {% trans "There are no parts attached to this document" %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </form>
{% endblock %}


