{% load i18n plmapp_tags %}
{% if form.is_multipart %}

<form id="fileupload" enctype="multipart/form-data" method="post" action="{{action|default:"."}}" {{ form_attributes }}>
{% else %}
    <form method="post" action="{{action|default:"."}}"  {{ form_attributes }}>
{% endif %}
    <table class="Content">
        {{ form }}
        <tr>
            <td>
            </td>
            <td>
		{% if form.is_multipart %}
		<noscript>
		    <input type="submit" class="{{"Button"|button}}" value="{% trans "Validate" %}" name="_validate"/>
		</noscript>
		<input type="button" class="{{"Button"|button}}" value="{% trans "Upload" %}" id="_up"/>
		<!--<input type="button" class="{{"Button"|button}}" value="{% trans "Delete" %}" id="_delete"/>-->
		{% else %}
                <input type="submit" class="{{"Button"|button}}" value="{% trans "Validate" %}" name="_validate"/>
		{% endif %}
                <input type="submit" class="{{"Button"|button}}" value="{% trans "Undo" %}" name="_undo"/>
            </td>
        </tr>
    </table>
</form>
