{% load i18n %}
{% if form.is_multipart %}
<form enctype="multipart/form-data" method="post" action="{{action|default:"."}}" {{ form_attributes }}>
{% else %}
    <form method="post" action="{{action|default:"."}}"  {{ form_attributes }}>
{% endif %}
    <table class="Content">
        {{ form }}
        <tr>
            <td>
            </td>
            <td>
                <input type="submit" value="{% trans "Validate" %}" name="_validate"/>
                <input type="submit" value="{% trans "Undo" %}" name="_undo"/>
            </td>
        </tr>
    </table>
</form>
