{% extends "browse.html" %}
{% load i18n plmapp_tags highlight %}

{% block browse-state %}
    <div>
        <h3 class="hplm alternate">{% trans "State" %} </h3>
    </div>
    <ul>
        <li {% if state == "all"%}class="selected"{% endif %} >
        <a href="{% add_get state='all' %}"><span>{% trans "All states" %}</span></a>
        </li>
        <li {% if state == "official"%}class="selected"{% endif %} >
        <a href="{% add_get state='official' %}"><span>{% trans "Official state" %}</span></a>
        </li>
    </ul>
{% endblock %}

{% block selected-state %}
    <span id="state_filter">
        {% if state == "official" %}
            {% trans "Only official objects" %}.
        {% else %}
            {% trans "All objects"%}.
        {% endif %}
    </span>
{% endblock %}
