amqp==5.2.0
asgiref==3.7.2
billiard==4.2.0
celery==5.3.6
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
construct==2.5.3
defusedxml==0.7.1
Django==5.0.1
django-contrib-comments==2.2.0
django-haystack==3.2.1
ezodf==0.3.2
idna==3.6
image==1.5.33
kombu==5.3.5
networkx==3.2.1
odfpy==1.4.1
pefile==2023.2.7
pillow==10.2.0
prompt-toolkit==3.0.43
psycopg2-binary==2.9.9
pygraphviz==1.12
PyPDF2==3.0.1
pysolr==3.9.0
python-dateutil==2.8.2
python-ptrace==0.9.8
requests==2.31.0
six==1.16.0
South==1.0.2
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
vine==5.1.0
wcwidth==0.2.13
