{% load i18n %}

<form id="form-{{action}}" class="confirmation" style="display: inline;"
    action="{{action_url}}" method="POST">{% csrf_token %}
    <div id="form-{{action}}-dialog"
        title="{% trans "Are you sure?" %}"
        {% if password_form.is_bound and not password_form.is_valid %} 
            class="c-error action-{{ action }}"
        {% endif %}
        >
        <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
        {{ msg }}
        </p>

        <div class="password">
            {{ password_form.as_p }}
        </div>
    </div>

    <input name="{{action}}" type="submit" class="tb-btn tb-btn-large {{btn_classes}}"
    value="{{ action_label }}"/>
</form>
