{% extends "base.html" %}
{% load i18n plmapp_tags %}
{% load humanize %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/timeline.css" />
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    <!--
        $(function (){
                $.ajax({
                url: "ajax/",
                success: function(data){
                    $("#logs").html(data);
                    }
                    });
        });
    -->
    </script>

{% endblock %}

{% block content %}
    <div id="logs">
        {% trans "Loading..." %}
    </div>
{% endblock %}

