amqp==5.2.0
arabic-reshaper==3.0.0
asgiref==3.7.2
asn1crypto==1.5.1
billiard==4.2.0
celery==5.3.6
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
construct==2.5.3
cryptography==42.0.1
cssselect2==0.7.0
defusedxml==0.7.1
Django==5.0.1
django-contrib-comments==2.2.0
django-haystack==3.2.1
ezodf==0.3.2
filelock==3.13.1
ho==0.0.4
html5lib==1.1
idna==3.6
image==1.5.33
joblib==1.3.2
kombu==5.3.5
LEPL==5.1.3
lxml==5.1.0
networkx==3.2.1
np==1.0.2
numpy==1.26.3
odfpy==1.4.1
oscrypto==1.3.0
pefile==2023.2.7
pillow==10.2.0
prompt-toolkit==3.0.43
psycopg2-binary==2.9.9
pycparser==2.21
pygraphviz==1.12
pyHanko==0.21.0
pyhanko-certvalidator==0.26.3
pypdf==4.0.1
PyPDF2==3.0.1
pypng==0.20220715.0
pysolr==3.9.0
pysvn==0.1.0
python-bidi==0.4.2
python-dateutil==2.8.2
python-ptrace==0.9.8
PyYAML==6.0.1
qrcode==7.4.2
reportlab==4.0.9
requests==2.31.0
scikit-learn==1.4.0
scipy==1.12.0
six==1.16.0
South==1.0.2
sqlparse==0.4.4
svglib==1.5.1
threadpoolctl==3.2.0
tinycss2==1.2.1
typing_extensions==4.9.0
tzdata==2023.4
tzlocal==5.2
uritools==4.0.2
urllib3==2.1.0
vine==5.1.0
wcwidth==0.2.13
webencodings==0.5.1
Whoosh==2.7.4
xapian-bindings==0.1.0
xapian-haystack==3.1.0
xhtml2pdf==0.2.14
