/* *************************************************************************************** */
/*                                  LOGIN PAGE STYLE                                          */
/* *************************************************************************************** */


div.main-box {
    position:relative;
    text-align:left;
    overflow:hidden;
    font-size: small;
}

div.top-box-content {
    position:relative;
    margin: auto;
    margin-top: 30px;
    width: 700px;
    padding: 1em;
    padding-top: 0.5em;
    height: 2.5em;

    color: #eee;
    background: #afacab;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/dark/h2_bg_2.png");
}

div#content-box {
    width: 700px;
    padding: 1em;
    margin: auto;
    background-color: #C8C6C5;
}

div#LoginBox {
    left:0%;
}

div.legal {
    text-align:center;
    margin: 10px;
}

input.Button, select {
color: #000000;
}

h1 {
    display:inline;
    font-size: 120%;
    color: #eee;
    text-shadow: 1px 1px #000;
    padding: 0.5em;
}
h2 { 
    font-size: 105%;
}

#SetLangForm {
    position: absolute;
    right: 0;
}

/* BOX WE FIND IN THE LOGIN PAGE */
div#LoginBox
{
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    width: 45%;
    position: relative;
    left: 25%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px;
    text-align: center;
}
