/* *************************************************************************************** */
/*                                  GENERAL STYLE                                          */
/* *************************************************************************************** */

/** {*/
    /*padding: 0px;*/
    /*margin: 0px;*/
    /*color: #eee;*/
/*}*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    font-family: sans-serif;
	border: 0;
	/*font-size: 100%;*/
	/*font: inherit;*/
	vertical-align: baseline;
    color: #eee;
    color: #575454;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*********************/

body 
{
    background-color: #7f7c7d;
}

form {
    font-size: 14px !important;
}

img
{
    border-style : none;
    float: left;
    margin: 2px;
}

img.thumbnail
{
    max-height:70px;
}

h2
{
    font-size: 1.5em;
    line-height: 1.3;
    /*background: url("openplm/images/ui-bg_inset-soft_15_373737_1x100.png") repeat-x scroll 50% 50% #373737; */
}

h3 {
    background: #7f7c7c;
    font-size: 110%;
    margin: 0.5em 0 .5em;
    padding: 0.5em 1em;
    color: white;
    font-weight:normal;
}

h3 + p,
h3 ~ * {
    margin-left: 1em;
}

h4 {
    background-color: #343434;
    border-left: 1px solid #636363;
    border-top: 1px solid #636363;
    border-radius: 1em 0 1em 0;
    color: #d8d6d5 !important;
    padding: 0.2em 1em;
    font-size: 105%;
    font-weight: 500;
}

h4 + *,
h4 ~ * {
    margin-right: 1.2em;
}

.clear
{
    clear: both;
}

hr
{
    margin-top: 10px;
    padding: 0px !important;
    margin-bottom: 10px;
}

ul
{
    display: inline-block;
    text-indent: 0px;
}

ul li
{
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
    text-indent: 0px;
}

ul li > * {
    vertical-align: middle;
}

div.main-box {
    position:relative;
    text-align:left;
    overflow:hidden;

    background: rgb(52,52,52); /* Old browsers */

    background: -moz-linear-gradient(left,  rgba(52,52,52,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */

    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(52,52,52,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(left,  rgba(52,52,52,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(left,  rgba(52,52,52,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */

    background: -ms-linear-gradient(left,  rgba(52,52,52,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */

    background: linear-gradient(left,  rgba(52,52,52,1) 0%,rgba(255,255,255,1) 100%); /* W3C */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343434', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */



}
div.top-box {
    background-color: #343434;
    background: url("/media/img/dark/logo_openplm.png") no-repeat left top,
        url("/media/img/dark/banner.png") no-repeat #343434 right top;
    background-size: auto auto, auto 100%;
    height: 100px;
    min-width: 100%;
    padding-top: 1em;
}

div#LoggedPersonBox > a,
div#LoggedPersonBox {
    color: #eee;
}

div#bottom-box {
    background-color: #343434;
    background:  url("/media/img/dark/footer.png") no-repeat #343434 right bottom;
    height: 50px;
    margin-top: -1em;

}
div.center-box {
    position:relative;
    margin-left:300px;
    margin-top: 100px;
}
div.reset-box {
    position:relative;
    width:100%;
    left:100%;
    margin-left:-300px;
} 

div#content-box {
    background-color: #7f7d7d;
    position:relative;
    /*width: 90%;*/
    margin: 1em;
    margin-top: 0;
    min-height: 500px;
    box-shadow: 0 0px 8px #333;
    border-radius: 0 5px 0 0;
}
div#left-col {
    float:left;
    width:300px;
}
div#center-col {
    margin-left:330px;
}
* html div#center-col {
    height:1%;
    margin:0;
}
* html div#left-col {
    margin-right:-3px;
}

.clearfix:after {
    content: "."; 
    display: block;
    height: 0px;
    clear: both; 
    visibility: hidden;
}
.heightfix:before {
    content:'.';
    display:block;
    visibility:hidden;
    height:0;
}



/* *************************************************************************************** */
/*                          STYLE FOR THE MAIN BOXES                                       */
/* *************************************************************************************** */
/* FOR ALL BOXES */
div#CreationBox, div#SearchBox, div#ActiveBox, div#LoginBox
{
    /*border-radius: 1px;*/
    /*border: solid 2px #636363;*/
    /*background-image: -moz-radial-gradient(90% 20% 45deg, ellipse farthest-corner, #e5e5e5 0%, #b5c5ff 100%);*/
    background-color: #C8C6C5;
    margin: 8px;
    padding: 5px;
    text-align: left;
}


div#CreationBox > *, div#SearchBox > *,
div#ActiveArea > *{
    padding: 5px;
}

/* BOX WHERE WE FIND DIFFERENT BUTTONS FOR PAGE DISPLAY (SHOW/HIDE BOXES & NAVIGATE/STUDY) */
div#DisplayBox
{
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0.2em 0em;
    vertical-align: middle;
    /*line-height: 30px;*/
    font-size: 14px;
    text-align: center;
    background-color: #c8c7c5;
}

/* BOXES NECESSARY FOR THE CREATE FUNCTION AND SEARCH FUNCTION */
div#CreationBox, div#SearchBox {
    display: none;
    font-size: 14px;
    /*float: left;*/
    width: 100%;
    margin-right: 0px;
    padding: 0;
}

#CreationBox h2, #SearchBox h2 {
    color: #eee;
    font-size: 100%;
    padding-left: 1em;
    font-weight: 600;
    font-variant:small-caps;

    background-color:  #afacab;
    background-position: left-center, left center, right center;
    background-size: 2%, 33%, 65%;
    background-repeat: no-repeat;

    background-image:-moz-linear-gradient(left, rgba(98,100,102,1) 0%, rgba(136,136,136,1) 100%), -moz-radial-gradient(40% center, circle cover, #666, #afacab 100%), none;
    
    background-image:-webkit-linear-gradient(left, rgba(98,100,102,1) 0%, rgba(136,136,136,1) 100%), -webkit-radial-gradient(40% center, circle cover, #666, #afacab 100%), none;

    background-image:-o-linear-gradient(left, rgba(98,100,102,1) 0%, rgba(136,136,136,1) 100%), -o-radial-gradient(40% center, circle cover, #666, #afacab 100%), none;

    background-image:-ms-linear-gradient(left, rgba(98,100,102,1) 0%, rgba(136,136,136,1) 100%), -ms-radial-gradient(40% center, circle cover, #666, #afacab 100%), none;

    background-image:linear-gradient(left, rgba(98,100,102,1) 0%, rgba(136,136,136,1) 100%), radial-gradient(40% center, circle cover, #666, #afacab 100%), none;

}

div#ActiveBox
{
    min-height: 420px;
    margin-bottom: 2em;
    padding: 0px;
    box-shadow: 1px 1px 15px #333333;
}

div#left-col h2,
div#ReferenceArea {
    margin: 0;
}


div#SearchBox {
    min-height: 200px;
}

/* BOX WHICH DISPLAY INFO ABOUT LOGGED-IN USER, LANGUAGE, TIME, ... */
div#LoggedPersonBox
{
    text-align: right;
    height: 30px;
    font-size: 14px;
    margin-bottom: 0px;
    margin-left: 100px;
background: -moz-linear-gradient(left,  rgba(55,52,52,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(55,52,52,0)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(left,  rgba(55,52,52,0) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(left,  rgba(55,52,52,0) 0%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(left,  rgba(55,52,52,0) 0%,rgba(0,0,0,0.8) 100%); /* IE10+ */

background: linear-gradient(left,  rgba(55,52,52,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00373434', endColorstr='#cc000000',GradientType=1 ); /* IE6-9 */


}



/* BUTTON TO SWITCH TO NAVIGATE MODE DISPLAY */
li#NavigateButton
{
    margin-right: -5px;
}


#SetLangForm
{
    display: inline;
    padding-right: 1em;
}

#SetLangForm div.selector {
    max-width: 8em;
    margin-left: 5em;
}

#SetLangForm * {
    line-height: 1em;
    font-size: 1em;
    margin-top: auto;
    margin-bottom: auto;
}

#SetLangForm .Button {
    margin: 0;
    padding: 3px;
}

/* AREA WHERE TYPE-REFERENCE-REVISION IS DISPLAYED */
div#ReferenceArea
{
    text-align: left;
    font-weight: lighter;
    background-color: #fefefe;
    padding-bottom: 0.5em;
    min-height: 60px;
}

#ReferenceArea h2 {
    padding-bottom: 0.3em;
    padding-left: 100px;
    padding-top: 0.5em;
    border-bottom: solid 1px #b2b0b0;
}

/* ACTIVE AREA */
div#ActiveArea
{
    text-align: left;
    background-color: #b0acab;
    float:none;
}

#main_content {
    padding-left: 1em !important;
    min-height: 500px;
    border: 2px solid white;
    background-color: #c8c6c5;
    margin: 0em 0.5em 0.5em 0.5em;
}

/* menu stuff*/
div#menu {
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: -2px;
    padding: 0;
}

ul#MenuList
{
    display: block;
    text-indent: 10px;
    text-align: left;
    font-size: 90%;
    margin-top: 5px;
    /*background-color : rgba(238, 238, 238, 0.5);*/
    margin-left: 0em;
    /*border-bottom-style: solid;*/
    /*border-bottom-width: 1px;*/
}

ul#MenuList li
{
    display: inline-block;
    text-align: center;
    padding: 5px;
    white-space:nowrap;
    background: url("../img/dark/menu_bg.png") no-repeat center center;
    background-size: 100% 100%;
    padding-top: 10px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: transparent;
    border-style: solid;
}

ul#MenuList li.CurrentPage
{
    background: url("../img/dark/menu_active_bg.png") no-repeat center center;
    background-size: 100% 100%;
    border-color: white;
    border-left-width: 2px;
    border-right-width: 2px;
}
ul#MenuList li:hover
{
    background: url("../img/dark/menu_hover_bg.png") no-repeat center center;
    background-size: 100% 100%;
}

li#fake_menu_item_right {
    clear: both;
}

ul#MenuList li a
{
    text-decoration: none;
    padding: 4px 0px;
    display: inline-block;
    color: #eee;
    text-shadow: 1px 1px rgba(50, 50, 50, 0.7) 
}

ul#MenuList li.CurrentPage a {
    color: #343434;
    text-shadow: 1px 1px rgba(250, 250, 250, 0.7) 
}

/* *************************************************************************************** */
/*                   STYLE FOR THE TABLES USED IN THE SEARCHBOX & ACTIVEBOX                */
/* *************************************************************************************** */
table.Content
{
    width: 100%;
    margin-top: 10px;
    border-spacing: 2px;
    border-collapse: separate;
    font-size: 14px;
}

table.Content th,
table.Content td
{
    padding: 3px;
    /*border-top: 2px solid #7f7c7c;*/
    /*border-bottom: solid 2px #7f7c7c;*/
}

table.Content th
{
    text-align: right;
    padding-right: 10px;
    font-weight: 500;
    color: #eee;
    background-color: #585455;
}

table.Content th * {
    font-weight: 600;
    color: #eee;
}

table.Content td
{
    text-align: left;
    background-color: #e4e3e1;
}

table.Content td,
table.Content td a,
table.Content td p,
table.Content td li {
    color: black;
}


table.Content td.description
{
    background-color: #343434;
}
table.Content td.description,
table.Content td.description *{
    color: #ffffff;
    font-weight: bold;
    width: 15em;
}

/* comments */

div.comment {
    background-color: #e4e3e1;
    margin: 1em;
    padding-left:0.5em;
    border-left: 2px #888 solid;
    border-radius: 0 1em;
}

div.comment * {
    color: black;
}

div.comment_text {
    overflow-x: auto; /* scroll if there are too long lines (urls...) */ 
}

div.comment p {
    margin: 1em 1em;
}

div#comments{
    margin:1em;
    border-top: 1px #444 solid;
}

div#comment_form {
    margin-top: 1em;
}


td.expander span.expander {
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    display:block; width:16px; height:16px;
    text-indent:-5000em;
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left:4px;
    margin-left:6px;
}

td.expanded span.expander {
    background-image: url("/media/img/expander_normal.png");
}
td.expanded span.expander:hover {
    background-image: url("/media/img/expander_normal_hover.png");
}

td.open span.expander {
    padding-left: 0;
    margin-left: 2px;
    background-image: url("/media/img/expander_open.png");
}
td.open span.expander:hover {
    padding-left: 0;
    margin-left: 2px;
    background-image: url("/media/img/expander_open_hover.png");
}

/** simple search **/
ul.Result {
    display: block;
    background-color: #e4e3e2;
    margin: 0.5em;
    overflow-y: auto;
    max-height: 30em;
}

ul.Result p {
    padding: 0.3em;
}

li.Result {
    background-color: #fff;
    padding: 0.5em;
    margin-bottom: 0.4em;
    display:block;
}

li.Result:hover {
    background-color: #ccc !important;
}

li.Result:hover *{
    color: black !important;
}
li.Result div.summary {
    padding-left: 1.5em;
    clear: both;
    font-size: 90%;
    padding-top: 0.3em;
}

li.Result div.toolbar{
    display:inline;
    position:static;
    float: right;
    margin: 2px;
}
li.Result div.toolbar button{
    height: 16px;
    width: 16px;
}

li.Result div.summary em {
    background-color: #fffcb6;
    color: black;
    font-style: normal;
}

span#numresults {
    color: #343434;
    font-size: 1em;
    font-weight: normal;
}

/** input **/
input[type=text],
input[type=file],
input[type=password],
select,
option,
textarea {
    color: black !important;

    font-size: 1.1em;
}

textarea {
    width: 100%;
}

/* LINKS HAS APPEARANCE CLOSED TO BUTTONS */
a.Button, input.Button
{
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    font-weight: normal;
}

input.Button{
    margin: 0;
    color: #343434;
}

.ui-button {
    border: 1px solid #7f7c7c !important;
    text-shadow: 1px 1px rgba(200, 200, 200, 0.7);
}

span.ui-button-text {
    padding:0.4em 0.4em;
    color: #343434 !important;
}

a.Button {
    padding: 0 !important;
    line-height: 1.0 !important;
    font-size: 14px !important;
    margin: 0.2em 0;
}

a.Button > span {
    font-size: 1.1em;
    line-height: 1.3 !important;
}

div.selector {
    padding-left: 0px;
}

div.selector > *
{
    padding: 0.4em !important;
    font-size: 1.1em;
    line-height: 1.3;
}

div.selector select *{
    font-size: 1em;
}

ul#createbar li ,
ul#importbar li {
    margin: 0.2em 0;
}

#SearchBox td > * {
    width: 100%;
}

#search_button {
    margin-top: 0.2em;
}

h2 div.toolbar {
    float:right;
    margin: -0.5em 0 auto 0;
    font-size: 100%;
}
h2 div.toolbar > ul > li {
    width: 1em;
    height: 1em;
    font-size: 100%;
    vertical-align: middle;
}
h2 div.toolbar > ul > li > *{
    width: 1em;
    font-size: 100%;
    height: 1em;
    vertical-align: middle;
}
h2 div.toolbar > ul > li > button{
    height: 1.1em;
    background: none;
}

/* Help dialog */

#help-dialog h3 ~ * {
    padding-left: 1em;
}
#help-dialog h3 + * {
    padding-top: 1em;
}

#help-dialog ul,
#help-dialog ol,
#main_content ul,
#main_content ol
{
    display: block;
}
#help-dialog ul li,
#main_content ul li {
    display: list-item;
    list-style-type: square;
}
#help-dialog li,
#main_content li {
    margin-left: 2em;
}

#help-dialog .section *:not(h3) {
    font-size: 14px;
}

tt.docutils.literal {
    color: black;
    background-color: #fffcb6 !important;
}

/* lifecycle */
table.Content td.status {
    text-align: center;
    color: #eee;
}

table.Content td.arrow {
    text-align: center;
}

table.Content td.status.active {
    font-weight: bold;
    border-color: #800;
}

form.archive_form {
    float: right;
}

form.archive_form > * {
    display: inline;
    padding-left: 0.5em;
}

ul.errorlist {
    display: block;
    padding-left: 1em;
}
ul.errorlist li {
    display: list-item;
    list-style-type: disc;
    margin-left: 1em;
}

div.selector.tiny {
    max-width: 6em;
}


/* type, reference, revision, name */
span.name {
    font-style: italic;
    font-weight: normal;
}

span.revision {
    background: #7f7c7c;
    color: #fff;
    padding: 0 0.2em;
}

span.document_bullet:after,
span.user_bullet:after,
span.group_bullet:after,
span.part_bullet:after {
    content: '■';
}
span.document_bullet {
    color: rgb(49, 39, 131);
}
span.part_bullet {
    color: rgb(0, 159, 227);
}
span.user_bullet, span.group_bullet {
    color: rgb(230, 0, 126);
}

li.Result span.name,
li.Result span.username {
    display: block;
    margin-left: 1em;
}

#ReferenceArea div.icon {
    width: 60px;
    height: 60px;
    float: left;
}

div.document_icon {
    background-image: url("../img/icon_doc.png");
}

div.part_icon {
    background-image: url("../img/icon_part.png");
}
div.user_icon {
    background-image: url("../img/icon_user.png");
}


/** footer */
div#links {
    background-color: rgba(50, 50, 50, 0.8);
    bottom: 0px;
    width: 100%;
    position: absolute;
    text-align: center;
    height: 33px;
}
#links * {
    color: #eee;
    font-size: small;
    display: inline;
}

a#linobject {
    position: absolute;
    right: 0;
    background: url("../img/linobject.png");
    text-indent: -10000px;
    width: 195px;
    height: 33px;
}



li.ui-button:hover,
a.ui-button:hover,
input.ui-button:hover,
.ui-state-hover {
    background: url("/media/css/openplm/images/bg_hover.png") no-repeat scroll 50% 50% , url("/media/css/openplm/images/hover.png") repeat-x scroll left center;
    background-size: auto 100%, auto;

}

.center {
    text-align: center;
    width: 100%;
}


.ui-dialog-title,
.ui-datepicker-title span {
    color: white;
}

span#select_type {
    display: block;
}

