/* Timeline */


div.timeline h3 {
    background-color: #807C7D;
    color: white;
    border-radius: 4px 4px 0 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 105%;
}

div.timeline dl {
    line-height: 1.3em;
    margin-left: 0em;
    font-weight: 500;
    background-color: #e4e3e1;
}

div.timeline * {
    color: #373434;
}

div.timeline dt {
    background: 3px 4px no-repeat;
    background-color: #e4e3e1;
    padding: 0.3em 0;
    padding-left: 0.5em;
    border-radius: 12px 0 0 0;
    font-size: 90%;
    font-weight: 600;
}

div.timeline dt :link:hover,
div.timeline dt :link:hover *,
div.timeline dt :visited:hover *, 
div.timeline dt :visited:hover { 
    background-color: #ccc;
}
div.timeline dt em {
    border-bottom: 1px dotted #bbb;
    color: #b00;
    font-style: normal;
    text-decoration: none;
}
div.timeline dt .time { 
    /*font-size: 80%; */
}
div.timeline dt .user {
}
div.timeline dt.highlight { background-color: #ffa; } 
div.timeline dd { 
    font-size: 80%;
    padding: 0 0 .75em 1em;
    border-radius: 0 0 12px 0;
    
    display: list-item;
    list-style-position: inside;
    list-style-image: url("../img/puce.png");
}

div.timeline div.details,
div.timeline div.details > p {
    display: inline;
}

div.timeline ul:not(.management) {
    margin-left: 1em;
    display: block !important;
    width: 90%;
}
div.timeline ul:not(.management) li {
    display: list-item !important;
    line-height: 1.2em;
    width: 30%; 
    float:left;
    list-style-type: square;
    list-style-size: small;
    margin-left: 1em;
    margin-top: 0.5em;
}
div.timeline br {
    clear:left;
}

div.timeline {
    margin-bottom: 0.5em;
    overflow: auto;
}

div.timeline dd p br {
    clear:none !important;
}

div.timeline > div {
    margin: 0.5em 1.2em 0.5em 1em;
}
