/* Timeline */


div.timeline dl {
    line-height: 1.3em;
    margin-left: 1em;
}
div.timeline dt {
    background: 3px 4px no-repeat;
    background-color: #343434;
    padding: 0.3em 0;
    padding-left: 0.5em;
    border-radius: 12px 0 0 0;
}
div.timeline dt :link, div.timeline dt :visited,
div.timeline dt :link *:hover, div.timeline dt :visited *:hover {
    /*background: 3px 3px no-repeat;*/
    color: #000;
}
div.timeline dt :link:hover,
div.timeline dt :link:hover *,
div.timeline dt :visited:hover *, 
div.timeline dt :visited:hover { 
    color: #000;
    background-color: #ccc;
}
div.timeline dt em {
    border-bottom: 1px dotted #bbb;
    color: #b00;
    font-style: normal;
    text-decoration: none;
}
div.timeline dt .time { 
    font-size: 80%; 
}
div.timeline dt .user {
}
div.timeline dt.highlight { background-color: #ffa; } 
div.timeline dd { 
    font-size: 80%;
    padding: 0 0 .75em 1.5em;
    margin: 0 0 1.5em;
    background-color: #343434;
    border-radius: 0 0 12px 0;
}

div.timeline ul:not(.management) {
    margin-left: 1em;
    display: block !important;
    width: 90%;
}
div.timeline ul:not(.management) li {
    display: list-item !important;
    line-height: 1.2em;
    width: 30%; 
    float:left;
    list-style-type: square;
    list-style-size: small;
    margin-left: 1em;
    margin-top: 0.5em;
}
div.timeline br {
    clear:left;
}

div.timeline {
    margin-bottom: 0.5em;
    overflow: auto;
}

div.timeline dd p br {
    clear:none !important;
}
