{% load i18n plmapp_tags %}
{% if user.get_profile.is_contributor %}
    <form method="get" action="/object/create/" enctype="text/plain">
        <ul id="createbar">
            {% with type_form4creation.visible_fields.0 as field %}
                <span id="select_type">{{field.label }}</span>
                <li>
                {{ field }}
            {% endwith %}
            <input id="create_button" type="submit" 
            class="{{"Button"|button}}"
            title="{% trans "Click here to create a new object." %}"
            value="{% trans "CREATE !" %}"/>
            </li>
        </ul>
        <ul id="importbar">
            <li class="{{"Button"|button}}" id="ImportButton">
            <a href="/import/csv/">
                <span class="ui-button-text">{% trans "Import" %}</span>
            </a>
            </li>
            <li class="{{"Button"|button}}" id="ImportBOMButton">
            <a href="/import/bom/">
                <span class="ui-button-text">{% trans "Import a BOM" %}</span>
            </a>
            </li>
        </ul>
    </form>
{% else %}
    <p>{% trans "You can not create an object since you are not a contributor."%}</p>
{% endif %}

