{% load i18n plmapp_tags %}
<div id="menu">
    <ul id="MenuList">
        {% for menu_item in object_menu %}
            <li {% ifequal menu_item current_page%} class="CurrentPage" {%endifequal%}>
            <a href="{{obj.plmobject_url}}{{menu_item}}/">
                {% filter upper %}{% trans menu_item %}{% endfilter%}
            </a>
            {% ifequal menu_item "history" %}
                <a target="_blank" href="{{obj.plmobject_url}}rss/">
                <img src="{{STATIC_URL}}img/feed_icon.png" alt="{% trans "click here to subscribe to the related feed" %}" title="{% trans "click here to subscribe to the related feed" %}">
            </a>
            {% endifequal %}
            </li>
        {% endfor %}
    </ul>
</div>

