/* Definir le style de la page entière */
body 	{
		background-color: #dddddd;
		/* background-image: url(/media/img/fond-page.gif); */
		/*	background-repeat: repeat-y; */
		font-family: Comic Sans MS, Verdana, Arial, sans-serif;
		text-align: center;
		padding: 0px;
		margin: 5px;
		}
	
/* Definir le style de la Page limitee a 700px */
div#Page	{
			width: 1200px;
			background-color: #99ccff;		
			-moz-border-radius: 3em;
			-webkit-box-shadow: 3px 3px 6px #666;
			-moz-box-shadow: 3px 3px 6px #666;
			box-shadow: 3px 3px 6px #666;
			min-height: 350px;
			}
/* Definir le style de la Banniere en haut de page */
div#PageBanner	{
				width: 100%;
				float: top;
				/*border-left: 3px solid #AAAAAA;*/
				border-bottom: 7px solid #CCCCCC;
				/*border: solid;*/
				margin: 0px;
				padding-top: 5px;
				padding-left: 0px;
				text-align: left;
				}
/* Definir le style de la partie Gauche de la page */
div#PageLeft	{
			/* background-color: #99ccff; */
			width: 100%;
			float: top;
			min-height: 30px;
			/*border: solid;*/
			}

/* Definir le style de la partie Centrale de la page */
div#PageCenter	{
			width: 100%;
			min-height: 300px;
			float: top;
			/*border-left: 3px solid #AAAAAA;*/
			margin: 0px;
			padding: 0px;
			text-align: left;
			vertical-align: center;
			filter: alpha(opacity=80);
			opacity: 0.80; 
			}

.clear {
		clear: both;
		}

a {text-decoration: none;
	color: blue;}

table.MenuTable 	{
				width: 100%;
				border-width: 3px;
				border-style: none;
				border-color: #777777;
				border-spacing: 0;
				}

.MenuTable td 	{
						background-color: #CCCCCC;
						padding: 0px 0px 0px 0px;
						border-width: 1px;
						border-style: none;
						border-color: #777777;
						text-align: center;
						font-size: 100%;
						}

.MenuTable td:hover {background-color: #E6E6FF;}
.MenuTable td:visited {background-color: #99ccff;}

.MenuTable a {text-decoration: none;
	color: black;}

/* .MenuTable a:link, a:visited {
						color: green;
						
						} */
	
/* .MenuTable a:hover, a:active, a:focus {
						color: blue;
						background-color: #FFFFFF;
						} */


table.Content 	{
				width: 99%;
				border-width: 1px;
				border-style: none;
				border-color: #777777;
				border-spacing: 0;
				margin: 0px;
				}

tr.Content	{

			}

td.Content	{
			background-color: #E6E6FF;
			padding: 3px;
			border-width: 1px;
			border-style: dotted;
			border-color: #777777;
			}

td.Content2	{
            background-color: #AAAAAA;
			padding: 3px;
			border-width: 1px;
			border-style: dotted;
			border-color: #777777;
			}
			
td.Content4ChildAddition	{
            background-color: #fec3c3;
			padding: 3px;
			border-width: 1px;
			border-style: dotted;
			border-color: #777777;
			}
			
td.Content4ChildAddition2	{
            background-color: #ffd9da;
			padding: 3px;
			border-width: 1px;
			border-style: dotted;
			border-color: #777777;
			}
			
th.Content	{
			/*background-color: #E6E6FF;*/
			padding: 3px;
			border-width: 1px;
			border-style: solid;
			border-color: #777777;
			}

div#HomePage	{
			background-color: #ffffff;	
			width: 1000px;
			min-height: 550px;
			padding: 0%;
			margin: 0px;
			-moz-border-radius: 1em;
					-webkit-box-shadow: 3px 3px 6px #666;
					-moz-box-shadow: 3px 3px 6px #666;
					box-shadow: 3px 3px 6px #666;
			}

div#SearchArea	{
			float: left;
			width: 35%;
			min-height: 550px;
			border-style: none;
			margin: 0px;
			padding: 0px;
			}
			
div#NavigateArea	{
			float: left;
			width: 65%;
			min-height: 550px;
			border-style: none;
			margin: 0px;
			padding: 0px;
			}

div#LoggedPersonBox	{
					float: left;
					width: 44%;
					margin: 1%;
					background-color: #99ccff;		
					-moz-border-radius: 1em;
					-webkit-box-shadow: 3px 3px 6px #666;
					-moz-box-shadow: 3px 3px 6px #666;
					box-shadow: 3px 3px 6px #666;
					height: 30px;
					padding: 10px;
					}

div#SearchBox	{
					float: top;
					margin: 1%;
					background-color: #99ccff;		
					-moz-border-radius: 1em;
					-webkit-box-shadow: 3px 3px 6px #666;
					-moz-box-shadow: 3px 3px 6px #666;
					box-shadow: 3px 3px 6px #666;
					min-height: 200px;
					padding: 5px;
					}

div#NavigateBox	{
					float: left;
					margin: 1%;
					background-color: #99ccff;		
					-moz-border-radius: 1em;
					-webkit-box-shadow: 3px 3px 6px #666;
					-moz-box-shadow: 3px 3px 6px #666;
					box-shadow: 3px 3px 6px #666;
					width: 96%;
					min-height: 400px;
					padding: 5px;
					}





