/* Definir le style de la page entière */

*   {
    padding: 0px;
    margin: 0px;
    }

body 
{
/* background-color: #b3b3b3; */
background: #b3b3b3 url(/media/img/openplm.png) no-repeat right top fixed;
font-family: Comic Sans MS, Verdana, Arial, sans-serif;
text-align: center;
margin: 5px;
}

img
{
border-style : none;
float: left;
margin: 2px;
}

.clear
{
clear: both;
}

div
{
/* -moz-border-radius: 1em; */
/* -webkit-box-shadow: 3px 3px 6px #666; */
/* -moz-box-shadow: 3px 3px 6px #666; */
/* box-shadow: 3px 3px 6px #666; */
}

#HomePage
{
background: #ffffff url(/media/img/foot-complet.gif) no-repeat bottom right;
width: 1200px;
min-height: 500px;
/* filter: alpha(opacity=90); */
/* opacity: 0.90; */
}

#Footer
{
background: url(/media/img/footer-logo.gif) no-repeat bottom;
height: 100px;
width: 1200px;
}

#SearchArea, #NavigateArea
{
min-height: 500px;
border-style: none;
}

div#SearchArea
{
float: left;
width: 400px;
}

div#NavigateArea
{
float: right;
width: 800px;
margin-bottom: 90px;
}

div#SearchBox, div#ResultBox, div#ResultBox4Search, div#LoggedPersonBox,
div#NavigateBox4Part, div#NavigateBox4Doc,  div#NavigateBox4User
{
-moz-border-radius: 1em;
/* float: top; */
background-color: #99ccff;
margin: 8px;
padding: 5px;
}

div#SearchBox
{
min-height: 180px;
margin-right: 0px;
}

div#ResultBox
{
min-height: 200px;
margin-right: 0px;
/*overflow: scroll;*/
}

div#ResultBox4Search
{
background-color: #ff4848;		
min-height: 350px;
margin-right: 0px;
}

div#LoggedPersonBox, div#NavigateBox4Part, div#NavigateBox4Doc, div#NavigateBox4User
{
float: left;
}

div#LoggedPersonBox
{
width: 374px;
height: 30px;
margin-bottom: 0px;
}

div#NavigateBox4Part, div#NavigateBox4Doc, div#NavigateBox4User
{
width: 772px;
min-height: 420px;
}

div#NavigateBox4Doc
{
background-color: #fef176;
}

div#NavigateBox4User
{
background-color: #94bd5e;
}

div#LoginBox
{
background-color: #99ccff;
-moz-border-radius: 1em;
width: 400px;
height: 150px;
padding: 50px;
}


div#PageBanner, div#PageLeft, div#PageCenter
{
/* float: top; */
}

/* Definir le style de la Banniere en haut de page */
div#PageBanner
{
border-bottom: 7px solid #CCCCCC;
text-align: left;
font-size: 175%;
font-weight: lighter;
}

/* Definir le style de la partie Gauche de la page */
div#PageLeft
{
background-color: #CCCCCC;
}

/* Definir le style de la partie Centrale de la page */
div#PageCenter
{
text-align: left;
padding-top: 10px;
}

table.MenuTable
{
width: 100%;
border-spacing: 0;
}

.MenuTable td
{
text-align: center;
font-size: 90%;
height: 40px;
border-bottom-style: solid;
border-bottom-width: 1px;
}

.MenuTable td.CurrentPage
{
font-size: 100%;
background-color: #99ccff;
border-top-style: solid;
border-right-style: solid;
border-left-style: solid;
border-bottom-style: none;
border-width: 1px;
}

div#NavigateBox4Doc td.CurrentPage
{
background-color: #fef176;
}

div#NavigateBox4User td.CurrentPage
{
background-color: #94bd5e;
}

.MenuTable td:hover
{
background-color: #E6E6FF;
}

div#NavigateBox4Doc td:hover
{
background-color: #fff8ba;
}

div#NavigateBox4User td:hover
{
background-color: #bef278;
}

.MenuTable td.CurrentPage:hover
{
background-color: #99ccff;
}

div#NavigateBox4Doc td.CurrentPage:hover
{
background-color: #fef176;
}

div#NavigateBox4User td.CurrentPage:hover
{
background-color: #94bd5e;
}

.MenuTable a
{
height: 40px;
display: block;
line-height: 2.5;
text-decoration: none;
color: black;
}

table.Content, table.Result
{
width: 100%;
border-spacing: 0;
}

table.Result
{
margin: 0px;
overflow-x: sroll;
overflow-y: hidden;
}

th.Content, td.Content, td.Content2
{
padding: 3px;
border-width: 1px;
border-style: solid;
border-color: #99ccff;
}

tr.Content>td.Content
{
background-color: #E6E6FF;
}

tr.Content2>td.Content	{
background-color: #AAAAAA;
}

ul
{
display: inline;
padding: 0px;
text-indent: 0px;
}
	
li
{
display: inline;
list-style-type: none;
padding: 0px;
text-indent: 0px;
}


a.info span
{
display: none;
}

a.info:hover span
{
display: block;
position: relative;
top: -1.2em;
left: 0em;
}

h2
{
font-size: 30px;
line-height: 1.4;
}

div#Navigate
{
border: 1px solid #000000;
width: 770px;
height: 405px;
background-color: #FFFFFF;
overflow: scroll;
}

.img_nav
{
position: relative;
border-style: none;
}

div#imgManagement
{
position: absolute;
width: 95px;
height: 95px;
right: 110px;
top: 210px;
border-style: none;
cursor: pointer;
}

#topControl
{
width: 94px;
height: 29px;
background: url(/media/img/nav-top.png) no-repeat;
float: left;
}

#rightControl
{
width: 47px;
height: 36px;
background: url(/media/img/nav-right.png) no-repeat right;
float: right;
}
#leftControl
{
width: 47px;
height: 36px;
right: 110px;
top: 410px;
background: url(/media/img/nav-left.png) no-repeat left;
float: left;
}

#bottomControl
{
width: 94px;
height: 29px;
background: url(/media/img/nav-bottom.png) no-repeat;
float: left;
}

img.thumbnail
{
    max-height:70px;
}
