<form id="decompose_form">
    <table border="10">
        <div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='6a0951fed02461061f796c63d98bb430' /></div>

        <input type="hidden" name="form-TOTAL_FORMS" value="3" id="id_form-TOTAL_FORMS" /><input type="hidden" name="form-INITIAL_FORMS" value="0" id="id_form-INITIAL_FORMS" /><input type="hidden" name="form-MAX_NUM_FORMS" id="id_form-MAX_NUM_FORMS" />
        
        

        <tr id= "RAM">
        <td><select id="id_form-0-type_part" onchange="caraculo()" class="selector" name="form-0-type_part">
<optgroup label="Part">
<option value="Part">Part</option>
<option value="SinglePart">&gt;SinglePart</option>
<option value="MotherBoard">&gt;&gt;MotherBoard</option>
<option value="RAM" selected="selected">&gt;&gt;RAM</option>
<option value="HardDisk">&gt;&gt;HardDisk</option>
<option value="ElectronicPart">&gt;&gt;ElectronicPart</option>
<option value="MechanicalPart">&gt;&gt;MechanicalPart</option>
<option value="Mouse">&gt;&gt;Mouse</option>
<option value="KeyBoard">&gt;&gt;KeyBoard</option>
<option value="Screen">&gt;&gt;Screen</option>
<option value="Bicycle">&gt;Bicycle</option>
<option value="Assembly">&gt;Assembly</option>
<option value="ComputerSet">&gt;&gt;ComputerSet</option>
<option value="CentralUnit">&gt;&gt;CentralUnit</option>
<option value="OtherAssembly">&gt;&gt;OtherAssembly</option>
<option value="BiosOs">&gt;BiosOs</option>
</optgroup>
</select></td>
                                
                           
                <td><input id="id_reference" type="text" name="reference" value="PART_00006" maxlength="50" /></td>
                           
                <td><input id="id_revision" type="text" name="revision" value="a" maxlength="50" /></td>
                           
                <td><select name="lifecycle" id="id_lifecycle">
<option value="draft_official_deprecated" selected="selected">Lifecycle&lt;draft_official_deprecated&gt;</option>
<option value="draft_official">Lifecycle&lt;draft_official&gt;</option>
</select><input type="hidden" name="initial-lifecycle" value="draft_official_deprecated" id="initial-id_lifecycle" /></td>
                           
                <td><input type="text"  autocomplete="off" name="name" id="id_name"/>
                <script type="text/javascript"><!--//
                $('#id_name').autocomplete({"source": "/ajax/complete/RAM/name/"});//--></script>
                </td>
                           
                <td><select name="group" id="id_group">
<option value="" selected="selected">---------</option>
<option value="1">leading_group</option>
</select></td>
                           
                <td><input type="text"  autocomplete="off" name="supplier" id="id_supplier"/>
                <script type="text/javascript"><!--//
                $('#id_supplier').autocomplete({"source": "/ajax/complete/RAM/supplier/"});//--></script>
                </td>
                           
                <td><textarea id="id_tech_details" rows="10" cols="40" name="tech_details"></textarea></td>
                           
                <td><input type="text"  autocomplete="off" name="size_in_mo" id="id_size_in_mo"/>
                <script type="text/javascript"><!--//
                $('#id_size_in_mo').autocomplete({"source": "/ajax/complete/RAM/size_in_mo/"});//--></script>
                </td>
                 


        </tr>   
              
        <tr id= "Document3D">
        <td><select name="form-0-type_document3D" id="id_form-0-type_document3D">
<optgroup label="Document3D">
<option value="Document3D" selected="selected">Document3D</option>
</optgroup>
</select></td>


                           
                <td><input id="id_1-reference" type="text" name="1-reference" value="DOC_00013" maxlength="50" /></td>
                           
                <td><input id="id_1-revision" type="text" name="1-revision" value="a" maxlength="50" /></td>
                           
                <td><select name="1-lifecycle" id="id_1-lifecycle">
<option value="draft_official_deprecated" selected="selected">Lifecycle&lt;draft_official_deprecated&gt;</option>
<option value="draft_official">Lifecycle&lt;draft_official&gt;</option>
</select><input type="hidden" name="initial-1-lifecycle" value="draft_official_deprecated" id="initial-1-id_1-lifecycle" /></td>
                           
                <td><input type="text"  autocomplete="off" name="1-name" id="id_1-name"/>
                <script type="text/javascript"><!--//
                $('#id_1-name').autocomplete({"source": "/ajax/complete/Document3D/name/"});//--></script>
                </td>
                           
                <td><select name="1-group" id="id_1-group">
<option value="" selected="selected">---------</option>
<option value="1">leading_group</option>
</select></td>
                 

        </tr>          
        
  
        

        <tr id= "Part">
        <td><select id="id_form-1-type_part" onchange="caraculo()" class="selector" name="form-1-type_part">
<optgroup label="Part">
<option value="Part" selected="selected">Part</option>
<option value="SinglePart">&gt;SinglePart</option>
<option value="MotherBoard">&gt;&gt;MotherBoard</option>
<option value="RAM">&gt;&gt;RAM</option>
<option value="HardDisk">&gt;&gt;HardDisk</option>
<option value="ElectronicPart">&gt;&gt;ElectronicPart</option>
<option value="MechanicalPart">&gt;&gt;MechanicalPart</option>
<option value="Mouse">&gt;&gt;Mouse</option>
<option value="KeyBoard">&gt;&gt;KeyBoard</option>
<option value="Screen">&gt;&gt;Screen</option>
<option value="Bicycle">&gt;Bicycle</option>
<option value="Assembly">&gt;Assembly</option>
<option value="ComputerSet">&gt;&gt;ComputerSet</option>
<option value="CentralUnit">&gt;&gt;CentralUnit</option>
<option value="OtherAssembly">&gt;&gt;OtherAssembly</option>
<option value="BiosOs">&gt;BiosOs</option>
</optgroup>
</select></td>
                                
                           
                <td><input id="id_2-reference" type="text" name="2-reference" value="PART_00006" maxlength="50" /></td>
                           
                <td><input id="id_2-revision" type="text" name="2-revision" value="a" maxlength="50" /></td>
                           
                <td><select name="2-lifecycle" id="id_2-lifecycle">
<option value="draft_official_deprecated" selected="selected">Lifecycle&lt;draft_official_deprecated&gt;</option>
<option value="draft_official">Lifecycle&lt;draft_official&gt;</option>
</select><input type="hidden" name="initial-2-lifecycle" value="draft_official_deprecated" id="initial-2-id_2-lifecycle" /></td>
                           
                <td><input type="text"  autocomplete="off" name="2-name" id="id_2-name"/>
                <script type="text/javascript"><!--//
                $('#id_2-name').autocomplete({"source": "/ajax/complete/Part/name/"});//--></script>
                </td>
                           
                <td><select name="2-group" id="id_2-group">
<option value="" selected="selected">---------</option>
<option value="1">leading_group</option>
</select></td>
                 


        </tr>   
              
        <tr id= "Document3D">
        <td><select name="form-1-type_document3D" id="id_form-1-type_document3D">
<optgroup label="Document3D">
<option value="Document3D" selected="selected">Document3D</option>
</optgroup>
</select></td>


                           
                <td><input id="id_3-reference" type="text" name="3-reference" value="DOC_00013" maxlength="50" /></td>
                           
                <td><input id="id_3-revision" type="text" name="3-revision" value="a" maxlength="50" /></td>
                           
                <td><select name="3-lifecycle" id="id_3-lifecycle">
<option value="draft_official_deprecated" selected="selected">Lifecycle&lt;draft_official_deprecated&gt;</option>
<option value="draft_official">Lifecycle&lt;draft_official&gt;</option>
</select><input type="hidden" name="initial-3-lifecycle" value="draft_official_deprecated" id="initial-3-id_3-lifecycle" /></td>
                           
                <td><input type="text"  autocomplete="off" name="3-name" id="id_3-name"/>
                <script type="text/javascript"><!--//
                $('#id_3-name').autocomplete({"source": "/ajax/complete/Document3D/name/"});//--></script>
                </td>
                           
                <td><select name="3-group" id="id_3-group">
<option value="" selected="selected">---------</option>
<option value="1">leading_group</option>
</select></td>
                 

        </tr>          
        
  
        

        <tr id= "Part">
        <td><select id="id_form-2-type_part" onchange="caraculo()" class="selector" name="form-2-type_part">
<optgroup label="Part">
<option value="Part" selected="selected">Part</option>
<option value="SinglePart">&gt;SinglePart</option>
<option value="MotherBoard">&gt;&gt;MotherBoard</option>
<option value="RAM">&gt;&gt;RAM</option>
<option value="HardDisk">&gt;&gt;HardDisk</option>
<option value="ElectronicPart">&gt;&gt;ElectronicPart</option>
<option value="MechanicalPart">&gt;&gt;MechanicalPart</option>
<option value="Mouse">&gt;&gt;Mouse</option>
<option value="KeyBoard">&gt;&gt;KeyBoard</option>
<option value="Screen">&gt;&gt;Screen</option>
<option value="Bicycle">&gt;Bicycle</option>
<option value="Assembly">&gt;Assembly</option>
<option value="ComputerSet">&gt;&gt;ComputerSet</option>
<option value="CentralUnit">&gt;&gt;CentralUnit</option>
<option value="OtherAssembly">&gt;&gt;OtherAssembly</option>
<option value="BiosOs">&gt;BiosOs</option>
</optgroup>
</select></td>
                                
                           
                <td><input id="id_4-reference" type="text" name="4-reference" value="PART_00006" maxlength="50" /></td>
