{% extends "base.html" %}
{% load i18n %}
{% load comments %}

{% block css %}
    <style>

        .ajustar {
            clear: both;
        }
        .menu {
            margin: 10px;
            height: 100px;
            font-size: 9pt;
            font-family: roman;
        }
        .menu ul {

            margin: 0pt;
            padding: 0pt;
            position: relative;
            z-index: 500;
            list-style-type: none;
            width: 11em;

        }
        .menu li {

            background-color: #cccc99;
            float: left;
        }
        .menu li.sub {
            background-color: #cccc99;
        }

        .menu a, .menu a:visited {
            border: 1px solid #ffffff;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            text-decoration: none;
            height: 2em;
            line-height: 2em;
            width: 11em;
            color: #000000;
            padding-left: 1em;
            font-weight: normal;
            font-style: normal;
            font-variant: normal;
            text-transform: none;
        }
        .menu b {
            float: right;
            margin-right: 5px;
        }
        * html .menu a, * html .menu a:visited {
            width: 11em;
        }
        * html .menu a:hover {
            color: #ccff66;
            background-color: #999966;
            position: relative;
            font-weight: normal;
            font-style: normal;
            font-variant: normal;
            text-decoration: none;
            text-transform: none;
        }
        .menu li:hover {
            position: relative;
        }
        .menu a:active, .menu a:focus {
            color: #ccff66;
            background-color: #999966;
            font-weight: normal;
            font-style: normal;
            font-variant: normal;
            text-decoration: none;
            text-transform: none;
        }
        .menu li:hover > a {
            color: #ccff66;
            background-color: #999966;
            font-weight: normal;
            font-style: normal;
            font-variant: normal;
            text-decoration: none;
            text-transform: none;
        }
        .menu li ul {
            padding: 2em;
            visibility: hidden;
            position: absolute;
            top: -2em;
            left: 7em;
            background-color: transparent;
        }
        .menu li:hover > ul {
            visibility: visible;
        }
        .menu ul a:hover ul ul {
            visibility: hidden;
        }
        .menu ul a:hover ul a:hover ul ul {
            visibility: hidden;
        }
        .menu ul a:hover ul a:hover ul a:hover ul ul {
            visibility: hidden;
        }
        .menu ul a:hover ul {
            visibility: visible;
        }
        .menu ul a:hover ul a:hover ul {
            visibility: visible;
        }
        .menu ul a:hover ul a:hover ul a:hover ul {
            visibility: visible;
        }
        .menu ul a:hover ul a:hover ul a:hover ul a:hover ul {
            visibility: visible;
        }
        .trans{    
            position:absolute;
            z-index:10;      
        }  
        #zoom {
            position:absolute;
            height:40%;
            top: 30%;
            right: 5%;
            z-index:10;  
        }
        div#main_content {
            background-color: #848484;
            box-shadow: 0 0 115px 80px #545454 inset;
        } 
        div#main_content p {
            color: white;
        }
        #toolbar {
            top: 5px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            width: 25em;
            display: block;
            background:none;
            border: none;
        }
    </style>

{% endblock %}

{% block content %}


    {% if not javascript_arborescense and not stl %}
        <p>
        {% trans "This document has no 3D data. Maybe it does not have a STEP/STL file or openPLM has not yet converted its STEP file." %}

        </p>
    {% else %}
        <div class="trans" >
            <div class="menu" id="menu_">   </div>
        </div> 


        <span id="toolbar" class="ui-widget-header ui-corner-all">
            <button id="random-color" class="Button small">{% trans "Random colors" %}</button>
            <button id="initial-color" class="Button small">{% trans "Initial colors" %}</button>
        </span>

        <div id="webgl_warning" class="main" style="display:none;">
            <div class="warning_container">
                <div class="warning">

                    <p><strong>WARNING:</strong> Your browser does not support <a target="_top" href="http://www.khronos.org/webgl/wiki/Main_Page">WebGL</a>. The 3D view works best with WebGL support, which is available in the following browsers:</p>
                    <ul>
                        <li><a target="_top" href="http://www.google.com/chrome">Google Chrome 9+</a> (Recommended)</li>
                        <li><a target="_top" href="http://www.khronos.org/webgl/wiki/Getting_a_WebGL_Implementation">Firefox 4.0+</a></li>

                        <li><a target="_top" href="http://www.khronos.org/webgl/wiki/Getting_a_WebGL_Implementation">Safari Nightly (OS X 10.6+ only)</a></li>
                    </ul>
                    <p>Or, you can <a href="javascript: show_thingiview();">try Thingiview at your own risk</a>. It may lock up your computer!</p>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}




{% block scripts %} 

    <script type="text/javascript" src="/media/js/3D/three-min.js"></script> 
    <script type="text/javascript" src="/media/js/3D/struct.js"></script> 
    {% for item in GeometryFiles %}
        <script type="text/javascript" src="/media/3D/{{ item.file.name}}"></script>
    {% endfor %}
    <script type="text/javascript">



        if ( !window.requestAnimationFrame ) {

            window.requestAnimationFrame = ( function() {

                    return window.webkitRequestAnimationFrame ||
                    window.mozRequestAnimationFrame ||
                    window.oRequestAnimationFrame ||
                    window.msRequestAnimationFrame ||
                    function( /* function FrameRequestCallback */ callback, /* DOMElement Element */ element ) {

                    window.setTimeout( callback, 1000 / 60 );

                    };

                    } )();

        }  		

{% if javascript_arborescense or stl %}
    // Code from https://developer.mozilla.org/En/Using_XMLHttpRequest#Receiving_binary_data
      this.load_binary_resource = function(url) {
       var req = new XMLHttpRequest();
       req.open('GET', url, false);
       // The following line says we want to receive data as Binary and not as Unicode
       req.overrideMimeType('text/plain; charset=x-user-defined');
       req.send(null);
       if (req.status != 200) return '';

       return req.responseText;
      };

    var zoom_var=50	
    var camera, scene, renderer;
    var container;
    var main_content;            
    var width ;
    var height ;
    var deep ;
    var controls = null;	

    {% if stl %}
        var xhr = new XMLHttpRequest();
        var geometry = new THREE.Geometry();
        var object3D = new THREE.Object3D();
        var part_to_object = {};
        var part_to_parts = {};
        var part0=new THREE.Object3D();
        var material_for_geometry = new THREE.MeshBasicMaterial({opacity:1,shading:THREE.SmoothShading});
        material_for_geometry.color.setRGB(0.4,0.3,0.3);
        var object2=new THREE.Mesh(geometry, material_for_geometry );
        xhr.open('GET', '/file/{{stl_file.id}}/', true);
        xhr.responseType = 'arraybuffer';

        xhr.onload = function(e) {
            var data = new Uint8Array(xhr.response);
            var t = Struct.Unpack("=80sI", data);
            var nbf = t[1];
            var is_text = String.fromCharCode.apply(null,data.subarray(0, 6)) == "solid ";
            is_text = is_text && (nbf*50+80==data.length);
            if (is_text) {
                var text = "";
                for (var i=0; i<data.length; i+= 1000){
                    text += String.fromCharCode.apply(null, data.subarray(i, Math.min(i+1000, data.length)));
                }
                    // strip out extraneous stuff
                text = text.replace(/\r/, "\n");
                text = text.replace(/^solid[^\n]*/, "");
                text = text.replace(/\n/g, " ");
                text = text.replace(/facet normal /g,"");
                text = text.replace(/outer loop/g,"");
                text = text.replace(/vertex /g,"");
                text = text.replace(/endloop/g,"");
                text = text.replace(/endfacet/g,"");
                text = text.replace(/endsolid[^\n]*/, "");
                text = text.replace(/\s+/g, " ");
                text = text.replace(/^\s+/, "");
                var points = text.split(" ");
                var i,j,len= parseInt(points.length/ 12) * 12;
                for (i=0, j=0; i<len; i+=12, j+=3){
                    for (var k= 0; k<3; k++){
                        var f1 = parseFloat(points[i + k * 3 + 3]);
                        var f2 = parseFloat(points[i + k * 3 + 4]);
                        var f3 = parseFloat(points[i + k * 3 + 5]);
                        geometry.vertices.push(new THREE.Vertex(new THREE.Vector3(f1, f2, f3)));
                    }
                    geometry.faces.push(new THREE.Face3(j, j+1, j+2));
                }
            } else {
                var i,j,len=data.length;
                for (i=84, j=0; i<len; i+=50, j+=3){
                    var f = Struct.Unpack("<ffffffffffffxx", data, i);
                    geometry.vertices.push(new THREE.Vertex(new THREE.Vector3(f[3],f[4],f[5])));
                    geometry.vertices.push(new THREE.Vertex(new THREE.Vector3(f[6],f[7],f[8])));
                    geometry.vertices.push(new THREE.Vertex(new THREE.Vector3(f[9],f[10],f[11])));
                    geometry.faces.push(new THREE.Face3(j, j+1, j+2));
                }
            }

            geometry.computeFaceNormals();

            object2.matrixAutoUpdate = false;
            object3D.add(object2);
            part_to_object['part2'] = object2;
            init();
            animate();

        };

        xhr.send();
    {% else %}
        {{javascript_arborescense|safe}}		
        $(init);
        animate();

    {% endif %}


    function init() {

        if (!has_webgl()){
            document.getElementById("webgl_warning").style.display = 'block'; 
        }
        else{
            container=document.getElementById('main_content');

            scene = new THREE.Scene();
            // init the lights

            var ambient = new THREE.AmbientLight( 0xffffff );
            scene.add( ambient );

            var light   = new THREE.DirectionalLight( 0xffffff );
            light.position.set(1, 1, 4 ).normalize();
            spot1 = light;
            scene.add( light );

            var light   = new THREE.SpotLight( 0xffffff, 2 );
            spot2   = light;
            light.target.position.set( 0, 8, 0 );
            light.shadowCameraNear = 0.01;     
            light.castShadow = true;
            light.shadowDarkness = 0.1;
            scene.add( light );

            centrer_objet(object3D);
            for (var i=0; i < object3D.children.length; i++) {
                var obj = object3D.children[i];
                obj.receiveShadow=true;
                obj.castShadow=true;
                obj.material =  new THREE.MeshPhongMaterial({
                    ambient		: 0x000000,
                    shininess	: 1000, 
                    specular	: 0x000000,
                    shading		: THREE.SmoothShading,
                    color: obj.material.color.getHex(),
                    opacity: 0.8
                });
                obj.material.original_step_color = obj.material.color.getHex(); 
                obj.material.original_color = obj.material.color.getHex(); 
            }
            object3D.castShadow = true;
            object3D.receiveShadow = true;
            scene.add( object3D);

            camera = new THREE.PerspectiveCamera( 40, $(container).width() / $(container).height(),
                    0.1, radius*200);
            camera.position.z = radius*1.5;

            renderer = new THREE.WebGLRenderer({
                antialias		: true,	// to get smoother output
                preserveDrawingBuffer	: true	// to allow screenshot
            });
            renderer.setSize( $(container).width(), $(container).height() );
            renderer.shadowMapEnabled	= true;
            renderer.shadowMapSoft		= true;
            container.appendChild( renderer.domElement );

            controls = new THREE.TrackballControls( camera, renderer.domElement );
            spot1_controls = new THREE.TrackballControls( spot1, renderer.domElement );
            spot2_controls = new THREE.TrackballControls( spot2, renderer.domElement );
            
            var ctrls = [controls, spot1_controls, spot2_controls ];
            for (var i = 0; i < ctrls.length; i++) {
                var ctrl = ctrls[i];
                ctrl.rotateSpeed = 1.0;
                ctrl.zoomSpeed = 1.2;
                ctrl.panSpeed = 0.2;
                ctrl.noZoom = true;
                ctrl.noPan = false;
                ctrl.staticMoving = false;
                ctrl.dynamicDampingFactor = 0.3;
                ctrl.minDistance = 0;
                ctrl.maxDistance = radius * 1000;
                ctrl.keys = [ 65, 83, 68 ]; // [ rotateKey, zoomKey, panKey ] [A,S,D]               
            }
               
            {% if javascript_arborescense %}
                menu();

                $('.menu a').hover(
                    function (){
                        var part = "part" + $(this).attr("id").replace("li-part-", "");
                        highlight_part(part);
                    },
                    function () {
                        var part = "part" +  $(this).attr("id").replace("li-part-", "");
                        unhighlight_part(part);
                    }
                );

            {% endif %}
            container.focus()
            renderer.render(scene, camera); 

            zoom = document.createElement("div");
            zoom.id = 'zoom';
            container.appendChild( zoom );
            $( "#zoom" ).slider({
                orientation: "vertical",
                min: 0,
                max: 100,
                value: 50,
                slide: function( event, ui ) {
                    total=zoom_var-ui.value;
                    zoom_var=ui.value;
                    camera.translateZ(1.49999*radius*(total/50));
                }

            });
            
            $("#random-color").button().click(random_color);
            $("#initial-color").button().click(reinit_color);

        }
    }			

    function highlight_part(part_id) {

        var obj = part_to_object[part_id];
        if (obj != undefined){
            m = obj.material;
            m.color.setHex(0xff0000);
        }
        $(part_to_parts[part_id]).each (
            function (i,p) {
                highlight_part(p);
            }
        );
    }

    function unhighlight_part(part_id) {
        var obj = part_to_object[part_id];
        if (obj != undefined){
            m =  obj.material;
            m.color.setHex(m.original_color);
        }
        $(part_to_parts[part_id]).each (
            function (i,p) {
                unhighlight_part(p);
            }
         );

    }


    function has_webgl(){
        return !!window.WebGLRenderingContext;
    }

    function centrer_objet(object3D){ 	

        boundingBox=computeGroupBoundingBox(object3D);

        width =Math.abs(boundingBox.x[ 1 ]-boundingBox.x[ 0 ]);
        height =Math.abs(boundingBox.y[ 1 ]-boundingBox.y[ 0 ]);
        deep =Math.abs(boundingBox.z[ 1 ]-boundingBox.z[ 0 ]);

        radius=Math.max(width,height,deep);

        object3D.position.x=-(boundingBox.x[ 0 ]+boundingBox.x[ 1 ])/2;
        object3D.position.y=-(boundingBox.y[ 0 ]+boundingBox.y[ 1 ])/2;  
        object3D.position.z=-(boundingBox.z[ 0 ]+boundingBox.z[ 1 ])/2; 

    }

    function animate() {
        requestAnimationFrame(animate);
        if (controls != null ){
            controls.update();
            spot1_controls.update();
            spot2_controls.update();
            renderer.render( scene, camera );
        }
    };


    function computeGroupBoundingBox(Object_Group) {   
        var boundingBox;
        for ( var v = 0 ;v  < Object_Group.children.length; v ++ ) {
            var geo=THREE.GeometryUtils.clone(Object_Group.children[v].geometry);
            geo.applyMatrix(Object_Group.children[v].matrix);
            geo.computeBoundingBox();
            BB=geo.boundingBox;
            if (BB){    
                if(!boundingBox){
                    boundingBox= { 
                        'x':[BB.min.x, BB.max.x],
                        'y':[BB.min.y, BB.max.y],
                        'z':[BB.min.z, BB.max.z]
                    }; 
                }
                else{
                    boundingBox.x[0]=Math.min(BB.min.x, boundingBox.x[0]);
                    boundingBox.y[0]=Math.min(BB.min.y, boundingBox.y[0]);
                    boundingBox.z[0]=Math.min(BB.min.z, boundingBox.z[0]);
                    boundingBox.x[1]=Math.max(BB.max.x, boundingBox.x[1]);
                    boundingBox.y[1]=Math.max(BB.max.y, boundingBox.y[1]);
                    boundingBox.z[1]=Math.max(BB.max.z, boundingBox.z[1]);
                }
            }   
        }
        return boundingBox;
    }

    function random_color(){
        for (var i=0; i < object3D.children.length; i++) {
            var obj = object3D.children[i];
            obj.material.color.setRGB(Math.random(), Math.random(), Math.random());
            obj.material.original_color = obj.material.color.getHex();
        }
    }
    
    function reinit_color(){
        for (var i=0; i < object3D.children.length; i++) {
            var obj = object3D.children[i];
            obj.material.color.setHex(obj.material.original_step_color);
            obj.material.original_color = obj.material.original_step_color;
        }
    }

    {% endif %}

</script>

{% endblock %}
