{% extends "base.html" %}
{% load i18n plmapp_tags %}

<!-- Manage html display in the Content div which correspond to the "children" menu -->

{% block scripts %}

    <script type="text/javascript" src="/media/js/bom.js"></script>
    <script>
        $(function() {
            $( "#id_date_0" ).datepicker();
        });
    </script>

{% endblock %}

{% block content %}
    {% if is_owner and obj.is_editable %}
        <a class="{{"Button"|button}}" href="./add/"><span class="ui-button-text">{% trans "ADD" %}</span></a>
        <a class="{{"Button"|button}}" href="./edit/"><span class="ui-button-text">{% trans "EDIT" %}</span></a>
    {% endif %}
    <form method="GET" action="">
        {% trans "Display :" %}
        <ul>
            {{display_form.as_ul}}
        </ul>
        

        <input type="submit" class="{{"Button"|button}}" value="{% trans "GO !" %}"/>
    </form>
    

    
    
    <table class="Content">
        <tr class="Content">
            <th class="Content" style="width:50px"> </th>
            <th class="Content" style="width:50px"> {% trans "Ord." %} </th>
            <th class="Content" style="width:50px"> {% trans "Qty" %}</th>
            <th class="Content" style="width:50px"> {% trans "Unit" %}</th>
            <th class="Content"> {{ obj.reference }} </th>
            <th class="Content"> {{ obj.revision }} </th>
            <th class="Content"> {{ obj.type }} </th>
            <th class="Content"> {{ obj.name }} </th>
            {% for field, verbose_name in extra_columns %}
                <th class="Content"> {{ verbose_name|capfirst }} </th>
            {% endfor %}
            <th class="Content"> {{ obj.state.name }} </th>
        </tr>
        
                    {% for element in decomposable_valide %}
                            
                                            <li>
A document (<a href="/object/{{element.0.type}}/{{element.0.reference}}/{{element.0.revision}}/">{{ element.0.reference }}</a> ) with a STEP file (<a href="/file/{{element.1.id}}/">{{ element.1.filename }}</a>) is linked to this part.Do you want to analyse it to build the BOM ?<a style="color:#FFFF00" href="/object/{{ obj.type }}/{{ obj.reference }}/{{ obj.revision }}/decompose/{{ element.1.id }}/">Yes</a>                                                                
                                            </li>
                                      
                    {% endfor %}  
                    
                    
     

        {% for element , is_decomposable in children_aux %}
            <tr class="Content"> 
                <td class="Content expander open level{{element.level}}" style="padding-left:{{element.level|add:"-1"}}0px;" >
                    <span class="expander">↳</span>
                </td>

                <td class="Content"> {{ element.link.order }} </td>
                <td class="Content"> {{ element.link.quantity }} </td>
                <td class="Content"> {{ element.link.get_unit_display }} </td>
                <td class="Content"> 
                    <a {% if is_decomposable %} style="color:#80BFFF" {% endif %} href="/object/{{element.link.child.type}}/{{element.link.child.reference}}/{{element.link.child.revision}}/">
                        {{ element.link.child.reference }}
                    </a>
                </td>
                <td class="Content"> {{ element.link.child.revision }} </td>
                <td class="Content"> {{ element.link.child.type }} </td>
                <td class="Content"> {{ element.link.child.name }} </td>
                {% for field, verbose_name in extra_columns %}
                    <td class="Content"> {{ extension_data|key:link|key:field }} </td>
                {% endfor %}
                <td class="Content"> {{ element.link.child.state.name }} </td>
            </tr>
        {% endfor %}
        
        
        
        
        
        
        
        
        
        
         {% for level_link , is_decomposable in children %}
            <tr class="Content"> 
                <td class="Content expander open level{{level_link.level}}" style="padding-left:{{level_link.level|add:"-1"}}0px;" >
                    <span class="expander">↳</span>
                </td>

                <td class="Content"> {{ level_link.link.order }} </td>
                <td class="Content"> {{ level_link.link.quantity }} </td>
                <td class="Content"> {{ level_link.link.get_unit_display }} </td>
                <td class="Content"> 
                
 
                    <a {% if is_decomposable %} style="color:#80BFFF" {% endif %} href="/object/{{level_link.link.child.type}}/{{level_link.link.child.reference}}/{{level_link.link.child.revision}}/">
                        {{ level_link.link.child.reference }}
                    </a>
                </td>
                <td class="Content"> {{ level_link.link.child.revision }} </td>
                <td class="Content"> {{ level_link.link.child.type }} </td>
                <td class="Content"> {{ level_link.link.child.name }} </td>
                {% for field, verbose_name in extra_columns %}
                    <td class="Content"> {{ extension_data|key:level_link.link|key:field }} </td>
                {% endfor %}
                <td class="Content"> {{ level_link.link.child.state.name }} </td>
            </tr>
        {% endfor %}       
        
        
        
        
    </table>
{% endblock %}


