{% extends "base.html" %}
{% load i18n %}
{% load comments %}

{% block css %}
<style>

.ajustar {
clear: both;
}
.menu {
	margin: 10px;
	height: 100px;
	font-size: 9pt;
	font-family: roman;
}
.menu ul {

	margin: 0pt;
	padding: 0pt;
	position: relative;
	z-index: 500;
	list-style-type: none;
	width: 11em;

}
.menu li {

	background-color: #cccc99;
	float: left;
}
.menu li.sub {
	background-color: #cccc99;
}

.menu a, .menu a:visited {
	border: 1px solid #ffffff;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	text-decoration: none;
	height: 2em;
	line-height: 2em;
	width: 11em;
	color: #000000;
	padding-left: 1em;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}
.menu b {
	float: right;
	margin-right: 5px;
}
* html .menu a, * html .menu a:visited {
	width: 11em;
}
* html .menu a:hover {
	color: #ccff66;
	background-color: #999966;
	position: relative;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	text-transform: none;
}
.menu li:hover {
	position: relative;
}
.menu a:active, .menu a:focus {
	color: #ccff66;
	background-color: #999966;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	text-transform: none;
}
.menu li:hover > a {
	color: #ccff66;
	background-color: #999966;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	text-transform: none;
}
.menu li ul {
	padding: 2em;
	visibility: hidden;
	position: absolute;
	top: -2em;
	left: 7em;
	background-color: transparent;
}
.menu li:hover > ul {
	visibility: visible;
}
.menu ul a:hover ul ul {
	visibility: hidden;
}
.menu ul a:hover ul a:hover ul ul {
	visibility: hidden;
}
.menu ul a:hover ul a:hover ul a:hover ul ul {
	visibility: hidden;
}
.menu ul a:hover ul {
	visibility: visible;
}
.menu ul a:hover ul a:hover ul {
	visibility: visible;
}
.menu ul a:hover ul a:hover ul a:hover ul {
	visibility: visible;
}
.menu ul a:hover ul a:hover ul a:hover ul a:hover ul {
	visibility: visible;
}
.trans{    
position:absolute;
z-index:10;      
}  
#zoom {
  position:absolute;
  height:40%;
  top: 30%;
  right: 5%;
  z-index:10;  
}

 
</style>
     
{% endblock %}

{% block content %}



<script type="text/javascript">
/*
.ui-slider-handle {
   outline: none;
}
   

#zoom {
  position:absolute;
  height:40%;
  top: 0%;
  right: 5%;

}                   
*/</script>        

  
<div class="trans" >
                <form method="post" action="" id="from_stp_form">
                {% for form in select_stp_form %}
                    <ul><li>{{ form }}</li></ul>
                {% endfor %}
                </form>

                <div class="menu" id="menu_">   </div>
</div> 




{% endblock %}








{% block scripts %} 
  
        <script type="text/javascript" src="/media/js/jquery.hoverIntent.minified.js"></script>


        
        
        
        
		<script type="text/javascript" src="/media/js/3D/NEWThree.js"></script> 
		{% for item in GeometryFiles %}
		<script type="text/javascript" src="/media/3D/{{ item.file.name}}"></script>
		{% endfor %}
		<script type="text/javascript">





if ( !window.requestAnimationFrame ) {

    window.requestAnimationFrame = ( function() {

        return window.webkitRequestAnimationFrame ||
        window.mozRequestAnimationFrame ||
        window.oRequestAnimationFrame ||
        window.msRequestAnimationFrame ||
        function( /* function FrameRequestCallback */ callback, /* DOMElement Element */ element ) {

            window.setTimeout( callback, 1000 / 60 );

        };

} )();

}  		

{% if javascript_arborescense %}
{{javascript_arborescense|safe}}		
{% endif %}

var zoom_var=50	
var camera, scene, renderer;
var container;
var main_content;            
var width ;
var height ;
var deep ;
var controls;	
$(document.getElementById( 'main_content' )).ready(init);
animate();
//animate();

function init() {



if (!has_webgl()){

document.getElementById("webgl_warning").style.display = 'block'; 

}




container=document.getElementById('main_content');
	
scene = new THREE.Scene();
scene.add( new THREE.AmbientLight( 0x0ff20 ) );
light1 = new THREE.PointLight( 0xff0040 );
scene.add( light1 );
centrer_objet(object3D);

scene.add( object3D);



camera = new THREE.PerspectiveCamera( 40, $(container).width() / $(container).height(), 0.1, radius*200 );
camera.position.z = radius*1.5;


renderer = new THREE.WebGLRenderer();
renderer.setSize( $(container).width(), $(container).height() );
container.appendChild( renderer.domElement );

zoom = document.createElement("div");
zoom.id = 'zoom';
container.appendChild( zoom );


	
controls = new THREE.TrackballControls( camera, renderer.domElement );
controls.rotateSpeed = 1.0;
controls.zoomSpeed = 1.2;
controls.panSpeed = 0.2;
controls.noZoom = true;
controls.noPan = false;
controls.staticMoving = false;
controls.dynamicDampingFactor = 0.3;
controls.minDistance = 0;
controls.maxDistance = radius * 100;
controls.keys = [ 65, 83, 68 ]; // [ rotateKey, zoomKey, panKey ] [A,S,D]               
    
menu();
container.focus()
    

renderer.render(scene, camera); 



$(function() {
	$( "#zoom" ).slider({
		orientation: "vertical",
		min: 0,
		max: 100,
		value: 50,
	    start: function() { /*$('#zoom_bar').data('sliding', true )*/ },
        stop:  function() {  },
		slide: function( event, ui ) {
            total=zoom_var-ui.value;
            zoom_var=ui.value;
		    camera.translateZ(1.49999*radius*(total/50));
		    if($('#zoom_bar .ui-slider-handle:focus').length){
		    }
            else{
            }

		}
		

		
		
	});
	
});  


}
			


function has_webgl(){
return !!window.WebGLRenderingContext;
}

function centrer_objet(object3D){ 	
	
boundingBox=computeGroupBoundingBox(object3D);
		        
width =Math.abs(boundingBox.x[ 1 ]-boundingBox.x[ 0 ]);
height =Math.abs(boundingBox.y[ 1 ]-boundingBox.y[ 0 ]);
deep =Math.abs(boundingBox.z[ 1 ]-boundingBox.z[ 0 ]);

radius=Math.max(width,height,deep);

object3D.position.x=-(boundingBox.x[ 0 ]+boundingBox.x[ 1 ])/2;
object3D.position.y=-(boundingBox.y[ 0 ]+boundingBox.y[ 1 ])/2;  
object3D.position.z=-(boundingBox.z[ 0 ]+boundingBox.z[ 1 ])/2; 

}
                        
function animate() {

requestAnimationFrame(animate);

controls.update();
renderer.render( scene, camera );


};


				
function computeGroupBoundingBox(Object_Group) {   
    var boundingBox;
    for ( var v = 0 ;v  < Object_Group.children.length; v ++ ) {
    var geo=THREE.GeometryUtils.clone(Object_Group.children[v].geometry);
    geo.applyMatrix(Object_Group.children[v].matrix);
    geo.computeBoundingBox();
    BB=geo.boundingBox;
    if (BB){    
    if(!boundingBox){
    boundingBox= { 
    'x':[BB.x[0], BB.x[1]],
    'y':[BB.y[0], BB.y[1]],
    'z':[BB.z[0], BB.z[1]]
    }; 
    }
    else{
    boundingBox.x[0]=Math.min(BB.x[0], boundingBox.x[0]);
    boundingBox.y[0]=Math.min(BB.y[0], boundingBox.y[0]);
    boundingBox.z[0]=Math.min(BB.z[0], boundingBox.z[0]);
    boundingBox.x[1]=Math.max(BB.x[1], boundingBox.x[1]);
    boundingBox.y[1]=Math.max(BB.y[1], boundingBox.y[1]);
    boundingBox.z[1]=Math.max(BB.z[1], boundingBox.z[1]);
    }
    }   
    }
return boundingBox;
}
        
        
/* <div id="webgl_warning" class="main" style="display:none;">
    <div class="warning_container">
      <div class="warning">

        <p><strong>WARNING:</strong> Your browser does not support <a target="_top" href="http://www.khronos.org/webgl/wiki/Main_Page">WebGL</a>. Thingiview works best with WebGL support, which is available in the following browsers:</p>
        <ul>
          <li><a target="_top" href="http://www.google.com/chrome">Google Chrome 9+</a> (Recommended)</li>
          <li><a target="_top" href="http://www.khronos.org/webgl/wiki/Getting_a_WebGL_Implementation">Firefox 4.0+</a></li>

          <li><a target="_top" href="http://www.khronos.org/webgl/wiki/Getting_a_WebGL_Implementation">Safari Nightly (OS X 10.6+ only)</a></li>
        </ul>
        <p>Or, you can <a href="javascript: show_thingiview();">try Thingiview at your own risk</a>. It may lock up your computer!</p>
      </div>
    </div>
  </div>*/
</script>

{% endblock %}
