{% extends "base.html" %}
{% load i18n plmapp_tags %}


{% block scripts %}


    <script type="text/javascript" src="/media/js/3D/ajax3D.js"></script>

    <style type="text/css">
        table.decompose_form {
            table-layout: fixed;

        }
        table.table_qty_ord {
            table-layout: fixed;
        }

    </style>

{% endblock %}

{% block content %}

    <form method="post" action="" id="decompose_form">

        {% csrf_token %} 
        {{ part_type_formset.management_form }}
        {{ bom_formset.management_form }}
        <div style="display:none;">
            {{last_time_modification}}
        </div>

        <table class="Content">

            <thead>
                <th>{% trans "Order" %}</th>
                <th>{% trans "Quantity" %}</th>
                <th>{% trans "Unit" %}</th>

                <th>{% trans "Type" %}</th>


                <th class="Reference">{% trans "Reference" %} </th>
                <th class="Revision">{% trans "Revision" %} </th>
                <th class="Nom">{% trans "Name" %}  </th>
            </thead>

            <tr class="extra_errors">
                {{extra_errors}}
            </tr>

            {% for type, part_doc_cforms, ord_qty in forms %} 


                <tr>
                    <td class="order" >{{ord_qty.order}}{{ord_qty.order.errors }}</td>
                    <td class="quantity">{{ord_qty.quantity}}{{ord_qty.quantity.errors}}</td>
                    <td class="quantity">{{ord_qty.unit}}{{ord_qty.unit.errors}}</td>

                    <td class="cell_label part_type_form">
                        {{ type.type_part }}
                    </td>


                    {% for field in part_doc_cforms.0 %} 

                        {% if field.name == "reference" or field.name == "name" or field.name == "revision" %}
                            <td class="{{ field.label }}">{{ field }} {{ field.errors }}</td> 
                        {% endif %}

                    {% endfor %}


                    <td>
                        <input type="button"
                        value="{{part_doc_cforms.0.errors|yesno:"-,+"}}" 
                        class="toggle_extra_attributes_button"
                        id="part_show{{forloop.counter0}}"/>
                    </td>
                </tr>




                <tr class="part_show{{forloop.counter0}} show_hide" 
                    {% if not part_doc_cforms.0.errors %} style="display:none;" {% endif %}
                    >

                    <td class="vide" colspan="3">
                    </td>
                    <td colspan="5" id="extra_part_form-{{forloop.counter0}}">
                        {% with part_doc_cforms.0 as creation_form %}
                            {% include "extra_attributes.html" %}
                        {% endwith %}
                    </td>

                </tr> 


                <tr>
                    <td class="vide" colspan="3">
                    </td>

                    <td class="cell_label">
                        <p>Document3D</p>
                    </td>
                    {% for field in part_doc_cforms.1 %} 

                        {% if field.name == "reference" or field.name == "name" or field.name == "revision" %}
                            <td class="{{ field.label }}">{{ field }} {{ field.errors }}</td> 
                        {% endif %}

                    {% endfor %}

                    <td>
                        <input type="button"
                        value="{{part_doc_cforms.1.errors|yesno:"-,+"}}" 
                        class="toggle_extra_attributes_button"
                        id="doc_show{{forloop.counter0}}"/>
                    </td>

                </tr>

                <tr class="doc_show{{forloop.counter0}} show_hide" 
                    {% if not part_doc_cforms.1.errors %} style="display:none;" {% endif %}
                    >

                    <td class="vide" colspan="3">
                    </td>
                    <td colspan="5">
                        {% with part_doc_cforms.1 as creation_form %}
                            {% include "extra_attributes.html" %}
                        {% endwith %}
                    </td>

                </tr> 


            {% endfor %} 

        </table> 
        <input type="submit" value="{% trans "Create" %}"/> 

    </form>       


{% endblock %}


