{% extends "base.html" %}
{% load i18n plmapp_tags %}

<!-- Manage html display in the Content div which correspond to the "doc-cad" menu + "add new"-->

{% block css %}
<link type="text/css" href="/media/css/files.css" rel="Stylesheet" /> 
{% endblock %}

{% block content %}
    {% trans "Add new file / Check-in file :" %}
    {% with add_file_form as form %}
        {% include "snippets/undo_form.html" %}
    {% endwith %}
<!--</form>-->
<noscript>
    <div style="width:30%;" class="warning">
	You can only upload one file at a time.<br>
	Use the "Validate" button to send your file.
    </div>
</noscript>
<form class="form_queue">{% csrf_token %}</form>
<!--<div id="hidden_forms" style="display:none;"></div>-->
<div id="div_files"></div>
<script type="text/javascript" src="/media/js/file.js"></script>
{% endblock %}


