{% extends "base.html" %}
{% load i18n plmapp_tags %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/timeline.css" />
{% endblock %}


<!-- Manage html display in the Content div which correspond to the "history" menu -->

{% block content %}
    {% if is_contributor %}
        <div style="margin-bottom:1%;">
            <p>
            <a href="/object/create/?type=Group">{% trans "Click here to create another group." %}</a>
            </p>
        </div>
    {% endif %}
    <div>
        <h3 class="hplm">{% trans "You are in the following groups:" %}</h3>
            {% for object in groups %}
                {% include "groups/identity_card.html" %}
            {% endfor %}
    </div>

{% endblock %}

