/* *************************************************************************************** */
/*                                  GENERAL STYLE                                          */
/* *************************************************************************************** */
*
{
    padding: 0px;
    margin: 0px;
    color: #c8c6c5;
}

body 
{
    background: #343434;
    font-family: Arial, sans-serif, Verdana;
}

form {
    font-size: 14px !important;
}

img
{
    border-style : none;
    float: left;
    margin: 2px;
}

img.thumbnail
{
    max-height:70px;
}

h2
{
    font-size: 1.5em;
    line-height: 1.4;
}

h2, li.CurrentPage {
    background: url("/media/img/dark/button_bg.png") repeat-x; 
    background-size: auto 100%;
}
.clear
{
    clear: both;
}

hr
{
    margin-top: 10px;
    padding: 0px !important;
    margin-bottom: 10px;
}

ul
{
    display: inline;
    text-indent: 0px;
}

li
{
    display: inline;
    list-style-type: none;
    text-indent: 0px;
}


div.main-box {
    position:relative;
    text-align:left;
    overflow:hidden;
}
div.top-box {
    background:  url("/media/img/dark/logo_openplm.png") no-repeat left top,
        url("/media/img/dark/banner.png") no-repeat right top;

    height: 100px;
    min-width: 100%;
    padding-top: 1em;
}
div.bottom-box {
}
div.center-box {
    position:relative;
    margin-left:300px;
    margin-top: 100px;
}
div.reset-box {
    position:relative;
    width:100%;
    left:100%;
    margin-left:-300px;
} 
div.right-box {
    position:relative;
    width:100%;
    margin-left:-22%;
}
div.content-box {
    position:relative;
    margin-top:60px;
    width: 90%;
    margin: auto;
    min-height: 500px;
}
div.left-col {
    float:left;
    width:300px;
}
div.center-col {
    margin-left:330px;
}
* html div.center-col {
    height:1%;
    margin:0;
}
* html div.left-col {
    margin-right:-3px;
}

.clearfix:after {
    content: "."; 
    display: block;
    height: 0px;
    clear: both; 
    visibility: hidden;
}
.heightfix:before {
    content:'.';
    display:block;
    visibility:hidden;
    height:0;
}



/* *************************************************************************************** */
/*                          STYLE FOR THE MAIN BOXES                                       */
/* *************************************************************************************** */
/* FOR ALL BOXES */
div#CreationBox, div#SearchBox, div#ActiveBox, div#LoginBox
{
    border-radius: 1px;
    border: solid 2px #636363;
    /*background-image: -moz-radial-gradient(90% 20% 45deg, ellipse farthest-corner, #e5e5e5 0%, #b5c5ff 100%);*/
    background-color: #575454;
    margin: 8px;
    padding: 5px;
    text-align: left;
}

/* BOX WE FIND IN THE LOGIN PAGE */
div#LoginBox
{
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    width: 500px;
    margin: auto;
    padding: 50px;
    text-align: center;
}

div#CreationBox > *, div#SearchBox > *,
div#ReferenceArea h2,
div#ActiveArea > *{
    padding: 5px;
}

/* BOX WHERE WE FIND DIFFERENT BUTTONS FOR PAGE DISPLAY (SHOW/HIDE BOXES & NAVIGATE/STUDY) */
div#DisplayBox
{
    display: table-cell;
    height: 30px;
    max-width: 400px;
    width: 40%;
    margin-right: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
    /*line-height: 30px;*/
    font-size: 14px;
    text-align: center;
}

/* BOXES NECESSARY FOR THE CREATE FUNCTION AND SEARCH FUNCTION */
div#CreationBox, div#SearchBox {
    display: none;
    font-size: 14px;
    /*float: left;*/
    width: 100%;
    margin-right: 0px;
    padding: 0;
}

div#ActiveBox
{
    min-height: 420px;
    margin-bottom: 110px;
    padding: 0px;
}

div.left-col h2,
div#ReferenceArea {
    margin: 0;
}


div#SearchBox {
    min-height: 200px;
}

/* BOX WHICH DISPLAY INFO ABOUT LOGGED-IN USER, LANGUAGE, TIME, ... */
div#LoggedPersonBox
{
    text-align: left;
    height: 30px;
    margin-bottom: 0px;
    margin-left: 100px;
}



/* *************************************************************************************** */
/*                          STYLE FOR BUTTONS IN DISPLAYBOX                                */
/* *************************************************************************************** */

/* BUTTON TO SWITCH TO NAVIGATE MODE DISPLAY */
li#NavigateButton
{
    margin-right: -5px;
}


#SetLangForm
{
    display: inline;
    float: right;
}

#SetLangForm > * {
    max-width: 8em;
}

/* *************************************************************************************** */
/*                              STYLE INSIDE THE ACTIVEBOX                                 */
/* *************************************************************************************** */
/* AREA WHERE TYPE-REFERENCE-REVISION IS DISPLAYED */
div#ReferenceArea
{
    border-bottom: 7px solid #CCCCCC;
    text-align: left;
    font-weight: lighter;
}

/* ACTIVE AREA */
div#ActiveArea
{
    text-align: left;
    float:none;
}

/* FOR THE MENU OF THE CURRENT OBJECT */
div#menu {
    margin-bottom: 10px;
}

ul#MenuList
{
    /*display: block;*/
    text-indent: 10px;
    text-align: left;
    font-size: 90%;
    margin-bottom: 10px;
    margin-top: 5px;
}

ul#MenuList li
{
    display: inline;
    /*width: 100%;*/
    text-align: center;
    padding: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    white-space:nowrap;
    padding-top:5px;
}

ul#MenuList li.CurrentPage
{
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: none;
    border-width: 1px;
    padding-left: 4px;
    padding-right: 4px;
}

ul#MenuList li:not(.CurrentPage)
{
    background-color : #cccccc;
}

ul#MenuList li:hover
{
    border-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: none;
    padding-left: 4px;
    padding-right: 4px;
}

/* STYLE FOR LINKS IS DESACTIVED */
ul#MenuList li a
{
    text-decoration: none;
    padding: 4px 0px;
    display: inline-block;
}
ul#MenuList li:not(.CurrentPage) a {
    color: #000000;
}

/* *************************************************************************************** */
/*                   STYLE FOR THE TABLES USED IN THE SEARCHBOX & ACTIVEBOX                */
/* *************************************************************************************** */
table.Content
{
    width: 100%;
    margin-top: 10px;
    border-spacing: 2px;
}

table.Content th,
table.Content td
{
    padding: 3px;
}

table.Content tr > *:not(.ui-widget) {
    border-top: 2px solid #7f7c7c;
    border-bottom: solid 2px #7f7c7c;
    margin-top: 2px;
    margin-bottom: 2px;
}

table.Content th
{
    text-align: right;
    padding-right: 10px;
}

table.Content td
{
    text-align: left;
    background-color: #AFACAB;
}

table.Content td,
table.Content td *:not(.ui-button-text):not(.ui-button) {
    color: #343434;
    font-weight: 500;
}


table.Content td.description
{
    background-color: #343434;
}
table.Content td.description,
table.Content td.description *{
    color: #afacab;
    font-weight: 600;
}



/* *************************************************************************************** */
/*              STYLE FOR ELEMENTS WHEN WE ARE IN NAVIGATE MODE DISPLAY                    */
/* *************************************************************************************** */

div#Navigate
{
    position: relative;
    width: 99.8%;
    -moz-border-radius: 5px;
    border: 1px solid #000000;
    height: 500px;
    background-color: #FFFFFF;

    background-image: -moz-radial-gradient(50% 50% 45deg, #E5E5E5 0%, #eef 100%);
    overflow: scroll;
}

#closeThumbnails {
    float: right;
}

#navThumbnailsBar {
    border-bottom: 1px solid #ccc;
    background-color: #dbb;
    padding: 3px;
    overflow: auto;
}

div#navThumbnails {
    width: 180px;
    display:none;
    float:right;
    height: 500px;
    z-index:70;
    position:absolute;
    height: 500px;
    right:0px;
    border-left: 1px solid #ccc;
    background: rgba(200, 230, 230, 0.7);
}

div#thumbnailsList {
    overflow-y: scroll;
    max-height: 480px;
}
div#thumbnailsList img{
    border-bottom: 1px solid #ccc;
    max-width: 160px;
    max-height: 160px;
}


div#DivNav {
    position: absolute;

}

div.node > a > span {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none;
}

img.node_thumbnails, img.node_show_docs {
    position:absolute;
    right: 0;
    bottom: 0;
    display:none;
    z-index:50;
}

#ImgNav
{
    position: absolute;
    z-index: 1;
    border-style: none;
    cursor: crosshair;
}

/* BUTTONS WE USE TO SLIDE THE NAVIGATE IMAGE UP/DOWN/LEFT/RIGHT */
div#imgManagement
{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 95px;
    height: 95px;
    border-style: none;
    cursor: pointer;
    opacity:0.8;
    filter:alpha(opacity=20);
    z-index: 5;
}

#topControl
{
    width: 94px;
    height: 29px;
    background: url(/media/img/nav-top.png) no-repeat;
    float: left;
    filter:alpha(opacity=20);
}

#rightControl
{
    width: 47px;
    height: 36px;
    background: url(/media/img/nav-right.png) no-repeat right;
    float: right;
}
#leftControl
{
    width: 47px;
    height: 36px;
    right: 110px;
    top: 410px;
    background: url(/media/img/nav-left.png) no-repeat left;
    float: left;
}

#bottomControl
{
    width: 94px;
    height: 29px;
    background: url(/media/img/nav-bottom.png) no-repeat;
    float: left;
}

/* DISPLAY A BOX IN THE NAVIGATEAREA FOR FILTER OPTIONS */
div#FilterNav
{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
    padding: 3px;
    width: 250px;
    text-align: left;
    background-color: #555555;
    opacity:0.8;
    filter:alpha(opacity=80);
    -moz-border-radius: 5px;
}

div#FilterNav * {
    color:black;
}

div#FilterNav ul
{
    display: none;
    text-indent: 0px;
}

div#FilterNav ul>li
{
    display: block;
    text-indent: 0px;
    background-color: #dddddd;
    text-align: right;
    opacity:0.8;
    filter:alpha(opacity=80);
    font-size: 75%;
    padding: 5px;
}

/* comments */

div.comment {

    margin: 1em;
    padding-left:0.5em;
    border-left: 2px #888 solid;
}

div#comments{
    margin:1em;
    border-top: 1px #444 solid;
}

td.expander span.expander {
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    display:block; width:16px; height:16px;
    text-indent:-5000em;
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left:4px;
    margin-left:6px;
}

td.expanded span.expander {
    background-image: url("/media/img/expander_normal.png");
}
td.expanded span.expander:hover {
    background-image: url("/media/img/expander_normal_hover.png");
}

td.open span.expander {
    padding-left: 0;
    margin-left: 2px;
    background-image: url("/media/img/expander_open.png");
}
td.open span.expander:hover {
    padding-left: 0;
    margin-left: 2px;
    background-image: url("/media/img/expander_open_hover.png");
}

/** simple search **/
ul.Result {
    display: block;
}
li.Result {
    padding-bottom: 0.5em;
    display:block;
}

li.Result:hover {
    background-color: #ccc !important;
}

li.Result:hover *{
    color: black !important;
}
li.Result div.summary {
    padding-left: 1em;
    clear: both;
}

li.Result div.toolbar{
    display:inline;
    float: right;
    margin: 2px;
}
li.Result div.toolbar button{
    height: 16px;
    width: 16px;
}


/** input **/
input[type=text],
input[type=password],
textarea {
    color: black;
    font-size: 1.1em;
}

/* LINKS HAS APPEARANCE CLOSED TO BUTTONS */
a.Button, input.Button
{
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    font-weight: normal;
}

input.Button{
    margin: 0;
}

.ui-button {
    border: 1px solid #aaa !important;
}

span.ui-button-text {
    padding:0.4em 0.4em !important;
}

a.Button {
    padding: 0 !important;
    line-height: 1.0 !important;
    font-size: 14px !important;
}

li.ui-button:hover,
a.ui-button:hover,
input.ui-button:hover {
    background: url("/media/css/openplm/images/ui-bg_glass_75_dadada_1x400.png") repeat-x scroll 50% 50% #DADADA;
    color: black !important;
    font-weight: normal;
}

li.ui-button:hover * {
    color: black !important;

}

div.selector {

    background:url("/media/img/dark/drop.png") no-repeat right center, 
        url("images/ui-bg_inset-soft_15_373737_1x100.png") repeat-x scroll 50% 50% #373737;
}
