{% load i18n plmapp_tags %}

<div id="#supermenu">

    {# Search #}
    <div class="menurow">
        <div class="menuitem"> 
            <a class="tooltip" href="/search/?type={{request.session.type}}&amp;q={{search_query}}">
                {% trans "Search" %}
                <span class="triangle">&nbsp;</span>
                <span class="info">{% trans "Search for a part, a document, a file and more." %}</span>
            </a>
        </div>
    </div>

    {# study, homepage, navigate #}
    <div class="menurow">
        <div class="menuitem"> 
        <a class="tooltip" href="/user/{{user}}/parts-doc-cad/">
            {% trans "Study" %}
            <span class="triangle">&nbsp;</span>
            <span class="info">{% trans "See/edit your personal data and explore your parts and document." %}</span>
        </a>

    </div>
    <div class="menuitem" id="mi_homepage"> 
    </div>
    <div class="menuitem"> 
    <a class="tooltip" href="/user/{{user}}/navigate/">
        {% trans "Navigate" %}
        <span class="triangle">&nbsp;</span>
        <span class="info">{% trans "Graphically explore your parts and documents." %}</span>
    </a>
</div>

    </div>

    {# Create #}
    {% if user.get_profile.is_contributor %}
        <div class="menurow">
            <div class="menuitem"> 
                <a class="tooltip" href="/object/create/?type={{request.session.type}}">
                    {% trans "Create" %}
                    <span class="triangle">&nbsp;</span>
                    <span class="info">{% trans "Create a new part, a new document or a new group." %}</span>
                </a>
            </div>
        </div>
    {% endif %}

</div>
