/* Definir le style de la page entière */

*   {
    padding: 0px;
    margin: 0px;
    }

body 
{
background-color: #aaaaaa;
background-image: url(img/ciel_etoile111.jpg);
font-family: Comic Sans MS, Verdana, Arial, sans-serif;
text-align: center;
margin: 5px;
}

.clear
{
clear: both;
}

div
{
-moz-border-radius: 1em;
-webkit-box-shadow: 3px 3px 6px #666;
-moz-box-shadow: 3px 3px 6px #666;
box-shadow: 3px 3px 6px #666;
}

#HomePage
{
background-color: #ffffff;	
width: 1200px;
filter: alpha(opacity=90);
opacity: 0.90; 
}

#SearchArea, #NavigateArea
{
float: left;
min-height: 500px;
border-style: none;
}

div#SearchArea
{
width: 400px;
}

div#NavigateArea
{
width: 800px;
}

div#SearchBox, div#ResultBox, div#ResultBox4Search, div#LoggedPersonBox, div#NavigateBox4Part, div#NavigateBox4Doc
{
float: top;
background-color: #99ccff;
margin: 8px;
padding: 5px;
}

div#SearchBox
{
min-height: 180px;
}

div#ResultBox
{
min-height: 200px;
/*overflow: scroll;*/
}

div#ResultBox4Search
{
background-color: #fec3c3;		
min-height: 350px;
}

div#LoggedPersonBox, div#NavigateBox4Part, div#NavigateBox4Doc
{
float: left;
}

div#LoggedPersonBox
{
width: 374px;
height: 30px;
}

div#NavigateBox4Part, div#NavigateBox4Doc
{
width: 772px;
min-height: 500px;
}

div#NavigateBox4Doc
{
background-color: #FDFEBF;
}

div#PageBanner, div#PageLeft, div#PageCenter
{
-moz-border-radius: 0em;
-webkit-box-shadow: 0px 0px 0px #666;
-moz-box-shadow: 0px 0px 0px #666;
box-shadow: 0px 0px 0px #666;
float: top;
}

/* Definir le style de la Banniere en haut de page */
div#PageBanner
{
border-bottom: 7px solid #CCCCCC;
text-align: left;
font-size: 175%;
font-weight: lighter;
}

/* Definir le style de la partie Gauche de la page */
div#PageLeft
{
background-color: #CCCCCC;
}

/* Definir le style de la partie Centrale de la page */
div#PageCenter
{
text-align: left;
}

table.MenuTable
{
width: 100%;
border-spacing: 0;
}

.MenuTable td
{
text-align: center;
font-size: 100%;
}

.MenuTable td:hover {background-color: #E6E6FF;}

.MenuTable a
{text-decoration: none;
color: black;
}

table.Content, table.Result
{
width: 100%;
border-spacing: 0;
}

table.Result
{
margin: 0px;
overflow-x: top sroll;
overflow-y: hidden;
}

th.Content, td.Content, td.Content2
{
padding: 3px;
border-width: 1px;
border-style: solid;
border-color: #99ccff;
}

td.Content
{
background-color: #E6E6FF;
}

td.Content2	{
background-color: #AAAAAA;
}

ul
{
display: inline;
padding: 0px;
text-indent: 0px;
}
	
li
{
display: inline;
list-style-type: none;
padding: 0px;
text-indent: 0px;
}

