{% load i18n plmapp_tags %}

{% block content %}
    <table class="Content">

        {% include "parts/bom_thead.html" %}

        {% for doc in documents|key:obj.id %}

            <tr class="Content document"> 
                <td class="Content" colspan="3">  </td>
                <td class="Content"> {% trans "Doc" %} </td>
                <td class="Content"> 
                    <a href="{{doc.plmobject_url}}"> {{ doc.reference }} </a>
                </td>
                <td class="Content"> {{ doc.revision }} </td>
                <td class="Content"> {{ doc.type }} </td>
                <td class="Content"> {{ doc.name }} </td>
                {% for field, verbose_name in extra_columns %}
                    <td class="Content"> </td>
                {% endfor %}
                <td class="Content"> {{ doc.state.name }} </td>
                <td class="Content"> {{ states|key:doc.id }} </td>
            </tr>

        {% endfor %}

        {% for c in children %}

            <tr class="Content part"> 
                <td class="Content {% if level != "last" %} expander open{% endif%} level{{c.level}}" style="padding-left:{{c.level|add:"-1"}}0px;" >
                    {% if forloop.last or level == "last" and not documents|key:c.link.child_id %}
                        <span class="not_expander">{{c.level}}</span>
                    {% else %}
                        {% with forloop.counter as next %}
                            {% with children|indice:next as ci%}
                                {% if ci.level > c.level or documents|key:c.link.child_id %}
                                    <span class="expander">{{c.level}}</span>
                                {% else %}
                                    <span class="not_expander">{{c.level}}</span>
                                {% endif %}
                            {% endwith %}
                        {% endwith %}
                    {% endif %}
                </td>
                {% with c.link as link %}
                    <td class="Content"> {{ link.order }} </td>
                    <td class="Content"> {{ link.quantity }} </td>
                    <td class="Content"> {{ link.get_unit_display }} </td>
                    {% with link.child as child %}
                        <td class="Content"> 
                            <a href="{{child.plmobject_url}}"
                                {% if child.id in decomposable_children %}class="decomposable"{% endif %}>
                                {{ child.reference }}
                            </a>
                        </td>
                        <td class="Content"> {{ child.revision }} </td>
                        <td class="Content"> {{ child.type }} </td>
                        <td class="Content"> {{ child.name }} </td>
                        {% for field, verbose_name in extra_columns %}
                            <td class="Content"> {{ extension_data|key:link.id|key:field }} </td>
                        {% endfor %}
                        <td class="Content"> {{ child.state.name }} </td>
                        <td class="Content"> {{ states|key:child.id }} </td>
                    {% endwith %}
                {% endwith %}
            </tr>
            {% for doc in documents|key:c.link.child_id %}

                <tr class="Content document"> 
                    <td class="Content expander level{{c.level|add:1}}" colspan="3">  </td>
                    <td class="Content"> {% trans "Doc" %} </td>
                    <td class="Content"> 
                        <a href="{{doc.plmobject_url}}"> {{ doc.reference }} </a>
                    </td>
                    <td class="Content"> {{ doc.revision }} </td>
                    <td class="Content"> {{ doc.type }} </td>
                    <td class="Content"> {{ doc.name }} </td>
                    {% for field, verbose_name in extra_columns %}
                        <td class="Content"> </td>
                    {% endfor %}
                    <td class="Content"> {{ doc.state.name }} </td>
                    <td class="Content"> {{ states|key:doc.id }} </td>
                </tr>

            {% endfor %}

        {% endfor %}
    </table>
{% endblock %}


