{% extends "base.html" %}
{% load i18n plmapp_tags highlight %}

{# search page #}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/media/css/search.css" />
{% endblock %}
{% block leftcolumn %} {% endblock %}

{% block content  %}


    <form id="inline_search_form" method="get" action=".">
        {% for field in form %}
            {{ field }}
        {% endfor %}
        <input id="search_button" type="submit" class="tb-btn" value="{% trans "SEARCH !" %}"/>
    </form>

    {% if query %}
        <h3>{% trans "Results" %}</h3>

        {% for result in page.object_list %}
            {% if forloop.first %}
                <p id="results">
                {% trans "Results" %}
                <span id="numresults">
                    {% blocktrans with page.start_index as start and page.end_index as end and paginator.count as total %}
                        ({{start}} - {{end}} on {{total}})
                    {% endblocktrans %}
                </span> 
                </p>
                <ul class="Result">
                {% endif %}

                {% include "search/result.html" %}
                {% if forloop.last %}
                </ul>
            {% endif %}


        {% empty %}
            <p>{% trans "No result matching given query" %}</p>
        {% endfor %}

        {% show_pages_bar page request %}

    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
{% endblock %}
