{% extends "base.html" %}
{% load i18n plmapp_tags %}

{% block leftcolumn %} {% endblock %}


{% block main %}
    <div id="ActiveBox">

        <div id="ActiveArea">
            <h3 class="hplm">{% trans "Error 404" %}</h3>
            <p style="padding:2em;">
            {% blocktrans with request_path as request_path %}
                Error 404: it seems {{request_path}} is not a valid url.
            {% endblocktrans %}
            </p>

            <div class="clearfix"></div>

        </div>

    </div>
{% endblock %}

