<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html"; charset="ISO-8859-1">
	<link rel="stylesheet" type="text/css" href="/media/openplm.css" />
	<title>{% block title %} {% endblock %}</title>
	<meta name="Author" content="philippe.joulaud" />
	<meta name="Classification" content="" />
	<meta name="Description" content="" />
	<meta name="keywords" content="" />
</head>

<body>
<center>
	<div id="HomePage" >
		<div id="SearchArea">
			<div id="SearchBox">
				{% block SearchBlock %}{% endblock %}
			</div>
			<div id="SearchBox">
				{% block ResultBlock %}{% endblock %}
			</div>
		</div>
		<div id="NavigateArea">
			<div id="LoggedPersonBox">
				{% block LoggedPersonBlock %}{% endblock %}
			</div>
			<div id="LoggedPersonBox">
				{% block CreationBlock %}{% endblock %}
			</div>
			<div id="NavigateBox">
				{% block ObjectBlock %}{% endblock %}
			</div>
		</div>
		<br class="clear" />
	</div>

</center>
</body>
</html>
