{% extends "BaseDisplayHomePage.htm" %}

<!-- Manage html display of the home page -->

{% block LoggedPersonBlock %}
    <p><a href="/logout/">
        <img src="/media/img/exit.png" title="Exit" alt="Exit" width="30" height="30"/>
    </a>
    {{log_in_person}} | {{current_date|date:"l j F Y, G:i"}}</p>
{% endblock %}

{% block SearchBlock %}
	<b>Search for :</b>
	<form method="get" action="." enctype="text/plain">
		<table class="Content">
			{{attributes_form.as_table}}
			{{extra_attributes_form.as_table}}
		</table>
		<input type="submit" value="SEARCH !">
	</form>
{% endblock %}

{% block ResultBlock %}
	<table class="Result">
		<tr class="Content">
			<th class="Content">Type</th>
			<th class="Content">Reference</th>
			<th class="Content">Rev.</th>
            <th class="Content">Name</th>
		</tr>
		{% if results %}
			{% for object in results %}
				{% if forloop.counter|divisibleby:"2" %}
				    <tr class="Content">
					    <td class="Content2">{{object.type|escape}}</td>
					    <td class="Content2">
					        <a href="/object/{{object.type}}/{{object.reference}}/{{object.revision}}/">
					                {{object.reference|escape}}
			                </a>
		                </td>
					    <td class="Content2">{{object.revision|escape}}</td>
					    <td class="Content2">
					        <a class="info">
					            {{object.name|escape|slice:":10"}}...
					            <span>{{object.name|escape}}</span>
				            </a>
					    </td>
				    </tr>
			    {% else %}
			        <tr class="Content">
					    <td class="Content">{{object.type|escape}}</td>
					    <td class="Content">
					        <a href="/object/{{object.type}}/{{object.reference}}/{{object.revision}}/">
					            {{object.reference|escape}}
				            </a>
			            </td>
					    <td class="Content">{{object.revision|escape}}</td>
					    <td class="Content">
					        <a class="info">
					            {{object.name|escape|slice:":10"}}...
					            <span>{{object.name|escape}}</span>
				            </a>
				        </td>
				    </tr>
			    {% endif %}
			{% endfor %}
		{% endif %}
	</table>
{% endblock %}

{% block CreationBlock %}
	<form method="get" action="/object/create/" enctype="text/plain">
		<table class="Content">
			<tr>
				{% for attribute in type_form %}
					<th>{{attribute.label_tag}}</th>
					<td>{{attribute}}</td>
				{% endfor %}
				<td><input type="submit" value="CREATE !"></td>
			</tr>
		</table>
	</form>
{% endblock %}




