{% extends "MiddleDisplayObject.htm" %}

<!-- Manage html display in the Content div which correspond to the "attributes" menu -->

{% block content %}
	
	    <table>
	        <tr>
	            {% ifequal object_type 'User' %}
	                <td>
	                    <div class="ButtonLeft">
	                        <div class="Button">
	                            <a class="Button" href="/user/{{object_reference}}/modify/">EDIT</a>
                            </div>
                        </div>
                    </td>
	                <td>
	                    <div class="ButtonLeft">
	                        <div class="Button">
	                            <a class="Button" href="/user/{{object_reference}}/password/">PASSWORD</a>
                            </div>
                        </div>
	                </td>
                {% else %}
                    <td>
	                    <div class="ButtonLeft">
	                        <div class="Button">
	                            <a class="Button" 
	                                href="/object/{{object_type}}/{{object_reference}}/{{object_revision}}/modify/">
	                                EDIT
                                </a>
                            </div>
                        </div>
                    </td>
            	{% endifequal %}
	        </tr>
        </table>
    <br />
	<br />
	<table class="Content">
	{% for description,attribute in object_attributes %}
		<tr class="Content">
			<td class="Content">{{description}}</td><td class="Content">{{attribute}}</td>
		</tr>
	{% endfor %}
	</table>
	</form>
	{% for message in messages %}
	{{message}}<br>
	{% endfor %}
{% endblock %}


