{% extends "MiddleDisplayObject.htm" %}
{% load i18n %}

<!-- Manage html display in the Content div which correspond to the "files" menu -->

{% block content %}
    
    <form method="POST" action="">
        {{ file_formset.management_form }}
		{% if is_owner and obj.is_editable %}
	    <table>
	        <tr>
		        <td></td>
		        <td>
                        <div class="ButtonLeft">
                            <div class="Button">
                                <a class="Button" href="./add/">{% trans "ADD" %}</a>
                            </div>
                        </div>
                </td>
	    	    <td><input type="submit" value={% trans "DELETE" %}></td>
    	    </tr>
	    </table>
        {% endif %}
	    <table class="Content">
		    <tr class="Content">
		        {% for form in file_formset.forms %}
                {{ form.id }}
                {{ form.document }}
                {% with form.instance as instance %}
			    <td class="Content">{{ form.delete }}</td>
			    <td class="Content">
			        {% if instance.locked %}
			            <img src="/media/img/verrou_ferme.gif" title="Lock" alt="Lock" width="20" height="20"/>
		            {% else %}
		                <img src="/media/img/verrou_ouvert.jpg" title="Unlock" alt="Unlock" width="20" height="20"/>
		            {% endif %}
		        </td>
                <td class="Content">
                    <a href="/file/{{instance.id}}/{{instance.filename}}">{{instance.filename}}</a></td>
			    <td class="Content">{{instance.size}}</td>
			    <td class="Content">
			        <div class="ButtonLeft">
                        <div class="Button">
                            <a class="Button" href="/file/{{instance.id}}/">{% trans "DOWNLOAD" %}</a>
                        </div>
                    </div>
                </td>
			    <td class="Content">
			        {% if is_owner and obj.is_editable %}
			            <div class="ButtonLeft">
                            <div class="Button">
                                {% if instance.locked %}
			                    <a class="Button" href="./checkin/{{instance.id}}/">{% trans "CHECK-IN" %}</a>
                                {% else %}
			                    <a class="Button" href="./checkout/{{instance.id}}/">{% trans "CHECK-OUT" %}</a>
                                {% endif %}
		                    </div>
	                    </div>
                        {% else %}
                        {{ is_owner|yesno:"Object is not editable,you are not the owner" }}
		            {% endif %}
	            </td>
			    <td class="Content">
                    {% if instance.thumbnail %}
                    <img class="thumbnail" src="{{THUMBNAILS_URL}}/{{instance.thumbnail.name}}"
                        alt="Thumbnail"/>
		            {% else %}
                    {% trans "No thumbnail available" %}
		            {% endif %}
	            </td>
            </tr>
            {% endwith %}
	    {% endfor %}
	    </table>
    </form>
{% endblock %}


