{% extends "MiddleDisplayObject.htm" %}
{% load i18n %}

<!-- Manage html display in the Content div which correspond to the "attributes" menu -->

{% block content %}
    {% if is_owner %}
        {% ifequal object_type 'User' %}
            <span class="ButtonLeft">
                <a class="Button" href="/user/{{object_reference}}/modify/">{% trans "EDIT" %}</a>
            </span>
            <span class="ButtonLeft">
                <a class="Button" href="/user/{{object_reference}}/password/">{% trans "PASSWORD" %}</a>
            </span>
        {% else %}
            {% if obj.is_editable %}
                <span class="ButtonLeft">
                    <a class="Button" 
                        href="/object/{{object_type}}/{{object_reference}}/{{object_revision}}/modify/">
                        {% trans "EDIT" %}
                    </a>
                </span>
            {% endif %}
        {% endifequal %}
    {% endif %}
	<table class="Content">
	    {% for description,attribute in object_attributes %}
		    <tr class="Content">
                <td class="Content">{{description}}</td>
                <td class="Content">{{attribute|linebreaks}}</td>
		    </tr>
	    {% endfor %}
	</table>
{% endblock %}


