{% extends "MiddleDisplayObject.htm" %}
{% load i18n %}

<!-- Manage html display in the Content div which correspond to the "history" menu -->

{% block content %}
	<table class="Content">
	    {% for histo in object_history %}
		    <tr class="Content">
			    <td class="Content">
			        {{histo.date}}
		        </td>
		        <td class="Content">
		            {{histo.action}}
	            </td>
		        <td class="Content">
		            {{histo.user}}
	            </td>
	            <td class="Content">
	                {{ histo.details|linebreaks }}
                </td>
		    </tr>
	    {% endfor %}
	</table>
{% endblock %}

