{% extends "MiddleDisplayObject.htm" %}
{% load i18n plmapp_tags %}

<!-- Manage html display in the Content div which correspond to the "doc-cad" menu -->

{% block content %}
    {% if object_doc_cad.count > 0 %}
        <form class="archive_form" method="GET" action="./archive/">
            {{ archive_form.as_p }}
            <input type="submit" class="{{"Button"|button}}" value="{% trans "Download all files" %}"/>
        </form>
    {% endif %}
    <form method="post" action="">	
        {{ doc_cad_formset.management_form }}
        {% if is_owner %}
            <a class="{{"Button"|button}}" href="./add/">
                <span class="ui-button-text">{% trans "Attach another document" %}</span>
            </a>
            {% if object_doc_cad.count > 0 %}
                <input type="submit" class="{{"Button"|button}}" value="{% trans "DISCONNECT" %}"/>
            {% endif %}
        {% endif %}
        <table class="Content">
	        {% for form in doc_cad_formset.forms %}
                {{ form.id }}
                {{ form.part }}
                {{ form.document }}
                <tr class="Content">
                    {% if is_owner %}
                        <td class="Content"  style="width:50px; text-align:center">{{ form.delete }}</td>
                    {% endif %}
		            <td class="Content">{{ form.instance.document.type }}</td>
		            <td class="Content">
                        <a href="{{ form.instance.document.plmobject_url }}"/>
		                    {{ form.instance.document.reference }}
	                    </a>
                    </td>
		            <td class="Content">{{ form.instance.document.revision }}</td>
                </tr>
                {% empty %}
                <tr><td>{% trans "There are no document attached to this part" %}</td></tr>
	        {% endfor %}
	    </table>
    </form>
{% endblock %}


