{% extends "MiddleDisplayObject.htm" %}
{% load i18n %}

<!-- Manage html display in the Content div which correspond to the "management" menu -->
{% block css %}
    <link rel="stylesheet" type="text/css" href="/media/css/timeline.css" />
{% endblock %}



{% block content %}
    {% if is_owner %}
        <span class="ButtonLeft">
            <a class="Button" href="./add/" >{% trans "Notify" %}</a>
        </span>
    {% else %}
        {% if is_notified %}
            <form  method="POST" action="./delete/">
                <input type="hidden" name="link_id" value="{{ remove_notify_link.id }}"/>
                <input name="action" type="submit" value="{% trans "Unnotify me" %}" />
            </form>
        {% else %}
            <form  method="POST" action="./add/">
                {{ notify_self_form.as_p }}
                <input name="action" type="submit" value="{% trans "Notify me" %}" />
            </form>
        {% endif %}
    {% endif %}

    {% regroup object_management|dictsort:"role" by role as links %}

    {% for group in links %}
        <div class="timeline">
            <h3>{{ group.grouper|capfirst}}</h3>

            <dl>
                {% for link in group.list|dictsort:"plmobject.type" %}
                    <dt class="changeset">
                    <span>{{link.user.first_name}}</span>
                    <span>{{link.user.last_name}},</span>
                    <a href="/user/{{link.user.username}}/"><span>{{link.user.username}}</span></a>,
                    {% with link.user.get_profile as profile %}
                        <span>{{ profile.rank }},</span>
                    {% endwith %}

                    <span>{{link.user.is_active|yesno:"active,inactive"}}</span>
                    </dt>
                    <dd style="display:inline;">
                    {% if is_owner %}
                            <div style="float:left;">
                        <span>&nbsp;</span>
                        <span class="ButtonLeft">
                            <a class="Button" href="./replace/{{link.id}}/">{% trans "REPLACE" %}</a>
                        </span>
                        </div>
                    {% endif %}
                    {% if is_owner %}
                        {% ifequal link.role 'notified'%}
                            <div style="float:left;">

                            <form action="./delete/" method="POST">
                                <input name="link_id" type="hidden" value="{{link.id}}"/>
                                <input name="action" type="submit" value="{% trans "Delete" %}" />
                            </form>
                        </div>
                        {% endifequal %}
                    {% endif %}
                    </dd>
                {% endfor %}
            </dl>
            <br />
        </div>

    {% endfor %}

{% endblock %}


