{% extends "BaseDisplayHomePage.htm" %}
{% load i18n %}
{% load plmapp_tags %}
{% load highlight %}

<!-- Manage html display of the home page -->

{% block LoggedPersonBlock %}
    {% get_current_language as LANGUAGE_CODE %}
    <a href="/user/{{user}}/">{{user}}</a> | {{current_date|date:"D j N Y, G:i"}}
    <form id="SetLangForm" action="/i18n/setlang/" method="post">
        <select name="language">

            {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}" {% ifequal LANGUAGE_CODE lang.0 %} selected="selected"{% endifequal %} >
                {{ lang.1 }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="{% trans "Go" %}" />
    </form>
{% endblock %}

{% block SearchBlock %}
    <form id="search_form" method="get" action="." enctype="text/plain">
        <table class="Content" id="search_table">
            {{type_form.as_table}}
            {{attributes_form.as_table}}
        </table>
        <div style="text-align:center"><input type="submit" value="{% trans "SEARCH !" %}"/></div>
    </form>
{% endblock %}

{% block ResultBlock %}
    {% if link_creation %}
        {% trans "Results for link creation:" %}
    {% endif %}
    <ul class="Result">
        {% for result in results %}
            <li class="Result">
            <div class="reference">
                {{result.rendered|safe}}
            </div>
            <div class="summary">
                {{ result.highlighted.text|safe }}
            </div>
            {% if link_creation or navigate_bool %}
                <form method="post" action="." enctype="multipart/form-data">
                    {{result.rendered_add|safe}}
                    {% if result.object|can_add:attach %}
                        <input type="submit" value="{% trans "ADD" %}"/>
                    {% endif %}
                </form>

            {% endif %}
            </li>

        {% empty %}
            <li>{% trans "No result matching given query" %}</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block CreationBlock %}
    <form method="get" action="/object/create/" enctype="text/plain">
        <ul>
            {{type_form4creation.as_ul}}
            <li>
            <input type="submit" value="{% trans "CREATE !" %}"/>
            </li>
            <li class="ui-button ui-button-text  ui-button-text-only ui-widget ui-state-default ui-corner-all"  id="ImportButton">
            <a href="/import/csv/">
                {% trans "Import" %}
            </a>
            </li>
            <li class="ui-button ui-button-text  ui-button-text-only ui-widget ui-state-default ui-corner-all"  id="ImportBOMButton">
            <a href="/import/bom/">
                {% trans "Import a BOM" %}
            </a>
            </li>
        </ul>
    </form>
{% endblock %}




