{% extends "MiddleDisplayObject.htm" %}
{% load i18n plmapp_tags %}

<!-- Manage html display in the Content div which correspond to the "lifecycle" menu -->

{% block content %}
    <div id="form-promote-dialog" title="{% trans "Are you sure?" %}" style="display:none">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>{% trans "If you promote or demote this object, you may not be allowed to undo this action." %}</p>
    </div>

    <form id ="form-promote" class="confirmation"  action="" method="POST">
        {% if is_signer_dm %}
            {% if obj.is_editable %}
                <input name="action" type="submit" class="{{"Button"|button}}" value="DEMOTE" />
            {% else %}
                <p>{% trans "You can not demote this object since its state is official or more advanced." %}</p>
            {% endif %}
        {% else %}
            <p>{% trans "You do not have the permission to demote this object." %}</p>
        {% endif %}
        {% if is_signer %}
            {% if obj.is_promotable %}
                <input name="action" type="submit" class="{{"Button"|button}}" value="PROMOTE" />
            {% else %}
                <p>{% trans "You can not promote this object:" %}</p>
                {{ obj.promotion_errors.as_ul }}
            {% endif %}
        {% else %}
            <p>{% trans "You do not have the permission to promote this object." %}</p>
        {% endif %}
    </form>
    <table class="Content">
        <tr class="Content">
            {% for status, is_current_state in object_lifecycle %}
                <td class="Content status Button ui-state-default ui-button-text-only 
                    {% if is_current_state %}
                        ui-state-active active
                    {% else %}
                        ui-state-inactive
                    {% endif %}
                    ">
                    {{status|upper}}</td>
                {% if not forloop.last %}
                    <td class="Content arrow">===&gt;</td>
                {% endif %}
            {% endfor %}
        </tr>
    </table>
{% endblock %}

