{% extends "MiddleDisplayObject.htm" %}
{% load i18n %}

<!-- Manage html display in the Content div which correspond to the "parts" menu + "add new"-->

{% block content %}
<form method="POST" action="">
    <table class="Content">
        {{add_rel_part_form}}
        <tr>
            <td>
            </td>
            <td>
                <input type="submit" value="{% trans "Validate" %}" name="action"/>
                <input type="submit" value="{% trans "Undo" %}" name="action"/>
            </td>
        </tr>
    </table>
</form>
{% endblock %}


