{% extends "MiddleDisplayObject.htm" %}
{% load i18n plmapp_tags %}

<!-- Manage html display in the Content div which correspond to the "attributes" menu -->

{% block content %}
    {% if is_owner %}
        {% trans "START DELEGATE :" %}
        <a class="{{"Button"|button}}" href="./delegate/owner/">
            <span class="ui-button-text">{% trans "OWNERSHIP" %}</span>
        </a>
        <a class="{{"Button"|button}}" href="./delegate/sign/1/">
            <span class="ui-button-text">{% trans "SIGNATURE 1st LEVEL" %}</span>
        </a>
        <a class="{{"Button"|button}}" href="./delegate/sign/2/">
            <span class="ui-button-text">{% trans "SIGNATURE 2nd LEVEL" %}</span>
        </a>
        <a class="{{"Button"|button}}" href="./delegate/sign/all">
            <span class="ui-button-text">{% trans "ALL SIGNATURES" %}</span>
        </a>
        <a class="{{"Button"|button}}" href="./delegate/notified/">
            <span class="ui-button-text">{% trans "NOTIFICATIONS" %}</span>
        </a>
        {% if obj.is_contributor or obj.is_administrator %}
            <a class="{{"Button"|button}}" href="./sponsor/">
                <span class="ui-button-text">{% trans "Sponsor" %}</span>
            </a>
        {% endif %}
    {% endif %}
    <table class="Content">
        <tr class="Content">
            <th class="Content"> {% trans "Username" %} </th>
            <th class="Content"> {% trans "First Name" %} </th>
            <th class="Content"> {% trans "Last Name" %} </th>
            <th class="Content"> {% trans "Role" %} </th>
        </tr>
        {% for link in user_delegation_link %}
	            <tr class="Content">
		            <td class="Content">{{link.delegatee.username}}</td>
		            <td class="Content">{{link.delegatee.first_name}}</td>
		            <td class="Content">{{link.delegatee.last_name}}</td>
		            <td class="Content">{{link.role}}</td>
                    {% if is_owner %}
                        {% ifnotequal link.role "sponsor" %}
                        <td class="Content">
                            <form method="post" action="">
                                <input type="hidden" name="link_id" value="{{link.id}}" />
                                <input type="submit" class="{{"Button"|button}}" value="{% trans "STOP DELEGATION" %}"/>
                            </form>
                        </td>
                        {% endifnotequal %}
                    {% endif %}
	            </tr>
        {% endfor %}
    </table>
{% endblock %}


