{% extends "MiddleDisplayObject.htm" %}
{% load i18n plmapp_tags %}

<!-- Manage html display in the Content div which correspond to the "files" menu -->

{% block content %}
    <form method="POST" action="">
        {{ file_formset.management_form }}
		{% if is_owner and obj.is_editable %}
            <a class="{{"Button"|button}}" href="./add/"><span class="ui-button-text">{% trans "ADD" %}</span></a>
            <input type="submit" class="{{"Button"|button}}" value="{% trans "DELETE" %}"/>
        {% endif %}
	    <table class="Content">
		    <tr class="Content">
		        {% for form in file_formset.forms %}
                {{ form.id }}
                {{ form.document }}
                {% with form.instance as instance %}
			        <td class="Content" style="width:50px; text-align:center">{{ form.delete }}</td>
			        <td class="Content" style="width:50px; text-align:center">
			            {% if instance.locked %}
			                <img src="/media/img/verrou_ferme.gif" title="Lock" alt="Lock" width="20" height="20"/>
		                {% else %}
		                    <img src="/media/img/verrou_ouvert.jpg" title="Unlock" alt="Unlock" width="20" height="20"/>
		                {% endif %}
		            </td>
                    <td class="Content">
                        <a href="/file/{{instance.id}}/{{instance.filename}}">{{instance.filename}}</a></td>
			        <td class="Content">{{instance.size}}</td>
			        <td class="Content">
                        <a class="{{"Button"|button}}" href="/file/{{instance.id}}/"><span class="ui-button-text">{% trans "DOWNLOAD" %}</span></a>
                    </td>
			        <td class="Content">
                        {% if is_owner and obj.is_editable %}
                            {% if instance.locked %}
                                <a id="LockLink" class="{{"Button"|button}}" href="./checkin/{{instance.id}}/">
                                    <span class="ui-button-text">{% trans "CHECK-IN" %}</span>
                                </a>
                            {% else %}
                                <a id="UnlockLink" class="{{"Button"|button}}" href="./checkout/{{instance.id}}/">
                                    <span class="ui-button-text">{% trans "CHECK-OUT" %}</span>
                                </a>
                            {% endif %}
                        {% else %}
                            {{ is_owner|yesno:"Object is not editable,you are not the owner" }}
		                {% endif %}
	                </td>
			        <td class="Content">
                        {% if instance.thumbnail %}
                            <img class="thumbnail" src="{{instance.thumbnail.url}}"
                                alt="Thumbnail"/>
		                {% else %}
                            {% trans "No thumbnail available" %}
		                {% endif %}
	                </td>
                {% endwith %}
            </tr>
	    {% endfor %}
	    </table>
    </form>
{% endblock %}


