{% extends "MiddleDisplayObject.htm" %}

<!-- Manage html display in the Content div which correspond to the "files" menu -->

{% block content %}
    
    <form method="POST" action="">
        {{ file_formset.management_form }}
	    <table class="Content">
	        <tr>
		        <td></td>
		        <td>
		            {% if is_owner %}
		                <a href="./add/">ADD</a></td>
	                {% endif %}
	    	    <td><input type="submit" value="DELETE"></td>
    	    </tr>
		    <tr class="Content">
		        {% for form in file_formset.forms %}
                {{ form.id }}
                {{ form.document }}
			    <td class="Content">{{ form.delete }}</td>
			    <td class="Content">
			        {% if form.instance.locked %}
			            <img src="/media/img/verrou_ferme.gif" title="Lock" alt="Lock" width="20" height="20"/>
		            {% else %}
		                <img src="/media/img/verrou_ouvert.jpg" title="Unlock" alt="Unlock" width="20" height="20"/>
		            {% endif %}
		        </td>
			    <td class="Content">{{form.instance.filename}}</td>
			    <td class="Content">{{form.instance.size}}</td>
			    <td class="Content"><a href="/file/{{form.instance.id}}/">DOWNLOAD</a></td>
			    <td class="Content">
			        {% if is_owner %}
			            <a href="./checkout/{{form.instance.id}}/">CHECK-OUT</a>
		            {% else %}
		                CHECK-OUT
		            {% endif %}
		            </td>
			    <td class="Content">
			        {% if is_owner %}
			            <a href="./checkin/{{form.instance.id}}/">CHECK-IN</a>
		            {% else %}
		                CHECK-IN
		            {% endif %}
	            </td>
		    </tr>
	    {% endfor %}
	    </table>
    </form>
{% endblock %}


