{% extends "BaseDisplayHomePage.htm" %}
{% load i18n plmapp_tags highlight %}

<!-- Manage html display of the home page -->

{% block LoggedPersonBlock %}
    {% get_current_language as LANGUAGE_CODE %}
    <a href="/user/{{user}}/">{{user.get_full_name}}</a> | {{current_date|date:"D j N Y, G:i"}}
    <form id="SetLangForm" action="/i18n/setlang/" method="post">
        <ul>
            <li>
            <select name="language">

                {% for lang in LANGUAGES %}
                    <option value="{{ lang.0 }}" {% ifequal LANGUAGE_CODE lang.0 %} selected="selected"{% endifequal %} >
                    {{ lang.1 }}
                    </option>
                {% endfor %}
            </select>
            </li>
            <li>
            <input type="submit" class="{{"Button"|button}}" value="{% trans "Go" %}" />
            </li>
        </ul>
    </form>
{% endblock %}

{% block SearchBlock %}
    <div>
        <form id="search_form" method="get" action="." enctype="text/plain">
            <table id="search_table">
                {{search_form.as_table}}
            </table>
            <div style="text-align:center"><input id="search_button" type="submit" class="{{"Button"|button}}" value="{% trans "SEARCH !" %}"/></div>
        </form>
    </div>
{% endblock %}

{% block ResultBlock %}
    {% if link_creation %}
        {% trans "Results for link creation:" %}
    {% endif %}
    <ul class="Result">
        {% for result in results %}

            {% if forloop.first %}
                <p>
                    {% trans "Results" %}
                    <span id="numresults">
                        {% blocktrans with results|length as count and search_count as total %}
                            (1 - {{count}} on {{total}})
                        {% endblocktrans %}
                    </span> 
                </p>
            {% endif %}

            <li class="Result">
            {% if navigate_bool %}
                {% if result.object.is_part or result.object.is_document %}
                    <div class="toolbar">
                        <button class="attach">{% trans "Attach" %}</button>
                        <button class="add_child">{% trans "Add child" %}</button>
                    </div>
                {% endif %}
            {% endif %}
            <div class="reference">
                {{result.rendered|safe}}
            </div>
            <div class="summary">
                {{ result.highlighted.text|safe }}
            </div>
            {% if link_creation or navigate_bool %}
                <form method="post" action="." enctype="multipart/form-data">
                    {{result.rendered_add|safe}}
                    {% if link_creation and result.object|can_add:attach %}
                        <input type="submit" class="{{"Button"|button}}" value="{% trans "ADD" %}"/>
                    {% endif %}
                </form>

            {% endif %}
            </li>

        {% empty %}
            <li>{% trans "No result matching given query" %}</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block CreationBlock %}
    {% if user.get_profile.is_contributor %}
        <form method="get" action="/object/create/" enctype="text/plain">
            <ul id="createbar">
                {% with type_form4creation.visible_fields.0 as field %}
                    <span id="select_type">{{field.label }}</span>
                    <li>
                    {{ field }}
                {% endwith %}
                <input type="submit" class="{{"Button"|button}}" value="{% trans "CREATE !" %}"/>
                </li>
            </ul>
            <ul id="importbar">
                <li class="{{"Button"|button}}" id="ImportButton">
                <a href="/import/csv/">
                    <span class="ui-button-text">{% trans "Import" %}</span>
                </a>
                </li>
                <li class="{{"Button"|button}}" id="ImportBOMButton">
                <a href="/import/bom/">
                    <span class="ui-button-text">{% trans "Import a BOM" %}</span>
                </a>
                </li>
            </ul>
        </form>
    {% else %}
        <p>{% trans "You can not create an object since you are not a contributor."%}</p>
    {% endif %}
{% endblock %}




