{% extends "MiddleDisplayObject.htm" %}

<!-- Manage html display in the Content div which correspond to the "revisions" menu -->

{% block content %}
	<h3>REVISIONS :</h3>
	<input type="submit" value="DELETE"><input type="submit" value="NEW"><br>
	<br>
	<table class="Content">
	{% for type, reference, revision, status in object_revisions %}
		<tr class="Content">
			<td class="Content"><a href="/object/{{Type}}/{{Reference}}/{{Revision}}/">{{reference}}</a></td>
				<td class="Content">{{revision}}</td>
					<td class="Content">{{type}}</td>
						<td class="Content">{{status}}</td>
		</tr>	
	{% endfor %}
	</table>
{% endblock %}

