{% extends "base.html" %}
{% load i18n plmapp_tags %}

<!-- Manage html display in the Content div which correspond to the "doc-cad" menu -->

{% block content %}
    <form method="post" action="">	

        {% if user.get_profile.is_contributor %}
            {{ parts_formset.management_form }}
            <a class="{{"Button"|button}}" href="./add/"><span class="ui-button-text">{% trans "ADD" %}</span></a>
            {% if parts_formset.forms %}
                <input type="submit" class="{{"Button"|button}}" value="{% trans "DISCONNECT" %}"/>
            {% endif %}
        {% endif %}

        <table class="Content">
            {% for link in all_parts %}

                <tr class="Content">
                    {% with link.part as part %}
                        {% if user.get_profile.is_contributor and link.id in forms %}
                            {% with forms|key:link.id as form %} 
                                {{ form.id }}
                                {{ form.document }}
                                {{ form.part }}
                                <td class="Content" style="width:50px; text-align:center">{{ form.delete }}</td>
                            {% endwith %}
                        {% else %}
                            <td class="Content"> - </td>
                        {% endif %}
                        <td class="Content">{{ part.type }}</td>
                        <td class="Content">
                            <a href="{{ part.plmobject_url }}"/>
                                {{ part.reference }}
                            </a>
                        </td>
                        <td class="Content">{{ part.revision }}</td>
                    {% endwith %}
                </tr>
            {% empty %}
                <tr>
                    <td>
                        {% trans "There are no parts attached to this document" %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </form>
{% endblock %}


