{% extends "base.html" %}
{% load i18n plmapp_tags %}

{% block title %}{% trans "openPLM: error" %}{% endblock %}
{% block leftcolumn %} {% endblock %}


{% block main %}
    <div id="ActiveBox">

        <div id="ActiveArea">
            <h3 class="hplm">{% trans "Error" %}</h3>
            <p style="padding:2em;">{{ message }}</p>
            <p style="padding:2em;"><a href="javascript:back();">{% trans "go back" %}</a> </p>

            <div class="clearfix"></div>

        </div>

    </div>
{% endblock %}

