{% extends "base.html" %}
{% load i18n plmapp_tags %}
{% load humanize %}

<!-- Manage html display in the Content div which correspond to the "history" menu -->

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/timeline.css" />

{% endblock %}

{% block extrahead %}
    <link rel="alternate" type="application/atom+xml" href="../atom/">
    <link rel="alternate" type="application/rss+xml" href="../rss/">
{% endblock %}
{% block content %}
    {% regroup object_history.object_list by get_day as histories %}

    {% for group in histories %}
        <div class="timeline">
            <h3 class="hplm">{{ group.grouper|naturalday|capfirst}}</h3>

            <dl>
                {% for histo in group.list %}
                    <dt class="changeset" id="{{histo.id}}">
                    <span class="time">
                        {{histo.date|date:"G:i"}}
                    </span>
                    {% spaceless %}
                    <a href="/user/{{histo.user|urlencode }}/">
                        <span class="user">{{histo.user}}</span>
                    </a>
                    {% endspaceless %}
                    <span class="action">
                        {{histo.action}}
                    </span>
                    {% if show_identifiers %}
                        <a href="{{ histo.plmobject.plmobject_url}}">{{ histo.title }}</a>
                        <span>:</span>
                    {% endif %}
                    {% if show_revisions %}
                        <span class="revision">{{ histo.plmobject.revision }}</span>
                    {% endif %}
                    </dt>
                    <dd>
                    <div class="details">
                        {{ histo.details|linebreaksbr }}
                    </div>
                    </dd>
                {% endfor %}
            </dl>
        </div>
    {% endfor %}
    {% show_pages_bar object_history request %}
{% endblock %}

