{% extends "base.html" %}
{% load i18n plmapp_tags %}
{% load humanize %}

<!-- Manage html display in the Content div which correspond to the "history" menu -->

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/timeline.css" />

{% endblock %}

{% block extrahead %}
    <link rel="alternate" type="application/atom+xml" href="../rss/">
{% endblock %}
{% block content %}
    {% regroup object_history by get_day as histories %}

    {% for group in histories %}
        <div class="timeline">
            <h3>{{ group.grouper|naturalday|capfirst}}</h3>

            <dl>
                {% for histo in group.list %}
                    <dt class="changeset" id="{{histo.id}}">
                    <span class="time">
                        {{histo.date|date:"G:i"}}
                    </span>
                    {% if show_revisions %}
                        <span class="revision">{{ histo.plmobject.revision }}</span>
                    {% endif %}
                    <span class="action">
                        {{histo.action}}
                    </span>
                    <a href="/user/{{histo.user|urlencode }}/">
                        <span class="user">
                            {{histo.user}}
                        </span>
                    </a>
                    </dt>
                    <dd>
                    <div class="details">
                        {{ histo.details|linebreaks }}
                    </div>
                    </dd>
                {% endfor %}
            </dl>
        </div>
    {% endfor %}
{% endblock %}

