{% load i18n plmapp_tags highlight %}

<div class="identity_card ic-{{type}}">

    <div class="id_thumbnail">
        <div class="id_thumbnail_inner">
            <a href="{% block object_url %}{{object.plmobject_url}}{% if request.user.is_anonymous %}public/{% endif %}{% endblock %}">
                <img src="{% block thumbnail_url %}{% endblock %}"/>
            </a>
        </div>
    </div>
    <div class="id_details">

        {% block id_details %}
        {% endblock %}
    </div>

</div>
