{% extends "DisplayHomePage.htm" %}

<!-- Middle page between the BaseDisplayObject.htm and the pages which correspond to each menu -->

<!-- Manage the text displayed between title tags -->
{% block title %}
	{{log_in_person}} | {{object_type}} | {{object_reference}} | {{object_revision}} 
{% endblock %}

<!-- Manage the Navigate block which have an object menu, a banner and a content -->
{% block ObjectBlock %}
    <div id="PageBanner">
		<h2>
		    <a href="/object/{{object_type}}/{{object_reference}}/{{object_revision}}/navigate/0/0/100/">
		        <img src="/media/img/navigation2.png" title="Navigate" alt="Navigate" width="30" height="30"/>
	        </a>
	        <a href="../attributes/">
		        <img src="/media/img/navigation2.png" title="Attributes" alt="Attributes" width="30" height="30"/>
	        </a>
		    {{object_type}} | {{object_reference}} | {{object_revision}}
	    </h2>
	</div>
    <div id="PageLeft">
    	<table class="MenuTable">
	        <tr>
		        {% for menu_item in object_menu %}
    				{% ifequal menu_item current_page%}
    				<td class="CurrentPage">
        				<a href="/object/{{object_type}}/{{object_reference}}/{{object_revision}}/{{menu_item}}/">
        				    {{ menu_item|upper }}
				        </a>
    				</td>
    				{%else%}
    				<td>
        				<a href="/object/{{object_type}}/{{object_reference}}/{{object_revision}}/{{menu_item}}/">
        				    {{ menu_item|upper }}
				        </a>
    				</td>
    				{%endifequal%}
    		    {% endfor %}
			</tr>
    	</table>
    </div>
	
	<div id="PageCenter">
		{% block content %}{% endblock %}
		
	</div>

{% endblock %}
