{% extends "DisplayHomePage.htm" %}
{% load i18n plmapp_tags %}

<!-- Middle page between the BaseDisplayObject.htm and the pages which correspond to each menu -->

<!-- Manage the text displayed between title tags -->
{% block title %}
    openPLM - {{user}} - {{object_type}} | {{object_reference}} | {{object_revision}}
{% endblock %}

<!-- Manage the Navigate block which have an object menu, a banner and a content -->
{% block ObjectBlock %}
    <div id="ReferenceArea">
        <div class="icon {% if obj.is_document %}
                document_icon
            {%else %} {% if obj.is_part %}
                part_icon
            {% else %} user_icon {% endif %} {% endif %}"></div>
        <h2>
            <span class="type">{{object_type}}</span> 
            {% if object_reference != '-' %}
                // <span class="reference">{{object_reference}}</span> // <span class="revision">{{object_revision}}</span> // <span class="name">{% firstof obj.name obj.get_full_name%}</span>
            {% endif%}
        </h2>
    </div>
    <div id="ActiveArea">
        {% if is_readable %}
            {% if object_menu and not navigate_bool %}
                <div id="menu">
                    <ul id="MenuList">
                        {% for menu_item in object_menu %}
                            <li {% ifequal menu_item current_page%} class="CurrentPage" {%endifequal%}>
                            <a href="{{obj.plmobject_url}}{{menu_item}}/">
                                {% filter upper %}{% trans menu_item %}{% endfilter%}
                            </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div id="main_content">
                {% block content %}{% endblock %}	
            </div>
        {% else %}
            <p>{% trans "You are not allowed to see this object" %}</p>
        {% endif %}

        <div class="clearfix"></div>

    </div>
{% endblock %}
