{% extends "DisplayHomePage.htm" %}
{% load i18n %}

<!-- Middle page between the BaseDisplayObject.htm and the pages which correspond to each menu -->

<!-- Manage the text displayed between title tags -->
{% block title %}
	openPLM - {{user}} - {{object_type}} | {{object_reference}} | {{object_revision}}
{% endblock %}

<!-- Manage the Navigate block which have an object menu, a banner and a content -->
{% block ObjectBlock %}
    <div id="ReferenceArea">
        <h2>
		    {{object_type}} | {{object_reference}} | {{object_revision}}
	    </h2>
	</div>
	<div id="ActiveArea">
        {% if is_readable %}
            {% if object_menu and not navigate_bool %}
                <ul id="MenuList">
                    {% for menu_item in object_menu %}
                        {% ifequal menu_item current_page%}
                        <li class="CurrentPage">
                        {%else%}
                        <li>
                        {%endifequal%}
                            <a href="{{obj.plmobject_url}}{{menu_item}}/">
                            {% filter upper %}{% trans menu_item %}{% endfilter%}
                            </a>
                        </li>
                    {% endfor %}
                    <li style="width:100%"></li>
                </ul>
            {% endif %}
            {% block content %}{% endblock %}	
        {% else %}
            <p>{% trans "You are not allowed to see this object" %}</p>
        {% endif %}
	</div>
{% endblock %}
