{% extends "MiddleDisplayObject.htm" %}
{% load i18n %}

<!-- Manage html display in the Content div which correspond to the "attributes" menu -->

{% block content %}
	<form method="post" action="." >
	    Display : 
	    {{filter_object_form}}
        <input type="submit" value="FILTER">
    </form>
    <br />
    <div id="Navigate">
        
        <img class="img_nav" style="left:{{x_img_position}}px; top:{{y_img_position}}px;"
                 src="{{picture_path}}" usemap="#_anonymous_0" title="Navigate" alt="Navigate" />
        {{map_areas|safe}}
        
    </div>
{% endblock %}


