{% extends "MiddleDisplayObject.htm" %}
{% load i18n plmapp_tags %}

{% block css %}

    <link rel="stylesheet" href="/media/css/navigate.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/media/css/showLoading.css" type="text/css" media="screen" charset="utf-8" />
{% endblock css %}

{% block scripts %}
    <script type="text/javascript" src="/media/js/jquery.hoverIntent.minified.js"></script>
    <script type="text/javascript" src="/media/js/jquery.showLoading.min.js"></script>
    <script type="text/javascript" src="/media/js/navigate.js"></script>

{% endblock %}


<!-- Manage html display in the Content div which correspond to the "attributes" menu -->

{% block content %}
    <div id="Navigate">
        <div id="navAddForm">
            <form method="POST" action="">
                <table>
                    <tbody>
                        <td></td>
                    </tbody>
                </table>
            </form>
        </div>

        <div style="display:none;" id="dialog-confirm" title='{% trans "Attach document?" %}'>
            <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;">&nbsp;</span>
            <p>
            {% trans "Attach the selected document?" %}
            </p>
            <form method="POST" action="">
                <table>
                    <tbody>
                        <td></td>
                    </tbody>
                </table>
            </form>

        </div>
        <div id="navThumbnails">

            <div id="navThumbnailsBar">
                <span id="navDocument">&nbsp;</span>
                <button id="closeThumbnails">{% trans "Close" %}</button>
            </div>
            <div id="thumbnailsList">
            </div>

        </div>
        <div id="imgManagement">
            <span class="imgManagement" id="topControl">&nbsp;</span>
            <span class="imgManagement" id="leftControl">&nbsp;</span>
            <span class="imgManagement" id="rightControl">&nbsp;</span>
            <span class="imgManagement" id="bottomControl">&nbsp;</span>
        </div>
        <div id="DivNav" style="left:{{x_img_position}}px; top:{{y_img_position}}px;width:{{img_width}}px; height:{{img_height}}px;">
            <!--<img id="ImgNav" src="{{picture_path}}" title="Navigate" alt="Navigate" />-->
            <div id="ImgNav" style='width:{{img_width}}px; height:{{img_height}}px; background: url("{{picture_path}}") no-repeat 0 0;'>
            </div>

            {{map_areas|safe}}

        </div>

        <div id="FilterNav">
            {% trans "Display :" %}
            <form method="post" action="." >
                <ul id="FilterNavUl">
                    {{filter_object_form.as_ul}}
                    <li><input id="FilterButton" type="submit" class="{{"Button"|button}}" value="{% trans "FILTER" %}"/></li>
                </ul>
            </form>
        </div>
    </div>
{% endblock %}


