{% extends "base.html" %}
{% load i18n plmapp_tags %}

{% block css %}

    <link rel="stylesheet" href="/media/css/navigate.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/media/css/showLoading.css" type="text/css" media="screen" charset="utf-8" />
{% endblock css %}

{% block scripts %}
    <script type="text/javascript" src="/media/js/jquery.showLoading.min.js"></script>
    <script type="text/javascript" src="/media/js/raphael-min.js"></script>
    <script type="text/javascript" src="/media/js/navigate.js"></script>

    <script>
        $(function () {
            draw_edges({{edges|safe}}, {{img_width}}, {{img_height}});
        });
    </script>
{% endblock %}


<!-- Manage html display in the Content div which correspond to the "attributes" menu -->

{% block content %}
    <div id="Navigate">
        <div id="navAddForm">
            <form method="POST" action="">
                <table>
                    <tbody>
                        <td></td>
                    </tbody>
                </table>
            </form>
        </div>

        <div style="display:none;" id="dialog-confirm" title='{% trans "Attach document?" %}'>
            <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;">&nbsp;</span>
            <p>
            {% trans "Attach the selected document?" %}
            </p>
            <form method="POST" action="">
                <table>
                    <tbody>
                        <td></td>
                    </tbody>
                </table>
            </form>

        </div>
        <div id="navThumbnails">

            <div id="navThumbnailsBar">
                <span id="navDocument">&nbsp;</span>
                <button id="closeThumbnails">{% trans "Close" %}</button>
            </div>
            <div id="thumbnailsList">
            </div>

        </div>
        <div id="imgManagement">
            <span class="imgManagement" id="topControl">&nbsp;</span>
            <span class="imgManagement" id="leftControl">&nbsp;</span>
            <span class="imgManagement" id="rightControl">&nbsp;</span>
            <span class="imgManagement" id="bottomControl">&nbsp;</span>
        </div>
        <div id="add-buttons">
            {% if obj.is_part or obj.is_document %}
                {% include "navigate/add_buttons.html" %}
            {% endif %}
        </div>
        <div id="zoom-toolbar">
            <img src="/media/img/navigate/zoom-out.png"
                class="ui-button ui-widget ui-state-default ui-corner-all"
                id="zoom-out"
                title="{% trans "Zoom out" %}"/>
            <img src="/media/img/navigate/zoom-in.png"
                class="ui-button ui-widget ui-state-default ui-corner-all"
                id="zoom-in"
                title="{% trans "Zoom in" %}"/>
            <img src="/media/img/navigate/zoom-fit-best.png"
                class="ui-button ui-widget ui-state-default ui-corner-all"
                id="zoom-fit-all"
                title="{% trans "Fit all" %}"/>
            <img src="/media/img/navigate/zoom-original.png"
                class="ui-button ui-widget ui-state-default ui-corner-all"
                id="zoom-original"
                title="{% trans "Original" %}"/>
            
        </div>
        <div id="slider-scale"></div>
        <div id="DivNav" style="width:{{img_width}}px; height:{{img_height}}px;">
            <div id="navholder"></div>
            {{map_areas|safe}}

        </div>

        <div id="FilterNav">
            {% trans "Display :" %}
            <form method="post" action="." >
                <ul id="FilterNavUl">
                    {{filter_object_form.as_ul}}
                    <li><input id="FilterButton" type="submit" class="{{"Button"|button}}" value="{% trans "FILTER" %}"/></li>
                </ul>
            </form>
        </div>
    </div>
{% endblock %}


