{% extends "base.html" %}
{% load i18n plmapp_tags %}
<!-- Manage html display in the Content div which correspond to the "revisions" menu -->

{% block content %}
    {% if add_revision_form and obj.is_revisable %}
        <form id="form-revision" method="POST"
            {% if confirmation %} class="confirmation" {% endif %} action="">
            {{ add_revision_form }}

            {% if confirmation %}
                {% block confirmation %} {% endblock %}
            {% endif %}

            <input type="submit" class="{{"Button"|button}}" value="{% trans "NEW" %}"/>
        </form>
    {% else %}
        {% if is_readable %}

            {% if obj.is_cancelled %}
                {% trans "You can not revise this object since it is cancelled." %}
            {% else %}
                {% if obj.is_deprecated %}
                    {% trans "You can not revise this object since it is deprecated." %}
                {% else %}
                    {% trans "You can not revise this object since a revision already exist." %}
                {% endif %}
            {% endif %}

        {% endif %}
    {% endif %}
    <table class="Content">
        {% for object in revisions %}
            <tr class="Content">
                <td class="Content">
                    <a href="{{object.plmobject_url}}">{{object.reference}}</a>
                </td>
                <td class="Content">{{object.revision}}</td>
                <td class="Content">{{object.type}}</td>
                <td class="Content">{{object.state.name}}</td>
            </tr>	
        {% endfor %}
    </table>
{% endblock %}

