{% extends "base.html" %}
{% load i18n plmapp_tags %}

<!-- Manage html display in the Content div which correspond to the "parents" menu -->

{% block scripts %}

    <script type="text/javascript" src="/media/js/bom.js"></script>
    <script>
        $(function() {
            $( "#id_date_0" ).datepicker();
        });
    </script>

{% endblock %}

{% block content %}

    <form method="GET" action="">
        {% trans "Display :" %}
        <ul>
            {{ display_form.as_ul }}
        </ul>
        <input type="submit" class="{{"Button"|button}}" value="{% trans "GO !" %}"/><br/>
    </form>
    <table class="Content">

        {% include "parts/bom_thead.html" %}
        {% for level, link in parents %}
            <tr class="Content"> 
                <td class="Content">-{{ level }}</td>
                <td class="Content"> {{ link.order }} </td>
                <td class="Content"> {{ link.quantity }} </td>
                <td class="Content"> {{ link.get_unit_display }} </td>
                {% with link.parent as parent %}
                    <td class="Content"> 
                        <a href="{{parent.plmobject_url}}">
                            {{ parent.reference }}
                        </a>
                    </td>
                    <td class="Content"> {{ parent.revision }} </td>
                    <td class="Content"> {{ parent.type }} </td>
                    <td class="Content"> {{ parent.name }} </td>
                    <td class="Content"> {{ parent.state.name }} </td>
                    <td class="Content"> {{ states|key:parent.id }} </td>
                {% endwith %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}

