{% extends "base.html" %}
{% load i18n plmapp_tags highlight %}


{% block css %}
{% endblock %}

{% block content  %}


    <div>
        <p>{% trans "This part has been published on OpenERP." %}</p>
        <p>{% trans "Links:" %}</p>

        <ul>
            <li><a href="{{product.uri}}">{% blocktrans with product.name as name %}Product: {{name}}{% endblocktrans %}</a></li>
            {% for bom in boms%}
                <li><a href="{{bom.uri}}">{% blocktrans with bom.name as name %}BOM: {{name}}{% endblocktrans %}</a></li>
            {% endfor %}

        </ul>

    </div>
{% endblock %}
