/* *************************************************************************************** */
/*              STYLE FOR ELEMENTS WHEN WE ARE IN NAVIGATE MODE DISPLAY                    */
/* *************************************************************************************** */

div#Navigate
{
    position: relative;
    height: 500px;
    margin: 0;
    overflow: hidden;
    -webkit-box-shadow: 0 0 115px 80px #888 inset;
    box-shadow: 0 0 115px 80px #888 inset;
}

#closeThumbnails {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 5px;
    right: 5px;
}

div.node {
    text-align:center;
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    position: absolute;
    width: 100px;
    height: 70px;
}


.node, .node * {
    z-index: 5;
}

div.main_node {
    width: 110px;
    height: 80px;

}

div.node > div.table {
    display: table;
    width: 100%;
    height: 100%;

}

div.node.nocard p {
    color: #fff;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    font-size: 11px;
    max-width: 90px;
    padding: 4px;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

div.node.card {
    width: 200px;
    height: 107px;
}
div.node.card.n_part {
    width: 150px;
}

div.card div.bar {
    width: 5em;
    margin-left: 1em;
    height: 8px;
    border-radius: 5px 5px 0 0;
    background-color: transparent;
    position: relative;
    z-index: 10;
    text-align: left;
}

.node .bar .menuitem {
    height: 8px;
    left: 0.5em;
    position: absolute;
    display: inline-block;
    width: 1em;
}

.main_node.card .identity_card {
    border: 2px solid #E6007E;
}
.main_node.card.n_part .identity_card {
    border-color: #009FE3;
}
.main_node.card.n_document .identity_card {
    border-color: #312783;
}
.main_node.card .bar {
    background-color: #343434;
}
.main_node .bar .menuitem {
    background-color: #FFFFFF;
    border-top: 2px solid #343434;
    border-left: 2px solid #343434;
    border-right: 2px solid #343434;
    border-radius: 1px 1px 0 0;
}
.main_node.card .bar .menuitem {
    border-color: #E6007E;
}
.main_node.card.n_part .bar .menuitem {
    border-color: #009FE3;
}
.main_node.card.n_document .bar .menuitem {
    border-color: #312783;
}


div.identity_card {
    width: 195px;
    height: 95px;
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}
div.n_part .identity_card {
    height: 95px;
    width: 145px;
}
div.n_part.card div.id_thumbnail {
    display: none;
}

div.identity_card div.id_details {
    height: 95px;
    left: 100px;
    width: 95px;
    border-left: none;
}
.n_part .identity_card div.id_details {
    left: -6px;
    width: 145px;
}
div.identity_card div.id_thumbnail {
    width: 70px;
    height: 80px;
    margin: 2px;
    border-radius: 2px;
}

div.identity_card div.id_thumbnail_inner {
    height: 80px;
    width: 70px;
}

div.identity_card div.id_thumbnail img {
    max-width: 70px;
    max-height: 80px;
}
div.identity_card div.id_details {
    height: 90px;
    padding: 0 0.5em;
    left: 80px;
    font-size: 80%;
}


div.main_node.nocard p {
    color: #343434;
    text-shadow: 1px 1px #ccc;
}

#navDocument {
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-right: 20px;
    color: #eee;
}

#navThumbnailsBar {
    border-bottom: 1px solid #7f7c7c;
    background-color: #343434;
    padding: 3px;
    overflow: hidden;
}

#add-buttons {
    left: 150px;
    top: 5px;
    position: absolute;
}

div#navThumbnails {
    width: 180px;
    display:none;
    float:right;
    height: 500px;
    z-index:70;
    position:absolute;
    height: 500px;
    right:0px;
    border-left: 1px solid #7f7c7c;
    background: rgba(52, 52, 52, 0.7);
}

div#thumbnailsList {
    overflow-y: scroll;
}
div#thumbnailsList img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 160px;
    max-height: 160px;
    float: none;
}
div#thumbnailsList a > div {
    border-bottom: 1px solid #7f7c7c;
}
div#thumbnailsList a span {
    color: #eee;
}

div#thumbnailsList > * {
    display: block;
}

div#DivNav {
    position: absolute;
}

div.node > a > span {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none;
}

.node-toolbar {
    position:absolute;
    right: 2px;
    bottom: 2px;
    display:none;
    z-index:50;
}

.node-toolbar button, .node-toolbar a {
    z-index:50;
    width: 24px;
    height: 24px;
}


/* BUTTONS WE USE TO SLIDE THE NAVIGATE IMAGE UP/DOWN/LEFT/RIGHT */
div#imgManagement
{
    position: absolute;
    left: 20px;
    top: 10px;
    width: 100px;
    height: 100px;
    border-style: none;
    cursor: pointer;
}

div#zoom-toolbar,
div#zoom-toolbar > *,
div#imgManagement,
div#add-buttons,
div#add-buttons > *,
div#slider-scale {
    z-index: 800;
}

div#zoom-toolbar{
    margin:120px 10px;
}

div#slider-scale {
    height:200px;
    margin:160px 62px;
}

span.imgManagement {
    background: url("../img/navigate_arrows.png") no-repeat;
}

#topControl
{
    width: 100px;
    height: 30px;
    float: left;
    background-position: 0 0;
}

#rightControl
{
    width: 50px;
    background-position: center right;
    height: 40px;
    float: right;
}
#leftControl
{
    width: 50px;
    background-position: center left;
    height: 40px;
    float: left;
}

#bottomControl
{
    width: 100px;
    background-position: bottom center;
    height: 30px;
    float: left;
}

/* Display links to previous and next revisions */
div#RevisionsNav
{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index : 99;
    padding: 2px;
    width: 250px;
    color: #000;
}
/* DISPLAY A BOX IN THE NAVIGATEAREA FOR FILTER OPTIONS */
div#FilterNav
{
    position: absolute;
    border: 1px solid #242424;
    right: 10px;
    top: 60px;
    z-index: 99;
    padding: 3px;
    width: 250px;
    text-align: left;
    background-color: #555555;
    -moz-border-radius: 5px;
    color: #eee;
}

div#FilterNav label {
    color:black;
}

#main_content div#FilterNav > form > ul
{
    display: none;
    text-indent: 0px;
    background-color: #dddddd;
    width: 100%;
}

#main_content div#FilterNav > form > ul > li
{
    display: block;
    text-indent: 0px;
    text-align: right;
    font-size: 75%;
    padding: 5px;
}

div.n_part.nocard {
    background-image: url("../img/navigate/part.png");
}
div.n_document.nocard  {
    background-image: url("../img/navigate/document.png");
}
div.n_group.nocard  {
    background-image: url("../img/navigate/user.png");
}
div.n_user.nocard  {
    background-image: url("../img/navigate/user.png");
}
div.n_part.main_node.nocard  {
    background-image: url("../img/navigate/part_main.png");
}
div.n_document.main_node.nocard  {
    background-image: url("../img/navigate/document_main.png");
}
div.n_group.main_node.nocard  {
    background-image: url("../img/navigate/user_main.png");
}
div.n_user.main_node.nocard {
    background-image: url("../img/navigate/user_main.png");
}

.edge {
    position: absolute;
    z-index: 3;

}

.edge p {
    padding-left: 0.1em;
    font-weight: bold;
    font-family:monospace;
    font-size: 9;
    color: #373434;
}

.edge:hover,
.edge p:hover,
.edge.hover p {
    z-index: 100;
    color: #095b7f;
    text-shadow: 1px 1px #ccc;
}

/* Override main_content and ActiveArea to remove paddings */
#main_content, #ActiveArea {
    padding: 0 !important;
}

