.trans {    
    position:absolute;
    z-index:10;      
    top: 0;
    left: 0;
    height: 100%;
    background-color: #E4E3E2;
}  

.menu {
    font-size: 9pt;
    width: 15em;
    overflow: auto;
    line-height: 1.3;
    max-height: 100%;
}

#tree {
    padding: 5px;
    margin-left: 0;
}
#main_content #tree > li {
    margin-left: 0.5em;
}
.menu ul {

    margin: 0;
    padding: 0;
    z-index: 500;
    list-style-type: none;
    display: list-item;

}
.menu li.expander {
    list-style-type: none !important;
}
.menu span {
    color: #222;
}
.menu .part { word-wrap: break-word; }
span.expander, .part {
    cursor: pointer;
}

.menu span.part_hidden {
    color: #656565;
}

li.expanded > span.expander:after {
    content: "▸  ";
}

li.open > span.expander:after {
    content: "▾  ";
}
#zoom {
    position:absolute;
    height: 60%;
    top: 30%;
    right: 60px;
    z-index:10;  
}
#main_content {
    position: relative;
}

div#zoom-toolbar,
div#zoom-toolbar > * {
    z-index: 800;
}

div#zoom-toolbar{
    position: absolute;
    right: 25px;
    top: 20%;
}

div#main_content {
    background-color: #848484;
    box-shadow: 0 0 115px 80px #545454 inset;
} 
div#main_content p {
    color: white;
}
#toolbar {
    top: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
    background:none;
    border: none;
}
#views-toolbar, #colors-toolbar {
    display: inline;
}
.tb-btn.view {
    margin-right: -0.1em;
    height: 36px;
    width: 40px;
    padding: 3px;
}
label.tb-btn.view {
    width: 34px;
    height: 30px;
}
.view span.ui-icon {
    background: url('../img/views.png') no-repeat;
    top: 1px;
    left: 3px;
    height: 32px;
    width: 32px;
    margin: 0;
    padding: 0;
}
button.view span.front {
    background-position: -32px 0;
}
button.view span.right {
    background-position: -64px 0;
}
button.view span.top {
    background-position: -96px 0;
}
button.view span.rear {
    background-position: -128px 0;
}
button.view span.left {
    background-position: -160px 0;
}
button.view span.bottom {
    background-position: -192px 0;
}
.view span.transparency {
    background-position: -224px 0;
}
.view span.random {
    background-position: -256px 0;
}
.view span.axis {
    background-position: -288px 0;
}


