<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html"; charset="ISO-8859-1">
	<link rel="stylesheet" type="text/css" href="/media/openplm.css" />
	<title>{% block title %} {% endblock %}</title>
	<META name="Robots" content="none">
	<meta name="Author" content="philippe.joulaud pierre.cosquer" />
	<meta name="Classification" content="" />
	<meta name="Description" content="" />
	<meta name="keywords" content="" />
	<script type="text/javascript" src="/media/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="/media/navigate.js"></script>
	<script type="text/javascript" src="/media/search_form.js"></script>

</head>

<body>
<center>
	<div id="HomePage" >
		<div id="SearchArea">
			<div id="SearchBox">
				{% block SearchBlock %}{% endblock %}
			</div>
			{% ifequal class4search_div 'DisplayHomePage4Addition.htm'%}
			    <div id="ResultBox4Search">
			{% else %}
			    <div id="ResultBox">
			{% endifequal %}
				{% block ResultBlock %}{% endblock %}
			</div>
		</div>
		<div id="NavigateArea">
			<div id="LoggedPersonBox">
				{% block LoggedPersonBlock %}{% endblock %}
			</div>
			<div id="CreationBox">
				{% block CreationBlock %}{% endblock %}
			</div>
			<div id={{class4div}}>
				{% block ObjectBlock %}{% endblock %}
			</div>
		</div>
		<br class="clear" />
    </div>
</center>
</body>
</html>
