{% extends "MiddleDisplayObject.htm" %}
{% load i18n %}

<!-- Manage html display in the Content div which correspond to the "lifecycle" menu -->

{% block content %}
    <form action="" method="POST">
    {% if is_signer_dm %}
        <input name="action" type="submit" value="DEMOTE"/>
        {% endif %}
        {% if is_signer and obj.is_promotable %}
        <input name="action" type="submit" value="PROMOTE"/>
        {% endif %}
    </form>
        <br/>
    	<br/>
    	<table class="Content">
    		<tr class="Content">
    		{% for status, is_current_state in object_lifecycle %}
    			<td class="Content" align="center"
    				{% if is_current_state %} style="background-color:#0808fa" {% else %} style="background-color:#7a7af8" {% endif %}>
    				{{status|upper}}</td>
    				{% if not forloop.last %}<td align="center">===&gt;</td>{% endif %}
    		{% endfor %}
    		</tr>
    	</table>
{% endblock %}

