{% extends "BaseDisplayHomePage.htm" %}
{% load i18n %}
{% load plmapp_tags %}

<!-- Manage html display of the home page -->

{% block LoggedPersonBlock %}
    {% get_current_language as LANGUAGE_CODE %}
    <table>
    <tr>
    <td>
    <a href="/logout/">
        <img src="/media/img/exit.png" title="Exit" alt="Exit" width="30" height="30"/>
    </a>
    </td>
    <td>
    <a href="/user/{{user}}/">{{user}}</a> | {{current_date|date:"D j N Y, G:i"}}
    </td>
    <td>
    <form action="/i18n/setlang/" method="post">
        <select name="language">

            {% for lang in LANGUAGES %}
            <option value="{{ lang.0 }}" {% ifequal LANGUAGE_CODE lang.0 %} selected="selected"{% endifequal %} >{{ lang.1 }}</option>
            {% endfor %}
        </select>
        <input type="submit" value={% trans "Go" %} />
    </form>
    </td>
    </tr>
    </table>
{% endblock %}

{% block SearchBlock %}
<b>{% trans "Search for :" %}</b>
	<form id="search_form" method="get" action="." enctype="text/plain">
        <table class="Content" id="search_table">
			{{type_form.as_table}}
			{{attributes_form.as_table}}
		</table>
		<input type="submit" value={% trans "SEARCH !" %}>
	</form>
{% endblock %}

{% block ResultBlock %}
	<table class="Result">
            {% for object in results %}
                {% if forloop.first %}
                    {% if not object.username %}                
                        <col width="30%"/>
                        <col width="30%"/>
                        <col width="10%"/>
                        <col width="30%"/>
                    {% endif %}
				    <tr class="Content">
				    {% if object.username %}
                    <th class="Content">{% trans "Username" %}</th>
                    <th class="Content">{% trans "Last name" %}</th>
                    {% else %}
                    <th class="Content">{% trans "Type" %}</th>
                    <th class="Content">{% trans "Reference" %}</th>
                    <th class="Content">{% trans "Rev." %}</th>
                    <th class="Content">{% trans "Name" %}</th>
                    {% endif %}
            		</tr>
		        {% endif %}
			    {% if forloop.counter|divisibleby:"2" %}
			        <tr class="Content2">
		        {% else %}
		            <tr class="Content">
	            {% endif %}
				        {% if object.username %}
				            <td class="Content">
				                <a href="{{object.plmobject_url}}">
				                        {{object.username|escape}}
		                        </a>
	                        </td>
				            <td class="Content">{{object.last_name|escape}}</td>
				        {% else %}
				            <td class="Content">{{object.type|escape}}</td>
				            <td class="Content reference">
				                <a href="{{object.plmobject_url}}">
				                        {{object.reference|escape}}
		                        </a>
	                        </td>
				            <td class="Content">{{object.revision|escape}}</td>
                            <td class="Content">
                                <span class="info">
                                    <span class="small">{{object.name|trunc:10}}</span>
                                    <span class="long">{{object.name}}</span>
                                </span>
				            </td>
				        {% endif %}
                    </tr>
            {% empty %}
            <tr>{% trans "No result matching given query" %}</tr>
			{% endfor %}
	</table>
{% endblock %}

{% block CreationBlock %}
	<form method="get" action="/object/create/" enctype="text/plain">
		<table class="Content">
			<tr>
				{% for attribute in type_form %}
					<th>{{attribute.label_tag}}</th>
					<td>{{attribute}}</td>
				{% endfor %}
				<td><input type="submit" value={% trans "CREATE !" %}></td>
			</tr>
		</table>
	</form>
{% endblock %}




