{% extends "MiddleDisplayObject.htm" %}
{% load i18n %}

<!-- Manage html display in the Content div which correspond to the "attributes" menu -->

{% block content %}
	<table class="Result">
	    <tr class="Content">
            <th class="Content"> {% trans "Type" %} </th>
            <th class="Content"> {% trans "Reference" %} </th>
            <th class="Content"> {% trans "Revision" %} </th>
            <th class="Content"> {% trans "Role" %} </th>
	    </tr>
	    {% for link in object_user_link %}
		    <tr class="Content">
			    <td class="Content">{{link.plmobject.type}}</td>
			    <td class="Content">
			        <a href={{link.plmobject.plmobject_url}}>
			            {{link.plmobject.reference}}
			        </a>
		        </td>
			    <td class="Content">{{link.plmobject.revision}}</td>
			    <td class="Content">{{link.role}}</td>
		    </tr>
	    {% endfor %}
	</table>
{% endblock %}


