{% extends "MiddleDisplayObject.htm" %}

<!-- Manage html display in the Content div which correspond to the "doc-cad" menu -->

{% block content %}
    <form method="post" action="">	
        {{ doc_cad_formset.management_form }}
	    <table>
	         <tr>
	            <td>
                    <div class="ButtonLeft">
                        <div class="Button">
                            <a class="Button" href="./add/">ADD</a>
                        </div>
                    </div>
                </td>
	            <td><input type="submit" value="DISCONNECT"></td>
	        </tr>
        </table>
        <table class="Content">
	        {% for form in doc_cad_formset.forms %}
                    {{ form.id }}
                    {{ form.part }}
                    {{ form.document }}
		        <tr class="Content">
			        <td class="Content">{{ form.delete }}</td>
			            <td class="Content">{{ form.instance.document.type }}</td>
			            <td class="Content">
			                <a href="/object/{{ form.instance.document.type }}/{{ form.instance.document.reference }}/{{ form.instance.document.revision }}"/>
			                    {{ form.instance.document.reference }}
		                    </a>
	                    </td>
			            <td class="Content">{{ form.instance.document.revision }}</td>
		        </tr>	
	        {% endfor %}
	    </table>
    </form>
{% endblock %}


