{% extends "MiddleDisplayObject4modification.htm" %}

<!-- Manage html display in the Content div which correspond to the "attributes" menu -->

{% block content %}
	<h3>OBJECT CREATION:</h3>
		<table class="Content">
			<tr class="Content">
				<th>Type</th><td>{{ object_type }}</td>
			</tr>
			{% for field, type_of_attribute in non_modifyable_attributes %}
				<tr class="Content">
					<th>{{field}}</th>
					{% ifequal type_of_attribute 'Person' %}
					<td>{{log_in_person}}</td>
					{% endifequal %}
					{% ifequal type_of_attribute 'Date' %}
					<td>{{ current_date|date:"l j F Y, G:i" }}</td>
					{% endifequal %}
				</tr>
			{% endfor%}
			<form method="post" action="." >	
			<tr class="Content">
				<th><label for="id_type">&nbsp</label></th>
				<td><input id="id_type" type="hidden" name="type" value="{{ObjectType}}" /></td>
			</tr>
			{% for attribute in creation_form %}
				<tr class="Content">
					<th>{{attribute.label_tag}}</th><td>{{attribute}}</td><td>{{ attribute.errors }}</td>
				</tr>
			{% endfor %}
			<tr class="Content">
				<td>&nbsp</td><td><input type="submit" value="CREATE" /></td>
			</tr>
			</form>
		</table>
					
	
{% endblock %}


