{% extends "BaseDisplayHomePage.htm" %}
{% load i18n %}

<!-- Manage html display of the home page -->

{% block LoggedPersonBlock %}
    {% get_current_language as LANGUAGE_CODE %}
    <table>
    <tr>
    <td>
    <a href="/logout/">
        <img src="/media/img/exit.png" title="Exit" alt="Exit" width="30" height="30"/>
    </a>
    </td>
    <td>
    <a href="/user/{{user}}/">{{user}}</a> | {{current_date|date:"D j N Y, G:i"}}
    </td>
    <td>
    <form action="/i18n/setlang/" method="post">
        <select name="language">

            {% for lang in LANGUAGES %}
            <option value="{{ lang.0 }}" {% ifequal LANGUAGE_CODE lang.0 %} selected="selected"{% endifequal %} >{{ lang.1 }}</option>
            {% endfor %}
        </select>
        <input type="submit" value={% trans "Go" %} />
    </form>
    </td>
    </tr>
    </table>
{% endblock %}

{% block SearchBlock %}
<b>{% trans "Search for :" %}</b>
	<form method="get" action="." enctype="text/plain">
		<table class="Content">
			{{type_form.as_table}}
			{{attributes_form.as_table}}
		</table>
		<input type="submit" value={% trans "SEARCH !" %}>
	</form>
{% endblock %}

{% block ResultBlock %}
	<table class="Result">
		{% if results %}
			{% for object in results %}
				{% if forloop.first %}
				    <tr class="Content">
				    {% if object.username %}
                    <th class="Content">{% trans "Username" %}</th>
                    <th class="Content">{% trans "First name" %}</th>
                    <th class="Content">{% trans "e-mail." %}</th>
		            {% else %}
                    <th class="Content">{% trans "Type" %}</th>
                    <th class="Content">{% trans "Reference" %}</th>
                    <th class="Content">{% trans "Rev." %}</th>
                    <th class="Content">{% trans "Name" %}</th>
                    {% endif %}
            		</tr>
		        {% endif %}
			    {% if forloop.counter|divisibleby:"2" %}
			        <tr class="Content2">
		        {% else %}
		            <tr class="Content">
	            {% endif %}
				        {% if object.username %}
				            <td class="Content">
				                <a href="{{object.plmobject_url}}">
				                        {{object.username|escape}}
		                        </a>
	                        </td>
				            <td class="Content">{{object.first_name|escape}}</td>
				            <td class="Content">
				                    {{object.email|escape}}...
				            </td>
				        {% else %}
				            <td class="Content">{{object.type|escape}}</td>
				            <td class="Content">
				                <a href="{{object.plmobject_url}}">
				                        {{object.reference|escape}}
		                        </a>
	                        </td>
				            <td class="Content">{{object.revision|escape}}</td>
				            <td class="Content">
				                <a class="info">
				                    {{object.name|escape|slice:":10"}}...
				                    <span>{{object.name|escape}}</span>
			                    </a>
				            </td>
				        {% endif %}
				    </tr>
			{% endfor %}
		{% endif %}
	</table>
{% endblock %}

{% block CreationBlock %}
	<form method="get" action="/object/create/" enctype="text/plain">
		<table class="Content">
			<tr>
				{% for attribute in type_form %}
					<th>{{attribute.label_tag}}</th>
					<td>{{attribute}}</td>
				{% endfor %}
				<td><input type="submit" value={% trans "CREATE !" %}></td>
			</tr>
		</table>
	</form>
{% endblock %}




