{% extends "MiddleDisplayObject.htm" %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/media/css/timeline.css" />

{% endblock %}


<!-- Manage html display in the Content div which correspond to the "attributes" menu -->

{% block content %}

    {% regroup object_user_link|dictsort:"role" by role as links %}

    {% for group in links %}
        <div class="timeline">
            <h3>{{ group.grouper|capfirst}}</h3>

            <ul>
                {% for link in group.list|dictsort:"plmobject.type" %}
                    <li>
                    <span>{{link.plmobject.type}}</span>
                    <a href={{link.plmobject.plmobject_url}}>
                        <span>{{link.plmobject.reference}}</span>
                    </a>
                    <span>{{link.plmobject.revision}}</span>
                    </li>
                {% endfor %}
            </ul>
            <br />
        </div>

    {% endfor %}

{% endblock %}


