{% extends "MiddleDisplayObject.htm" %}

<!-- Manage html display in the Content div which correspond to the "attributes" menu -->

{% block content %}
	{% ifequal object_type 'User' %}
	    <a href="/user/{{object_reference}}/modify/"><img src="/media/img/edit_button.png" title="EDIT" alt="EDIT" /></a>
	    <a href="/user/{{object_reference}}/password/"><img src="/media/img/password_button.png" title="PASSWORD" alt="PASSWORD" /></a>
	{% else %}
	    <a href="/object/{{object_type}}/{{object_reference}}/{{object_revision}}/modify/"><img src="/media/img/edit_button.png" title="EDIT" alt="EDIT" /></a>
	{% endifequal %}
    <br />
	<br />
	<table class="Content">
	{% for description,attribute in object_attributes %}
		<tr class="Content">
			<td class="Content">{{description}}</td><td class="Content">{{attribute}}</td>
		</tr>
	{% endfor %}
	</table>
	</form>
	{{user}}<br>
	{% for message in messages %}
	{{message}}<br>
	{% endfor %}
{% endblock %}


