{% extends "MiddleDisplayObject.htm" %}
{% load i18n plmapp_tags %}

<!-- Manage html display in the Content div which correspond to the "management" menu -->
{% block css %}
    <link rel="stylesheet" type="text/css" href="/media/css/timeline.css" />
{% endblock %}



{% block content %}
    {% if is_owner %}
        <a class="{{"Button"|button}}" href="./add/" ><span class="ui-button-text">{% trans "Notify" %}</span></a>
    {% else %}
        {% if is_notified %}
            <form  method="POST" action="./delete/">
                <input type="hidden" name="link_id" value="{{ remove_notify_link.id }}"/>
                <input name="action" type="submit" class="{{"Button"|button}}" value="{% trans "Unnotify me" %}" />
            </form>
        {% else %}
            <form  method="POST" action="./add/">
                {{ notify_self_form.as_p }}
                <input name="action" type="submit" class="{{"Button"|button}}" value="{% trans "Notify me" %}" />
            </form>
        {% endif %}
    {% endif %}

    {% regroup object_management|dictsort:"role" by role as links %}

    {% for group in links %}
        <div class="timeline">
            <h3>{{ group.grouper|capfirst}}</h3>

            <dl>
                {% for link in group.list|dictsort:"plmobject.type" %}
                    <dt class="changeset">
                    <span>{{link.user.first_name}}</span>
                    <span>{{link.user.last_name}},</span>
                    <a href="/user/{{link.user.username}}/"><span>{{link.user.username}}</span></a>,
                    {% with link.user.get_profile as profile %}
                        <span>{{ profile.rank }},</span>
                    {% endwith %}

                    <span>{{link.user.is_active|yesno:"active,inactive"}}</span>
                    </dt>
                    <dd>
                    {% if is_owner %}
                        <ul class="management">
                            <li>
                            <span>&nbsp;</span>
                            <a class="{{"Button"|button}}" href="./replace/{{link.id}}/"><span class="ui-button-text">{% trans "REPLACE" %}</span></a>
                            </li>
                        {% ifequal link.role 'notified'%}
                            <li>

                            <form action="./delete/" method="POST">
                                <input name="link_id" type="hidden" value="{{link.id}}"/>
                                <input name="action" type="submit" class="{{"Button"|button}}" value="{% trans "Delete" %}" />
                            </form>
                            </li>
                        </p>
                        {% endifequal %}
                    {% endif %}
                    </dd>
                {% endfor %}
            </dl>
        </div>

    {% endfor %}

{% endblock %}


