{% extends "MiddleDisplayObject.htm" %}
{% load i18n plmapp_tags %}


{% block css %}

    <link rel="stylesheet" href="/media/css/lifecycle.css" type="text/css" charset="utf-8" />
{% endblock css %}


<!-- Manage html display in the Content div which correspond to the "lifecycle" menu -->

{% block content %}
    <div id="form-promote-dialog" title="{% trans "Are you sure?" %}" style="display:none">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>{% trans "If you promote or demote this object, you may not be allowed to undo this action." %}</p>
    </div>

    <form id ="form-promote" class="confirmation"  action="" method="POST">
        {% if is_signer_dm %}
            {% if obj.is_editable %}
                <input name="action" type="submit" class="{{"Button"|button}}" value="DEMOTE" />
            {% else %}
                <p>{% trans "You can not demote this object since its state is official or more advanced." %}</p>
            {% endif %}
        {% else %}
            <p>{% trans "You do not have the permission to demote this object." %}</p>
        {% endif %}
        {% if is_signer %}
            {% if obj.is_promotable %}
                <input name="action" type="submit" class="{{"Button"|button}}" value="PROMOTE" />
            {% else %}
                <p>{% trans "You can not promote this object:" %}</p>
                {{ obj.promotion_errors.as_ul }}
            {% endif %}
        {% else %}
            <p>{% trans "You do not have the permission to promote this object." %}</p>
        {% endif %}
    </form>
    <div class="lifecycle">
        {% for status, is_current_state, signer in object_lifecycle %}
            <div class="state_wrapper">
                <div class="state
                    {% if forloop.first %}
                        draft
                    {% endif %}
                    {% if status == obj.lifecycle.official_state.name %}
                        official 
                    {% endif %}
                    {% if forloop.last %}
                        deprecated
                    {% endif %}
                    {% if is_current_state %}
                        active
                    {% endif %}
                    ">
                    <span class="state">{{status}}</span>
                </div>
                {% if not forloop.last %}
                    <div class="management">
                        <span class="signer">{{signer}}</span>
                    </div>
                {% endif %}
            </div>
            {% if not forloop.last %}
                <div class="arrow
                    {% if is_current_state %}
                        active
                    {% endif %}
                    ">&gt;</div>
            {% endif %}
        {% endfor %}

    </div>
{% endblock %}

