{% extends "MiddleDisplayObject.htm" %}
{% load i18n %}

<!-- Manage html display in the Content div which correspond to the "lifecycle" menu -->

{% block content %}
    <form action="" method="POST">
        {% if is_signer_dm and obj.is_editable %}
        <input name="action" type="submit" value="DEMOTE"/>
        {% endif %}
        {% if is_signer and obj.is_promotable %}
        <input name="action" type="submit" value="PROMOTE"/>
        {% endif %}
    </form>
    	<table class="Content">
    		<tr class="Content">
    		{% for status, is_current_state in object_lifecycle %}
    			<td class="Content"
    				{% if is_current_state %}
    				    style="text-align:center; background-color:#0808fa"
    				{% else %}
    				    style="text-align:center; background-color:#7a7af8"
				    {% endif %}>
    				{{status|upper}}</td>
    				{% if not forloop.last %}
    				    <td style="text-align:center">===&gt;</td>
				    {% endif %}
    		{% endfor %}
    		</tr>
    	</table>
{% endblock %}

