{% extends "BaseDisplayHomePage.htm" %}

<!-- Manage html display of the home page -->

{% block LoggedPersonBlock %}
    <p><a href="/logout/">
        <img src="/media/img/exit.png" title="Exit" alt="Exit" width="30" height="30"/>
    </a>
    {{log_in_person}} | {{current_date|date:"l j F Y, G:i"}}</p>
{% endblock %}

{% block SearchBlock %}
	<b>Search for :</b>
	<form method="get" action="." enctype="text/plain">
		<table class="Content">
			{{type_form.as_table}}
			{{attributes_form.as_table}}
		</table>
		<input type="submit" value="SEARCH !">
	</form>
{% endblock %}

{% block ResultBlock %}
	<table class="Result">
		{% if results %}
			{% for object in results %}
				{% if forloop.first %}
				    <tr class="Content">
				    {% if object.username %}
		                <th class="Content">Username</th>
			            <th class="Content">First name</th>
			            <th class="Content">e-mail.</th>
		            {% else %}
			            <th class="Content">Type</th>
			            <th class="Content">Reference</th>
			            <th class="Content">Rev.</th>
                        <th class="Content">Name</th>
                    {% endif %}
            		</tr>
		        {% endif %}
			    {% if forloop.counter|divisibleby:"2" %}
			        <tr class="Content2">
		        {% else %}
		            <tr class="Content">
	            {% endif %}
				        {% if object.username %}
				            <td class="Content">
				                <a href="{{object.plmobject_url}}">
				                        {{object.username|escape}}
		                        </a>
	                        </td>
				            <td class="Content">{{object.first_name|escape}}</td>
				            <td class="Content">
				                    {{object.email|escape}}...
				            </td>
				        {% else %}
				            <td class="Content">{{object.type|escape}}</td>
				            <td class="Content">
				                <a href="{{object.plmobject_url}}">
				                        {{object.reference|escape}}
		                        </a>
	                        </td>
				            <td class="Content">{{object.revision|escape}}</td>
				            <td class="Content">
				                <a class="info">
				                    {{object.name|escape|slice:":10"}}...
				                    <span>{{object.name|escape}}</span>
			                    </a>
				            </td>
				        {% endif %}
				    </tr>
			{% endfor %}
		{% endif %}
	</table>
{% endblock %}

{% block CreationBlock %}
	<form method="get" action="/object/create/" enctype="text/plain">
		<table class="Content">
			<tr>
				{% for attribute in type_form %}
					<th>{{attribute.label_tag}}</th>
					<td>{{attribute}}</td>
				{% endfor %}
				<td><input type="submit" value="CREATE !"></td>
			</tr>
		</table>
	</form>
{% endblock %}




