{% extends "base.html" %}
{% load i18n plmapp_tags %}

{% block extrahead %}
    {{ modification_form.media }}
{% endblock %}

{% block content %}
	<h3 class="hplm">{% trans "OBJECT MODIFICATION:" %}</h3>
    <form method="post" action="." {% if modification_form.is_multipart %}enctype="multipart/form-data"{% endif %}>{% csrf_token %}	
	<table class="Content">
		<tr class="Content">
			<th>{% trans "Type" %}</th>
			<td>{{ object_type }}</td>
		</tr>

		<tr class="Content hidden">
			<th><label for="id_type">&nbsp;</label></th>
			<td><input id="id_type" type="hidden" name="type" value="{{object_type}}" /></td>
		</tr>
		{% for attribute in modification_form %}
			<tr class="Content">
				<th>{{attribute.label_tag}}</th>
				<td>{{attribute}}</td><td>{{ attribute.errors }}</td>
			</tr>
		{% endfor %}
		<tr class="Content">
            <td></td><td><input type="submit" class="tb-btn" value="{% trans "MODIFY" %}" />
            
                <input type="submit" class="tb-btn" value="{% trans "Undo" %}" name="_undo"/>
            </td>
		</tr>
	</table>
		</form>
{% endblock %}


