{% extends class4search_div %}

<!-- Middle page between the BaseDisplayObject.htm and the pages which correspond to each menu -->

<!-- Manage the text displayed between title tags -->
{% block title %}
	openPLM - {{log_in_person}} - {{object_type}} | {{object_reference}} | {{object_revision}} |{{class4search_div}}
{% endblock %}

<!-- Manage the Navigate block which have an object menu, a banner and a content -->
{% block ObjectBlock %}
    <div id="PageBanner">
		<h2>
		    {% ifequal class4div 'NavigateBox4User' %}
		        <a href="/user/{{object_reference}}/navigate/">
		            <img src="/media/img/nav.png" title="Navigate" alt="Navigate" width="30" height="30"/>
	            </a>
	            <a href="../attributes/">
		            <img src="/media/img/navigation2.png" title="Attributes" alt="Attributes" width="30" height="30"/>
	            </a>
            {% else %}
                <a href="/object/{{object_type}}/{{object_reference}}/{{object_revision}}/navigate/">
		            <img src="/media/img/nav.png" title="Navigate" alt="Navigate" width="30" height="30"/>
	            </a>
	            <a href="../attributes/">
		            <img src="/media/img/navigation2.png" title="Attributes" alt="Attributes" width="30" height="30"/>
	            </a>
            {% endifequal %}
		    {{object_type}} | {{object_reference}} | {{object_revision}}
	    </h2>
	</div>
    <div id="PageLeft">
    	<table class="MenuTable">
	        <tr>
		        {% for menu_item in object_menu %}
    				{% ifequal menu_item current_page%}
    				<td class="CurrentPage">
    				{%else%}
    				<td>
    				{%endifequal%}
    				{% ifequal object_type 'User' %}
    				    <a href="/user/{{object_reference}}/{{menu_item}}/">
        				    {{ menu_item|upper }}
				        </a>
    				{% else %}
        				<a href="/object/{{object_type}}/{{object_reference}}/{{object_revision}}/{{menu_item}}/">
        				    {{ menu_item|upper }}
				        </a>
			        {% endifequal %}
    				</td>
    		    {% endfor %}
			</tr>
    	</table>
    </div>
	
	<div id="PageCenter">
		{% block content %}{% endblock %}
		
	</div>

{% endblock %}
