{% extends "DisplayHomePage.htm" %}

<!-- Middle page between the BaseDisplayObject.htm and the pages which correspond to each menu -->

<!-- Manage the text displayed between title tags -->
{% block title %}
	{{log_in_person}} | {{object_type}} | {{object_reference}} | {{object_revision}} 
{% endblock %}

<!-- Manage the Navigate block which have an object menu, a banner and a content -->
{% block ObjectBlock %}
    <div id="PageBanner">
		<h2>
		    <a href="./navigate.htm">
		        <img src="/media/img/navigation2.png" title="Navigate" alt="Navigate" width="50" height="50"/>
	        </a>
		    {{object_type}} | {{object_reference}} | {{object_revision}}
	    </h2>
	</div>
    <div id="PageLeft">
    	<table class="MenuTable">
	        <tr>
		        {% for menu_item in object_menu %}
    				<td>
    				<a href="/object/{{object_type}}/{{object_reference}}/{{object_revision}}/{{menu_item}}/">{{ menu_item|upper }}</a>
    				</td>
    		    {% endfor %}
			</tr>
    	</table>
    </div>
	
	<div id="PageCenter">
		{% block content %}{% endblock %}
		<p>&nbsp</p>
		<p>&nbsp</p>
	</div>
	<br class="clear" />
{% endblock %}
