{% extends "MiddleDisplayObject.htm" %}
{% load i18n %}

<!-- Manage html display in the Content div which correspond to the "attributes" menu -->

{% block content %}
	

<div id="Navigate">
    <div id="slideshow">  
        <div id="slidesContainer">  
            <div class="slide">  
            <img src="/media/img/photo1.jpg" />
            </div>  
            <div class="slide">  
            <img src="/media/img/photo2.jpg" />
            </div>  
        </div>  
    </div>  
</div>
{% endblock %}


