/*text that indicate which upload form is displayed (add files or check-in)*/
#add_text{
    cursor:pointer;
}

/*style for list of files selected*/
#div_files{
    margin : 1%;
    display:table;
}

#div_files div.file_p{
    padding : 10px;
    border-style:groove;
    border-width: 2px;
    border-radius: 4px; 
}

span.del_link{
    cursor:pointer;
    float:left;
    position:relative;
    bottom:5px;
}

/****************/
.warning{
    color: black;
    font-weight: bold;
    margin:20% 0;
    padding: 5px; 
    border-radius: 4px;
    background-color: #F03838;
}

#add_file_container {
    margin: 1em;
}
.up_fail{
    display:table;
    color: black;
    font-weight: bold;
    margin: 20px 0;
    padding: 5px;
    border-radius: 4px;
    background-color: #ED7F10;
}

