ul.Result {
    overflow: none;
    max-height: none;
}

li.Result {
    list-style: none !important;
    border-bottom: 3px solid #ccc;
    margin-bottom: 1em;
    margin-left: 0em !important;
}

#inline_search_form > * {
    vertical-align: middle;
}

#results {
    margin: 0.5em;
}
