{% extends "identity_card.html" %}
{% load i18n plmapp_tags highlight humanize %}

{% block thumbnail_url%}{{STATIC_URL}}img/icon_user.png{% endblock %}
{% block id_title %}
    <p>
    <span class="type">{% trans "Group" %}</span>
    </p>
    <br/>
{% endblock %}

{% block id_details%}
    <p>
    <span class="name">{{object.name}}</span>
    </p>
    <p>
    <span class="description">{{object.description|linebreaksbr}}</span>
    </p>
 
    {% if sort == "recently-added" and not restricted %}
        <p>
        <span class="sort">
            {% blocktrans with object.ctime|naturaltime as ctime %}created {{ctime}}{% endblocktrans %}
        </span>
        </p>
    {% endif %}
{% endblock %}
